<codx-views #view funcID="TMT041" entityName="TM_Sprints" [views]="views"
> </codx-views>
<ng-template #sprintsListTasks>
 <app-sprints-list-tasks></app-sprints-list-tasks>
 </ng-template> 
<ng-template #sprintsTaskDetails>
  <app-sprints-task-details></app-sprints-task-details>
</ng-template> 

<ng-template #sprintsKanban>
<app-sprints-task-kanban></app-sprints-task-kanban>
</ng-template> 
<ng-template #sprintsCalendar>
  <app-sprints-task-calendar></app-sprints-task-calendar>
</ng-template> 
<ng-template #sprintsSchedule>
schedule
</ng-template> 