.row-week {
  margin: 0 -2px;
}

.week-item {
  border-radius: 3px;
  padding: 5px 5px;
  margin: 3px;
  text-align: center;
  width: 40px;
  background-color: #f9f9f9;
}

.week-item:hover {
  background-color: #c0d5f3;
  cursor: pointer;
}

.week-item.active {
  background-color: #005dc7;
}

.week-item.active div {
  color: #fff !important;
}

.task-weekbox {
  padding: 15px;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.text-dark {
  color: #161719 !important;
}

.calender-day {
  font-size: 38px;
  line-height: normal;
}

.border-0 {
  border: 0 !important;
}