<div class="modal-header">

</div>
<div class="modal-body">
    <div class="d-flex flex-column">
        <div class="d-flex align-items-center justify-content-between note-title">
            <div class="text-dark fw-bold">
                <codx-label name="lblDeleteNote" formName="Notes" default="Cập nhật danh sách ghim"></codx-label>
            </div>
            <span></span>
        </div>
        <codx-listview [itemTemplate]="template" #listview1 [funcId]="''" entityName="WP_Notes"
            gridViewName="'grvNotes'" service="WP" (valueProperty)="valueProperty($event)">
        </codx-listview>
        <ng-template #template let-item>
            <div *ngIf="item.isPin == true">
                <div class="flex">
                    <div class="" style="width: 400px;">
                        <div class="note-content mb-3">
                            <div class="checkbox-list">
                                <div *ngIf="item.memo != null">
                                    <div class="note-date d-flex justify-content-end align-items-center">
                                        <span class=" text-primary">{{item.createdOn |
                                            date:'dd-MM-yyy'}}</span>
                                        <div class="dropdown ms-2">
                                            <button class="btn btn-icon btn-xs h-20px" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <span class="icon-more_vert icon-18"></span>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item">
                                                    <div class="d-flex align-items-center">
                                                        <span class="icon-edit text-warning icon-18"></span>
                                                        <span class="ms-3">Nav 1</span>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item">
                                                    <div class="d-flex align-items-center">
                                                        <span class="icon-list_alt text-primary icon-18"></span>
                                                        <span class="ms-3">Nav 2</span>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item">
                                                    <div class="d-flex align-items-center">
                                                        <span class="icon-clear text-danger icon-18"></span>
                                                        <span class="ms-3">Nav 3</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-flex flex-column note-option">
                                        <span [innerHTML]="item.memo"></span>
                                    </div>
                                </div>
                                <div *ngIf="item.memo == null">
                                    <div class="note-date d-flex justify-content-end align-items-center">
                                        <span class=" text-primary">{{item.createdOn | date:'dd-MM-yyy'}}</span>
                                        <div class="dropdown ms-2">
                                            <button class="btn btn-icon btn-xs h-20px" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <span class="icon-more_vert icon-18"></span>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item">
                                                    <div class="d-flex align-items-center">
                                                        <span class="icon-edit text-warning icon-18"></span>
                                                        <span class="ms-3">Nav 1</span>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item">
                                                    <div class="d-flex align-items-center">
                                                        <span class="icon-list_alt text-primary icon-18"></span>
                                                        <span class="ms-3">Nav 2</span>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item">
                                                    <div class="d-flex align-items-center">
                                                        <span class="icon-clear text-danger icon-18"></span>
                                                        <span class="ms-3">Nav 3</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-flex flex-column note-option">
                                        <div *ngFor="let itemList of item.checkList">
                                            <div *ngIf="itemList.status == null">
                                                <div class="my-1">
                                                    <div>.{{itemList.listNote}}</div>
                                                </div>
                                            </div>
                                            <div *ngIf="itemList.status != null">
                                                <div class="my-1">
                                                    <codx-input #checkBoxNote id="checkBoxNote" type="checkbox"
                                                        label="{{itemList.listNote}}"
                                                        [checked]="itemList?.status == 'true' || itemList?.status == '1'"
                                                        labelPosition="After" [disabled]="false" class="test-check"
                                                        (valueChange)="valueChange($event)"></codx-input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="" style="margin-left: 20px;">
                        <codx-input #checkBoxNote id="checkBoxNote" type="checkbox" field="checkboxUpdateNotePin"
                            labelPosition="After" [disabled]="false" class="test-check"
                            (valueChange)="valueChange($event, item.recID, item)"></codx-input>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="onEditNote()">Cập nhật</button>
</div>