<!-- <codx-form #form [headerText]="header" [body]="body" [dialog]="dialog" [formModel]="dialog.formModel">
    <ng-template popup add #body>
        <div class="pw-listcard mt-6">
            <div class="mx-3 mb-6" *ngFor="let item of view.dataService.data">
                <div class="pw-card delay-500" (click)="onEditNote(item.recID)">
                    <codx-card-img cardCss="border rounded-4" [imageId]="item.recID" imgCss="h-150px w-100"
                        icoTitleCss="icon-assignment icon-16" [title]="item.title" [desc2]="item.memo"
                        [imageObjType]="'WP_NoteBooks'">
                    </codx-card-img>
                </div>
            </div>
        </div>
    </ng-template>

</codx-form>

<codx-views #view [funcID]="'MWP0094'" service="WP" entityName="WP_NoteBooks" [predicate]="predicate"
    [dataValue]="dataValue" idField="recID">
</codx-views>
 -->
