<codx-form #form [headerText]="header" [body]="body" [dialog]="dialog" [formModel]="dialog.formModel">
    <ng-template popup add #body>
        <!-- <codx-card-img #lstCardNoteBooks funcId="" entityName="WP_NoteBooks" gridViewName="'grvNoteBooks'" service="WP">
        </codx-card-img>
        <div class="pw-listcard mt-6">
            <ng-template #template let-item>
                <div class="pw-card delay-500" (click)="saveNote(item.recID)">
                    <div class="wp-card_img h-150px">
                        <codx-img class="w-100" [width]="200" [objectType]="'WP_NoteBooks'" [objectId]="item.recID">
                        </codx-img>
                    </div>
                    <div class="d-flex align-items-center py-2 px-3">
                        <i class="icon-book icon-20 me-3"></i>
                        <div class="d-flex flex-column">
                            <div class="text-dark fs-6 fw-bold">{{item.title}}</div>
                            <div class="text-gray-500 text-italic" [innerHTML]="item.memo"></div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div> -->
        <!-- <codx-card-img cardCss="border rounded-4" [imageId]="item.recID"
        imgCss="h-150px w-100" icoTitleCss="icon-assignment icon-16" [title]="item.title"
        [desc2]="item.memo" [imageObjType]="'WP_NoteBooks'">
    </codx-card-img> -->
        <div class="pw-listcard mt-6">
            <div class="mx-3 mb-6" *ngFor="let item of view.dataService.data">
                <div class="pw-card delay-500" (click)="saveNote(item.recID)">
                    <codx-card-img cardCss="border rounded-4" [imageId]="item.recID" imgCss="h-150px w-100"
                        icoTitleCss="icon-assignment icon-16" [title]="item.title" [desc2]="item.memo"
                        [imageObjType]="'WP_NoteBooks'">
                    </codx-card-img>
                </div>
            </div>
        </div>
    </ng-template>

</codx-form>

<codx-views #view [funcID]="'MWP0094'" service="WP" entityName="WP_NoteBooks" [predicate]="predicate"
    [dataValue]="dataValue" idField="recID">
</codx-views>