<div id="chat_manager">
    <div class="chat-manager-wrap">
        <div #chatBoxWrap id="chat-boxes-wrap">
            <ng-container *ngFor="let item of listChatBoxes; let i = index">
                <codx-chat-boxs [receiverId]="item.colabId" [receiverName]="item.colabName" [groupId]="item.groupId"
                    [senderId]="item.ownerId" [senderName]="item.ownerName" (close)="onChatBoxClose(item)"
                    (minimize)="onChatBoxMinimize(item)" (groupIdChange)="onGroupIdChange($event, i)"></codx-chat-boxs>
            </ng-container>
        </div>
        <div #chatStackWrap id="chat-stack-wrap">
            <div class="symbol-floating">
                <div class="symbol-group symbol-hover flex-column  w-100px">
                    <ng-container *ngFor="let item of listStack; let i = index; trackBy: listStackTrackBy">
                        <div class="symbol symbol-circle symbol-50px menu-item" data-bs-toggle="tooltip"
                            data-bs-placement="left" title="Nguyễn Văn A" *ngIf="i < numberShowStack"
                            (click)="stackItemSelected(i)">
                            <codx-img [objectId]="item.colabId" [objectName]="item.colabName" objectType="AD_Users"
                                class="symbol symbol-30 symbol-circle me-3">
                            </codx-img>
                            <div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2">
                            </div>
                        </div>
                    </ng-container>

                    <div class="symbol symbol-50 symbol-circle symbol-light symbol-more"
                        *ngIf="listStack.length >  numberShowStack"><span
                            class="symbol-label fw-bold">{{(listStack.length - numberShowStack)}}+</span></div>
                </div>
            </div>
        </div>
    </div>
</div>