<ng-container>

  <!--Begin Quen password-->
  <div class="d-flex flex-column flex-root bg-linear-gradient-blue" style="display: none;">
    <!--begin::Login-->
    <div class="login  login-forgot-on d-flex flex-row-fluid">
      <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid"
        style="background-image: url(/assets/codx/bg/bg-login.png);">
        <div class="d-flex flex-column flex-lg-row bg-white rounded-3 p-15">
          <div class="login-form  position-relative overflow-hidden">
            <!--begin::Login Header-->
            <div class="d-flex flex-center">
              <a href="#">
                <img src="/assets/logos/logo-1.svg" class="h-35px" alt="">
              </a>
            </div>
            <!--end::Login Header-->
            <!--begin::Login forgot password form-->
            <div class="login-forgot text-dark">
              <div class="align-middle mb-10 mt-10">
                <h2 class="fw-bolder fs-1">Quên mật khẩu</h2>
                <p class="text-dark">Điền email bạn đã đăng kí, chúng tôi <br /> sẽ gửi cho bạn link đặt
                  lại mật khẩu.</p>
              </div>

              <form method="post" class="form fv-plugins-bootstrap fv-plugins-framework" (ngSubmit)="submit()"
                [formGroup]="formGroup">
                <div class="form-group mb-5 fv-plugins-icon-container" #groupemail>
                  <label class="fw-bold text-start">Email</label>
                  <div class="d-flex form-control form-control-solid form-control-lg px-3">
                    <!--begin::Text-->
                    <div class="d-flex flex-column flex-grow-1">
                      <!-- <lvInput class="form-control border-0 p-0 ps-3" field="Email1" placeholder="Email"
                        [ele]="groupemail" ngDefaultControl [Group]="formGroup" ControlName="email">
                      </lvInput> -->
                      <input class="form-control border-0 p-0 ps-3" field="email" placeholder="Email" formControlName="email"/>
                    </div>
                    <!--end::Text-->
                  </div>
                </div>
                <div class="form-group d-grid gap-2 mb-5">
                  <button type="submit" class="btn btn-primary fw-bolder px-6 py-3"
                    [disabled]="formGroup.invalid">Gửi</button>
                </div>
              </form>
            </div>
            <!--end::Login forgot password form-->
          </div>
        </div>
      </div>
    </div>
    <!--end::Login-->
  </div>
  <!--End Quan password-->

</ng-container>