:host {
  height: 100%;
  margin: 0;

  .flex-root {
    height: 100%;
  }

  .e-listview,
  .e-listview * {
    font-size: 13px !important;
  }

}

.page-loaded {
  codx-layout {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
}

div.flex-root {
  background-color: #fff;
  font-size: 13px;
}