:host {
  height: 100%;
  margin: 0;

  .flex-root {
    height: 100%;
  }

  .flex-root {
    border: 2px aqua solid;
  }
}

.page-loaded {
  codx-layout {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
}

app-dashboard {
  background-color: white;
}

body {
  background-color: white !important;
}