<div class="bg-white border-radius-8 user-navleft">
    <div class="d-flex flex-column">
      <div class="d-flex flex-column text-center user-inf">
        <div class="form-group">
          <div class="image-input image-input-outline" id="kt_user_add_avatar">
            <div class="image-input-wrapper">
              <lv-image-viewer #imageAvatar class="symbol symbol-90 symbol-circle"
                [objectId]="dataEmployee.dataRoot?dataEmployee.dataRoot.employeeID:''"
                [objectName]="dataEmployee.dataRoot?dataEmployee.dataRoot.employeeName:''" objectType="HR_Employees"
                funcId="HR003" isAllowEdit="true" updateDirect="true" [width]="90">
              </lv-image-viewer>
  
            </div>
            <!-- <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change"
              data-toggle="tooltip" title="" data-original-title="Change avatar">
              <span class="icon-edit icon-18 text-dark-50"></span>
              <input id="fileAvatar" type="file" name="profile_avatar" (change)="handleFileInput($event)"
                accept=".png, .jpg, .jpeg">
              <input type="hidden" name="profile_avatar_remove">
            </label> -->
          </div>
        </div>
  
      </div>
      <div class="d-flex flex-column text-center mb-3 mt-10">
        <div class="d-flex flex-column text-center mb-1">
          <div class="text-center align-items-center">
            <a class="font-weight-bold font-size-h4 text-dark-75 text-hover-primary">{{dataEmployee?dataEmployee.dataRoot.employeeName
              : '---'}}</a>
  
          </div>
  
  
        </div>
  
        <div class="text-muted px-6">{{dataEmployee && dataEmployee.employeeInfo.positionName &&
          dataEmployee.employeeInfo.positionName !='---' ?
          dataEmployee.employeeInfo.positionName : 'Vị trí công việc'}}</div>
        <div class="text-dark-75 px-6">{{ dataEmployee && dataEmployee.employeeInfo.organizationName &&
          dataEmployee.employeeInfo.organizationName!= '---' ?
          dataEmployee.employeeInfo.organizationName : 'Bộ phận'}}</div>
      </div>
      <div class="nav-scroll">
  
        <div id="kt_aside_menu" class="aside-menu" data-menu-vertical="1" data-menu-scroll="1"
          data-menu-dropdown-timeout="100">
          <div class="navi navi-bold navi-hover navi-active navi-link-rounded ml-5">
            <div class="navi-item">
              <a (click)="scrollTo('InfoPersonal')" class="navi-link" [ngClass]="CheckActive('InfoPersonal')">
                <span class="navi-icon mr-2">
                  <mat-icon class="">person</mat-icon>
                </span>
                <div class="d-flex flex-column">
                  <span class="navi-text font-size-lg">Cá nhân</span>
                  <span class="text-muted font-size-sm">Mô tả thông tin cá nhân</span>
                </div>
              </a>
            </div>
            <div class="navi-item">
              <a (click)="scrollTo('Experences')" class="navi-link" [ngClass]="CheckActive('Experences')">
                <span class="navi-icon mr-2">
                  <mat-icon class="">receipt_long</mat-icon>
                </span>
                <div class="d-flex flex-column">
                  <span class="navi-text font-size-lg">Kinh nghiệm</span>
                  <span class="text-muted font-size-sm">Quá trình làm việc và kinh nghiệm</span>
                </div>
              </a>
            </div>
            <div class="navi-item">
              <a (click)="scrollTo('Skill')" class="navi-link" [ngClass]="CheckActive('Skill')">
                <span class="navi-icon mr-2">
                  <mat-icon class="">business_center</mat-icon>
                </span>
                <div class="d-flex flex-column">
                  <span class="navi-text font-size-lg">Kỹ năng</span>
                  <span class="text-muted font-size-sm">Mô tả kỹ năng</span>
                </div>
              </a>
            </div>
            <div class="navi-item">
              <a (click)="scrollTo('Training')" class="navi-link" [ngClass]="CheckActive('Training')">
                <span class="navi-icon mr-2">
                  <mat-icon class="">school</mat-icon>
                </span>
                <div class="d-flex flex-column">
                  <span class="navi-text font-size-lg">Đào tạo</span>
                  <span class="text-muted font-size-sm">Quá trình học tập & bằng cấp</span>
                </div>
              </a>
            </div>
            <!--  <div class="navi-item">
          <a (click)="scrollTo('Contract')" class="navi-link" [ngClass]="CheckActive('Contract')">
            <span class="navi-icon mr-2">
              <mat-icon class="">history_edu</mat-icon>
            </span>
            <div class="d-flex flex-column">
              <span class="navi-text font-size-lg">Hợp đồng lao động</span>
              <span class="text-muted font-size-sm">Thông tin hợp đồng</span>
            </div>
          </a>
        </div>
        <div class="navi-item">
          <a (click)="scrollTo('Policy')" class="navi-link" [ngClass]="CheckActive('Policy')">
            <span class="navi-icon mr-2">
              <mat-icon class="">card_giftcard</mat-icon>
            </span>
            <div class="d-flex flex-column">
              <span class="navi-text font-size-lg">Chính sách phúc lợi</span>
              <span class="text-muted font-size-sm">Phụ cấp, chế độ</span>
            </div>
          </a>
        </div> -->
  
            <div class="navi-item">
              <a (click)="scrollTo('RelationShip')" class="navi-link" [ngClass]="CheckActive('RelationShip')">
                <span class="navi-icon mr-2">
                  <mat-icon class="">family_restroom</mat-icon>
                </span>
                <div class="d-flex flex-column">
                  <span class="navi-text font-size-lg">Quan hệ gia đình</span>
                  <span class="text-muted font-size-sm">Thân nhân của nhân viên</span>
                </div>
              </a>
            </div>
            <div class="navi-item">
              <a (click)="scrollTo('Hobbie')" class="navi-link" [ngClass]="CheckActive('Hobbie')">
                <span class="navi-icon mr-2">
                  <mat-icon class="">favorite_border</mat-icon>
                </span>
                <div class="d-flex flex-column">
                  <span class="navi-text font-size-lg">Sở thích</span>
                  <span class="text-muted font-size-sm">Sở thích của nhân viên</span>
                </div>
              </a>
            </div>
          </div>
          <!-- nhóm làm việc -->
          <div id="Team">
  
            <div class="px-6 mt-6">
              <ngx-skeleton-loader *ngIf="!employeeMyTeam" count="5" animation="progress"></ngx-skeleton-loader>
              <div *ngIf="employeeMyTeam">
  
                <div class="text-dark font-size-h6 font-weight-bold mb-3">Thành viên nhóm</div>
                <div class="mb-4 d-block">
                  <ng-container *ngFor="let myTeam of employeeMyTeam">
                    <div class="team-user mr-2 mb-3">
                      <lv-image-viewer class="symbol symbol-30 symbol-circle" [tooltip]="myTeam.employeeName"
                        [objectName]="myTeam.employeeName" [objectId]="myTeam.employeeID" objectType="HR_Employees">
                      </lv-image-viewer>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <!-- edit btn -->
  <div *ngIf="!hideEdit">
    <a class="edit-btn" data-title="Chỉnh sửa thông tin nhân viên" *ngIf="!editMode" (click)="editInfoMode()">
      <span class="icon-edit icon-20"></span>
    </a>
    <a class="edit-btn" data-title="Xem thông tin nhân viên" *ngIf="editMode" (click)="viewInfoMode()">
      <span class="icon-text_snippet icon-20"></span>
    </a>
  </div>
  
