.pw-menu .active a,
.pw-menu :hover a {
    color: #0078ff;
}

.pw-menu .active span,
.pw-menu :hover span {
    color: #0078ff;
}

.btn-text {
    width: 500px;
    background-color: white;
    border-color: white;
    margin-left: 40px;
    border: none;
    color: gray;
}

.pin {
    margin-left: 490px;
    cursor: pointer
}