<codx-listview #view [itemTemplate]="templateTask" [selectFirst]="true" funcId="" [pageSize]="10" service="TM"
  assemblyName="ERM.Business.TM" className="TaskBusiness" method="GetListDetailTasksAsync" [predicate]="" [dataValue]=""
  type="listView" [gridViewName]="'grvTasks'" [data]="data">
</codx-listview>

<ng-template #templateTask let-item>
  <div>
    <div class="task-row py-3 px-6">
      <div class="link-task mt-3 pb-3">
        <a href="#List-{{item.createdOn.replaceAll('/','')}}" data-toggle="collapse">{{item.createdOn}}</a>
        <!-- <a href="#List-{{ item[0] }}" data-toggle="collapse">{{item[0]
                |vll:'L1472':'text'|async}} ({{item[1]?.length}}) </a> -->
      </div>
      <!-- <a href="#List-{{item.createdOn.replaceAll('/','')}}" data-toggle="collapse">{{item.createdOn}}
      </a>
      <a style="float: right;cursor: pointer;" href="#List-{{item.createdOn.replaceAll('/','')}}"
        data-toggle="collapse">
        <i class="icon-keyboard_arrow_down icon-16"></i>
      </a> -->
    </div>
    <div id="List-{{item.createdOn.replaceAll('/','')}}" class="collapse show">
      <table class="table w-100 table-action-menu">
        <tbody>
          <tr *ngFor="let item of item.mytasks;trackBy:trackByFn">
            <!-- <td class="pl-0 pr-0 w-0">
              <more-funtion [data]="item" (clickAction)="onChangeStatusTask($event)">
              </more-funtion>
            </td> -->
            <td class="w-250px">
              <div>
                <div class="text-dark font-weight-bold">
                  {{item?.taskName}}
                </div>
              </div>
            </td>
            <td class="w-30px">
              <span [class]="item?.priority|vll:'L0186':'icon'|async"
                [style.color]="(item?.priority|vll:'L0186':'color'|async)"></span>
            </td>
            <td class="w-150px">
              <div class="label label-xxs label-pill label-inline label-light-danger label-status"
                [style.border-color]="(item?.status|vll:'L0614':'color'|async)+'30'"
                [style.background-color]="(item?.status|vll:'L0614':'color'|async)+'30'"
                [style.color]="item?.status|vll:'L0614':'color'|async" style="border: none;">
                {{item?.status|vll:"L0614":"text"|async}}
              </div>
            </td>
            <td>
              <div class="w-150px ">
                <div class="dropdown ml-2" [class.dropdown-customv2]="item.memo" placement="bottom">
                  <button [disabled]="!item?.memo" class="btn" type="button" id="dropdownShowDescription"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="icon-assignment icon-16 text-dark-50 mr-1"></span>
                    <span *ngIf="item?.memo" [innerHTML]="item?.memo" class="task-des"></span>
                    <span *ngIf="!item?.memo" class="task-des">Mô tả công
                      việc</span>
                  </button>
                  <!-- <div class="dropdown-menu" aria-labelledby="dropdownShowDescription">
                                        <div [innerHTML]="dropDetail(item?.memo, item?.memo2)" class="w-300px p-5">
                                        </div>
                                    </div> -->
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="symbol-group symbol-hover justify-content-end"
                  *ngIf="item?.category == '3' || item?.category == '4'">
                  <codx-imgs popoverClass="userPopoverClass" placement="bottom"
                    class="symbol symbol-30 symbol-circle ml-1" [objectId]="item?.assignTo" objectName="AD_Users"
                    [numberImages]="4">
                  </codx-imgs>
                </div>
                <!-- <lv-image-viewer class="symbol symbol-24 symbol-circle mr-1" [objectId]="item.owner"
                                    objectType="AD_Users">
                                </lv-image-viewer>
                                <div class="text-dark font-size-lg">{{item.userName}}</div> -->
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="text-dark font-weight-bold font-size-sm mr-1">
                  Ngày hết hạn:
                </div>
                <div class="text-dark-50 font-size-sm">
                  {{item.dueDate|date:'dd/MM/yyyy'}}
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center w-100px">
                <div class="d-flex align-items-center mr-3 {{item.comments  ? 'text-success' : 'text-dark-50'}}">
                  <span class="text-hover-primary icon-chat_bubble_outline icon-16"></span>
                  <span class="ml-1"> {{item.comments}}</span>
                </div>
                <div class="d-flex align-items-center mr-3 {{item.todo ? 'text-success' : 'text-dark-50'}}">
                  <span class="text-hover-primary icon-check-correct icon-16"></span>
                  <span class="ml-1">
                    {{item.todo}}</span>
                </div>
                <div class="d-flex align-items-center {{item.attachments ? 'text-success' : 'text-dark-50'}}">
                  <span class="text-hover-primary icon-attach_file icon-16"></span>
                  <span>
                    {{item.attachments}}

                  </span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
<ng-template #popContent>
  <div>
    <ng-container>
      <div class="result-title text-dark font-size-h5 mb-5 mt-3">Phân công cho</div>
      <div *ngFor="let item of lstTaskbyParent" class="task-list p10 full">
        <div class="d-flex align-items-start user-card p-3">
          <div class="symbol symbol-30 symbol-circle mr-3">
            <codx-imgs class="symbol symbol-30 symbol-circle w-30px" [objectId]="item?.owner" objectType="AD_Users"
              width="40">
            </codx-imgs>
          </div>
          <div class="d-flex flex-column flex-grow-1">
            <div class="text-dark font-weight-bold">{{item?.ownerName}}</div>
            <div class="text-dark-50 font-size-sm">{{item?.position}}</div>
            <div class="text-dark">
              {{item?.memo2}}
            </div>
            <div class="d-flex align-items-center">
              <div class="d-flex align-items-center mr-2">
                <span class="icon-access_time icon-16 text-muted"></span>
                <span class="text-muted">{{item?.dueDate | date:'dd/MM/yyyy'}}</span>
              </div>
              <div class="label label-xxs label-pill label-inline label-light-danger mr-2 label-status"
                [style.border-color]="(item?.status | vll: 'L0614':'color' | async) + '30'"
                [style.background-color]="(item?.status | vll: 'L0614':'color' | async) + '30'"
                [style.color]="item?.status | vll: 'L0614':'color' | async" style="border: none">{{
                item?.status | vll: "L0614":"text" | async }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

</ng-template>
<ng-template #popDetail>
  <div>
    <ng-container>
      <div class="d-flex flex-column flex-grow-1">
        <div class="result-title text-dark font-size-h5 mb-2">Mô tả chi tiết</div>
        <div class="text-dark-75 font-size-md">
          {{popoverDetail?.memo}}
          <div class="d-flex align-items-center mt-2">
            <div class="d-flex align-items-center mr-2">
              <span class="icon-create icon-18 text-dark-50"></span>
              <span class="text-dark-50 text-italic"> {{popoverDetail?.memo2}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

</ng-template>
