<codx-listview [itemTemplate]="templateTask" #listview  [funcId]="" entityName="TM_Tasks"
        gridViewName="'grvTasks'" service="TM" assemblyName="ERM.Business.TM" 
        className="TaskBusiness" method="GetListDetailTasksAsync" [predicate]="" [dataValue]=""funcId="" type="listview" [data]="resourceViewList">
</codx-listview>

<ng-template #templateTask let-item>
    <div>
        <table>
            <tr>
                <td>
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                </td>
            </tr>
        </table>
    </div>
</ng-template>
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa