<div class="page-home page-master border-top-erm">
    <div id="erm_content">
        <div class="container-full p-6">
            <div class="font-size-h2 font-weight-bold text-dark mt-6">My board</div>
            <div class="text-muted mb-6">Danh sách view board cá nhân được bạn chia sẻ</div>
            <div class="view-listbox card-with-dropdown pl-6">
                <!-- <div *ngFor="let item of listMyBoard;trackBy:trackByMethod">
                    <ng-container *ngTemplateOutlet="itemViewBoard ;context: {item:item}">
                    </ng-container>
                </div> -->
                <codx-listcard #lstViewBoard [pageSize]="6" funcId="TMT04" service="TM" assemblyName="ERM.Business.TM"
                    className="SprintsBusiness" method="GetListSprintAsync" autoLoad="true" entityName="TM_Sprints"
                    [predicate]="predicateViewBoards" [dataValue]="" [gridViewName]="'grvSprints'" class="h-100"
                    [cartTemp]="itemViewBoard">
                </codx-listcard>
            </div>
            <div class="clear mb-6 d-flex justify-content-end pr-9">
                <!-- <div (click)="viewMoreMyBoard()" class="read-more d-flex align-items-center"
                    *ngIf="listMyBoard.length < totalRowMyBoard">
                    <span class="icon-keyboard_arrow_right icon-18 text-primary"></span>
                    <span class="text-primary">Read more</span>
                </div> -->
            </div>
            <div class="font-size-h2 font-weight-bold text-dark mt-6">Project board</div>
            <div class="text-muted mb-6">Danh sách view board theo dự án có bạn tham gia hoặc được bạn chia sẻ</div>
            <div class="view-listbox pl-6">
                <codx-listcard #lstProjectBoard  [pageSize]="6" funcId="TMT04" service="TM"
                    assemblyName="ERM.Business.TM" className="SprintsBusiness" method="GetListSprintAsync"
                    autoLoad="true" entityName="TM_Sprints" [predicate]="predicateProjectBoards"
                    [gridViewName]="'grvSprints'" class="h-100" [cartTemp]="itemViewBoard">
                </codx-listcard>
            </div>
            <div class="clear mb-6 d-flex justify-content-end pr-9">
                <!-- <div (click)="viewMoreProjectBoard()" class="read-more d-flex align-items-center"
                    *ngIf="listProjectBoard.length < totalRowProjectBoard">
                    <span class="icon-keyboard_arrow_right icon-18 text-primary"></span>
                    <span class="text-primary">Read more</span>
                </div> -->
            </div>
        </div>
    </div>
</div>


<ng-template let-item #itemViewBoard>
    <div class="task-card card-with-dropdown-item">
        <div class="d-flex align-items-center justify-content-between">
            <!-- <span class="card-more">
                <base-item-menu [data]="item" ></base-item-menu> 
            </span> -->
            <span style="float: right;" *ngIf="item.resources" class="icon-share text-primary icon-20 "></span>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <codx-img class="symbol symbol-50 symbol-circle" [objectId]="item.iterationID" objectType="TM_Sprints"
                [objectName]="item.iterationName">
            </codx-img>
        </div>
        <div class="mt-3 text-center">
            <div class="font-weight-bold font-size-h5 text-dard card-name"><codx-label  name="lblIterationName" formName="Tasks" default="{{item.iterationName}}" ></codx-label  ></div>
            <div class="text-muted font-size-sm card-des"><codx-label  name="lblMemo" formName="Tasks" default= "{{item.memo}}" ></codx-label  ></div>
            
        </div>
        <div class="d-flex justify-content-center symbol-group mt-6">
            <codx-imgs *ngIf="item.resources" class="symbol symbol-30 symbol-circle" width="40"
                [objectId]="item.resources" objectType="AD_Users" numberImages="5"></codx-imgs>
        </div>
    </div>
</ng-template>