<codx-views #view funcID="TMT03" entityName="TM_Tasks" [views]="views" [buttons]="buttons" (buttonClick)="click($event)"> </codx-views>

<ng-template #sidebarRight>
  <app-task-info #taskInfo [viewBase]="viewBase"></app-task-info>
</ng-template>

<ng-template #listDetails>
  <assign-tasks-details [viewBase]="viewBase" [taskInfo]="taskInfo"></assign-tasks-details>
</ng-template>

<ng-template #listTasks>
  <assign-list-tasks [viewBase]="viewBase" [taskInfo]="taskInfo"></assign-list-tasks>
</ng-template>

<ng-template #schedule>
  <assign-tasks-calendar [viewBase]="viewBase" [taskInfo]="taskInfo"></assign-tasks-calendar>
</ng-template>


