<ng-container *ngIf="layoutCZ == 'qtsc'; else default">
  <qtsc-login
    [loginForm]="loginForm"
    [changePassForm]="changePassForm"
    [firstLoginForm]="firstLoginForm"
    [defaultAuth]="defaultAuth"
    [hasError]="hasError"
    [returnUrl]="returnUrl"
    [alerttext]="alerttext"
    [sessionID]="sessionID"
    [email]="email"
    [mode]="mode"
    [user]="user"
    [unsubscribe]="unsubscribe"
    [f]="f"
    [c]="c"
    [fl]="fl"
    (submitEvent)="submit()"
    (submitChangePassEvent)="submitChangePass()"
    (submitFirstLoginEvent)="submitFirstLogin()"
    (destroyEven)="ngOnDestroy()"
    (forgotPassEven)="forgotPass()"
  ></qtsc-login>
</ng-container>
<ng-template #default>
  <codx-login
    [loginForm]="loginForm"
    [changePassForm]="changePassForm"
    [firstLoginForm]="firstLoginForm"
    [defaultAuth]="defaultAuth"
    [hasError]="hasError"
    [returnUrl]="returnUrl"
    [alerttext]="alerttext"
    [sessionID]="sessionID"
    [email]="email"
    [mode]="mode"
    [user]="user"
    [unsubscribe]="unsubscribe"
    [f]="f"
    [c]="c"
    [fl]="fl"
    (submitEvent)="submit()"
    (submitChangePassEvent)="submitChangePass()"
    (submitFirstLoginEvent)="submitFirstLogin()"
    (destroyEven)="ngOnDestroy()"
    (forgotPassEven)="forgotPass()"
  ></codx-login>
</ng-template>
