<ng-container>
    <!--Begin Login-->
    <div class="d-flex flex-column flex-root bg-linear-gradient-blue" style="display: none;" *ngIf="mode == 'login'">
        <!--begin::Login-->
        <div class="login  login-signin-on d-flex flex-row-fluid">
            <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid"
                style="background-image: url(/assets/codx/bg/bg-login.png);">
                <div class="login-container">
                    <div class="d-flex flex-column flex-lg-row bg-white rounded-3 p-15">
                        <div
                            class="login-aside order-2 order-lg-1 d-flex flex-column-fluid flex-lg-row-auto bgi-size-cover bgi-no-repeat">
                            <div class="d-flex flex-row-fluid flex-column justify-content-between">
                                <div class="login-form position-relative overflow-hidden">
                                    <!--begin::Login Header-->
                                    <div class="d-flex">
                                        <a href="#">
                                            <img src="/assets/logos/logo-1.svg" class="h-35px" alt="">
                                        </a>
                                    </div>
                                    <!--end::Login Header-->
                                    <!--begin::Login Sign in form-->
                                    <div class="login-signin text-dark">
                                        <div class="text-start mb-10 mt-10">
                                            <h3 class="fw-bolder fs-1">Chào mừng bạn
                                                đến với chúng tôi</h3>
                                        </div>
                                        <!--begin::Form-->
                                        <form class="form fv-plugins-bootstrap fv-plugins-framework" method="post"
                                            (ngSubmit)="submit()" [formGroup]="loginForm"
                                            class="form fv-plugins-bootstrap fv-plugins-framework"
                                            novalidate="novalidate">
                                            <div class="form-group mb-5 fv-plugins-icon-container">
                                                <label class="fw-bold">Email</label>
                                                <div
                                                    class="d-flex align-items-center form-control form-control-solid form-control-lg px-3">
                                                    <!--begin::Text-->
                                                    <div class="d-flex flex-column flex-grow-1">
                                                        <input class="form-control border-0 p-0 ps-3" type="text"
                                                            field="email" placeholder="Email" formControlName="email">
                                                    </div>
                                                    <!--end::Text-->
                                                </div>
                                            </div>
                                            <div class="form-group mb-5 fv-plugins-icon-container">
                                                <label class="fw-bold">Mật khẩu</label>
                                                <div
                                                    class="d-flex align-items-center form-control form-control-solid form-control-lg px-3">
                                                    <div class="d-flex flex-column flex-grow-1">
                                                        <codx-input 
                                                            type="password" 
                                                            field="Password" 
                                                            placeholder="Mật khẩu" 
                                                            formControlName="password"
                                                            [class]="'border-0'"
                                                            (valueChange)="valueChange($event)"
                                                            >
                                                        </codx-input>
                                                        <!-- <input class="form-control border-0 p-0 ps-3" type="Password"
                                                            placeholder="Mật khẩu" formControlName="password"
                                                            field="Password"> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group  text-end mt-3 mb-3">
                                                <a (click)="forgotPass()" tabindex="-1"
                                                    class="link-dark text-decoration-none">
                                                    Quên mật khẩu?</a>
                                            </div>
                                            <div class="form-group d-grid gap-2 mb-5">
                                                <button type="submit" class="btn btn-primary fw-bold px-6 py-3">{{
                                                    'Đăng nhập ' | lang: 'Login':'btnLogin' | async}}</button>
                                            </div>
                                            <input type="hidden">
                                            <div></div>
                                        </form>
                                        <!--end::Form-->
                                    </div>
                                    <!--end::Login Sign in form-->
                                </div>
                                <!--begin: Aside footer for desktop-->
                                <div class="d-flex flex-column-auto justify-content-between mt-15">
                                    <div class="text-gray-700 order-2 order-sm-1 my-2">Khi đăng nhập, bạn đồng ý với
                                        các
                                        <a href="#" class="link-dark"> điều kiện và điều khoản</a>
                                        <br /> cũng như
                                        <a href="#" class="link-dark"> chính sách bảo mật</a>
                                        của chúng tôi
                                    </div>
                                </div>
                                <!--end: Aside footer for desktop-->
                            </div>
                        </div>
                        <!--begin::Content-->
                        <div class="order-2 order-lg-2 flex-column-auto  d-flex flex-column p-7">
                            <img src="/assets/codx/bg/Line-login.png" class="h-100" alt="">
                        </div>
                        <div
                            class="login-image order-1 order-lg-2 flex-column-auto flex-lg-row-fluid d-flex flex-column p-7">
                            <!--begin::Content body-->
                            <div class="d-flex flex-column-fluid flex-lg-center">
                                <div class="d-flex flex-column justify-content-center">
                                    <img src="/assets/codx/bg/login-right.svg" class="max-h-250px mb-7" alt="">
                                    <p class="fw-bold  fs-4 text-dark align-items-center">
                                        Trải nghiệm quản lý doanh nghiệp <br />toàn diện cùng CoDX với 1 tháng<br />
                                        dùng thử miễn phí
                                    </p>
                                </div>
                            </div>
                            <!--end::Content body-->
                        </div>
                        <!--end::Content-->
                    </div>
                </div>
            </div>
        </div>
        <!--end::Login-->
    </div>
    <!--end::Login-->
    <!--Begin Doi PW-->
    <div class="d-flex flex-column flex-root bg-linear-gradient-blue" style="display: none;"
        *ngIf="mode == 'changePass' || mode == 'firstLogin'">
        <div class="login  login-signin-on d-flex flex-row-fluid">
            <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid"
                style="background-image: url(/assets/codx/bg/bg-login.png);">
                <div class="login-container">
                    <div class="d-flex flex-column flex-lg-row bg-white rounded-3 p-15">
                        <div
                            class="login-aside order-2 order-lg-1 d-flex flex-column-fluid flex-lg-row-auto bgi-size-cover bgi-no-repeat">
                            <div class="d-flex flex-row-fluid flex-column justify-content-between">
                                <div class="login-form position-relative overflow-hidden">
                                    <div class="d-flex">
                                        <a href="#">
                                            <img src="/assets/logos/logo-1.svg" class="h-35px" alt="">
                                        </a>
                                    </div>
                                    <div class="login-signin text-dark">
                                        <div class="text-start mb-10 mt-10">
                                            <h3 class="fw-bolder fs-1">Thay đổi mật
                                                khẩu</h3>
                                        </div>
                                        <span #Error></span>
                                        <form method="post" id="frm_erm_login" (ngSubmit)="submitChangePass()"
                                            [formGroup]="changePassForm"
                                            class="form fv-plugins-bootstrap fv-plugins-framework"
                                            novalidate="novalidate">

                                            <div class="form-group mb-5 fv-plugins-icon-container" #groupemail>
                                                <label class="fw-bold">Email</label>
                                                <div
                                                    class="d-flex align-items-center form-control form-control-solid form-control-lg px-3">
                                                    <div class="d-flex flex-column flex-grow-1">
                                                        <input class="form-control border-0 p-0 ps-3" field="email"
                                                            placeholder="Email" formControlName="email" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-5 fv-plugins-icon-container" #groupnewpass>
                                                <label class="fw-bold">Mật khẩu</label>
                                                <div
                                                    class="d-flex align-items-center form-control form-control-solid form-control-lg px-3">
                                                    <div class="d-flex flex-column flex-grow-1">
                                                        <input type="password" class="form-control border-0 p-0 ps-3"
                                                            field="Password" placeholder="Mật khẩu mới"
                                                            formControlName="password" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-5 fv-plugins-icon-container" #confirmpass>
                                                <label class="fw-bold">Xác nhận mật khẩu</label>
                                                <div
                                                    class="d-flex align-items-center form-control form-control-solid form-control-lg px-3">
                                                    <div class="d-flex flex-column flex-grow-1">
                                                        <input type="password" class="form-control border-0 p-0 ps-3"
                                                            field="Password" placeholder="Xác nhận mật khẩu"
                                                            formControlName="confirmPassword" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group d-grid gap-2 mb-5">
                                                <button type="submit" id="btn-signin"
                                                    class="btn btn-primary fw-bold px-6 py-3"
                                                    [disabled]="changePassForm.invalid">{{
                                                    'Đăng nhập ' | lang: 'Login':'btnLogin' | async}}</button>
                                            </div>
                                            <input type="hidden">
                                            <div></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="d-flex flex-column-auto justify-content-between mt-15">
                                    <div class="text-gray-700 order-2 order-sm-1 my-2">Khi đăng nhập, bạn đồng ý với
                                        các<a href="#" class="text-underline link-dark"> điều kiện và điều
                                            khoản</a><br /> cũng như<a href="#" class="text-underline link-dark">
                                            chính sách bảo mật</a> của chúng tôi</div>
                                </div>
                            </div>
                        </div>
                        <div class="order-2 order-lg-2 flex-column-auto  d-flex flex-column p-7">
                            <img src="/assets/codx/bg/Line-login.png" class="h-100" alt="">
                        </div>
                        <div
                            class="login-image order-1 order-lg-2 flex-column-auto flex-lg-row-fluid d-flex flex-column p-7">
                            <div class="d-flex flex-column-fluid flex-lg-center">
                                <div class="d-flex flex-column justify-content-center">
                                    <img src="/assets/codx/bg/login-right.svg" class="max-h-250px mb-7" alt="">
                                    <p class="fw-bold  fs-4 text-dark align-items-center">
                                        Trải nghiệm quản lý doanh nghiệp <br />toàn diện cùng CoDX với 1 tháng<br />
                                        dùng thử miễn phí
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end Doi PW-->
</ng-container>