<div class="subheader" id="kt_subheader">
  <div
    class="container-fluid d-flex align-items-center justify-content-end flex-wrap flex-sm-nowrap"
  >
    <div class="d-flex">
      <div class="nav-item">
        <button
          type="button"
          class="btn btn-secondary mr-1"
          (click)="mode !== 'day' ? (mode = 'day') : false"
          [class.active]="mode == 'day' ? 'active' : ''"
        >
          <span>DAY</span>
        </button>
        <button
          type="button"
          class="btn btn-secondary mr-1"
          [class.active]="mode == 'week' ? 'active' : ''"
          (click)="mode !== 'week' ? (mode = 'week') : false"
        >
          <span>WEEK</span>
        </button>
        <button
          type="button"
          class="btn btn-secondary mr-1"
          [class.active]="mode == 'month' ? 'active' : ''"
          (click)="mode !== 'month' ? (mode = 'month') : false"
        >
          <span>MONTH</span>
        </button>
        <button
          type="button"
          class="btn btn-secondary mr-1"
          [class.active]="mode == 'year' ? 'active' : ''"
          (click)="mode !== 'year' ? (mode = 'year') : false"
        >
          <span>YEAR</span>
        </button>
      </div>

      <div class="mr-1 header-combo" *ngIf="param">
        <!-- <app-ermcombobox #comboboxStd placeholder="Lịch làm việc" [value]="param?.fieldValue" service="BS"
                    [refValue]="param?.referedValue" [field]="'groupID'" (valueChange)="changeCombobox($event)">
                </app-ermcombobox> -->
        <codx-input
          type="combobox"
          name="combobox"
          [crrValue]="param?.fieldValue"
          service="BS"
          [refValue]="param?.referedValue"
          [model]="functionList"
          [field]="'groupID'"
          (valueChange)="changeCombobox($event)"
        >
        </codx-input>
      </div>
      <div class="nav-item header-btn mr-1">
        <button
          type="button"
          class="btn btn-sm btn-primary"
          (click)="setting()"
        >
          <span class="icon-settings icon-18"></span>
        </button>
      </div>
      <button
        type="button"
        type="button"
        class="btn btn-primary"
        (click)="addCalendar()"
      >
        <span>Thêm</span>
      </button>
    </div>
  </div>
</div>

<div class="d-flex flex-column-fluid home border-top-erm">
  <div class="w-100" style="margin-top: 50px">
    <div class="dms dms-viewcard" *ngIf="calendarID">
      <!-- <lv-calendar #calendar [mode]="mode" [showTBar]="true" [calendarID]="calendarID"></lv-calendar> -->
    </div>
  </div>
</div>

<!-- modal add calendars -->
<ng-template #add let-modal>
  <div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title">{{"Tạo lịch làm việc" | lang:'Calendar':'lblTitle':'grvCalendar'
            | async}}
        </h4> -->
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i
        class="icon-close icon-20 text-dark text-hover-primary"
        (click)="modal.dismiss('Cross click')"
      ></i>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group row">
        <!-- <label class="col-4 col-form-label">{{'Tên lịch làm việc' |
                    lang:'Calendar':'lblCalendarName':'grvCalendar' | async}}</label> -->
        <div class="col-4">
          <!-- <lvInput type="text" [value]="model.calendarName" field="calendarName"
                        (valueChange)="valueChange($event,'calendar')" placeholder="Lịch làm việc" ngDefaultControl>
                    </lvInput> -->
        </div>
      </div>
      <div class="form-group row">
        <!-- <label class="col-4 col-form-label">{{'Diễn giải' |
                    lang:'Calendar':'lblCalendarName':'grvCalendar' | async}}</label> -->
        <div class="col-8">
          <!-- <lvInput class="" dataformat="ed3" [value]="model.description" field="description" ngDefaultControl
                        (valueChange)="valueChange($event,'calendar')" placeholder="Diễn giải"></lvInput> -->
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<!-- modal setting calendar -->
<ng-template #editCalendar let-modal>
  <div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title">{{editTilte | lang:'Calendar':'lblTitle':'grvCalendar' | async}}
        </h4> -->
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i
        class="icon-close icon-20 text-dark text-hover-primary"
        (click)="modal.dismiss('Cross click')"
      ></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="list-week">
      <table class="table bg-header">
        <thead>
          <tr>
            <th scope="col" class="w-20 min-w-200px"></th>
            <th scope="col" class="w-10 text-center" *ngFor="let item of vlls">
              {{ item.text }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <span
                  class="icon-brightness_5 icon-18 mr-2 text-warning"
                ></span>
                <div class="text-dark-75">
                  {{ stShift?.startTime }} - {{ stShift?.endTime }}
                </div>
                <div class="dropdown ml-2 dropdown-customv2">
                  <button
                    class="btn btn-icon btn-xs"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <span class="icon-more_vert icon-18 hoverIcon"></span>
                  </button>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a class="dropdown-item">
                      <div class="d-flex align-items-center">
                        <span class="icon-edit icon-16"></span>
                        <span class="ml-3">Chỉnh sửa</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-center" *ngFor="let item of stShift?.data">
              <!-- <lvInput type="checkbox" name="checkbox" class="" ngDefaultControl field="stweekday"
                                (valueChange)="weekdayChange($event,item)" [checked]="item.checked">
                            </lvInput> -->
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <span class="icon-brightness_6 icon-18 mr-2 text-info"></span>
                <div class="text-dark-75">
                  {{ ndShift?.startTime }} - {{ ndShift.endTime }}
                </div>
                <div class="dropdown ml-2 dropdown-customv2">
                  <button
                    class="btn btn-icon btn-xs"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <span class="icon-more_vert icon-18 hoverIcon"></span>
                  </button>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a class="dropdown-item">
                      <div class="d-flex align-items-center">
                        <span class="icon-edit icon-16"></span>
                        <span class="ml-3">Chỉnh sửa</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-center" *ngFor="let item of ndShift?.data">
              <!-- <lvInput type="checkbox" name="checkbox" class="" ngDefaultControl field="ndweekday"
                                (valueChange)="weekdayChange($event,item)" [checked]="item.checked">
                            </lvInput> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
      <h5 class="text-dark">Lễ/Tết/Sự kiện</h5>
      <a (click)="openDayOffs()" class="btn btn-icon btn-xs btn-primary">
        <span class="icon-add icon-16"></span>
      </a>
    </div>
    <div class="list-calendar">
      <table class="table bg-header">
        <thead>
          <tr>
            <th scope="col" class="w-30 min-w-350px">Lễ/Tết/Sự kiện</th>
            <th scope="col" class="w-10 text-center">Dương lịch</th>
            <th scope="col" class="w-10 text-center">Âm lịch</th>
            <th scope="col" class="w-10 text-center">Ngày/Tháng</th>
            <th scope="col" class="w-10 text-center">Màu</th>
            <th scope="col" class="w-10 text-center">Icon</th>
            <th scope="col" class="w-10 text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dayOff">
            <td>
              <div class="text-dark" [innerHTML]="item.note"></div>
            </td>
            <td class="text-center">
              <!-- <lvInput type="checkbox" name="checkbox" class="" ngDefaultControl [disabled]="true"
                                field="dayOff" [checked]="item.calendar == '1'">
                            </lvInput> -->
              <codx-input 
              type="checkbox" 
              name="checkbox" 
              ngDefaultControl 
              [disable]="true" 
              filed="dayOff" 
              [checked]="item.calendar == '1'"> 
              </codx-input>
            </td>
            <td class="text-center">
              <!-- <lvInput type="checkbox" name="checkbox" [disabled]="true" class="" ngDefaultControl
                                field="dayOff" [checked]="item.calendar =='2' ? true : false">
                            </lvInput> -->
            </td>
            <td class="text-center">{{ item.day }}/{{ item.month }}</td>

            <td class="text-center">
              <span
                class="pic-color h-20 w-20"
                [style.background-color]="item.color ? item.color : '#0078FF'"
              ></span>
            </td>
            <td class="text-center">
              <span class="{{ item.symbol }}"></span>
            </td>
            <td class="text-center">
              <div class="d-flex align-items-center">
                <div class="dropdown ml-2">
                  <button
                    class="btn btn-icon btn-xs"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <span class="icon-more_vert icon-18"></span>
                  </button>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a class="dropdown-item" (click)="openDayOffs(item)">
                      <div class="d-flex align-items-center">
                        <span class="icon-edit icon-16"></span>
                        <span class="ml-3">Chỉnh sửa</span>
                      </div>
                    </a>
                    <a class="dropdown-item" (click)="removeDayOff(item)">
                      <div class="d-flex align-items-center">
                        <span class="icon-delete icon-16"></span>
                        <span class="ml-3">Xóa</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
      <h5 class="text-dark">Ngày nghỉ trong năm</h5>
      <a (click)="openCalendarDate()" class="btn btn-icon btn-xs btn-primary">
        <i class="icon-add icon-16"></i>
      </a>
    </div>
    <div class="list-calendar">
      <table class="table bg-header">
        <thead>
          <tr>
            <th scope="col" class="w-60 min-w-350px">Diễn giải</th>
            <th scope="col" class="w-10 text-center">Ngày</th>
            <th scope="col" class="w-10 text-center">Màu</th>
            <th scope="col" class="w-10 text-center">Icon</th>
            <th scope="col" class="w-10 text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of calendateDate">
            <td>
              <div class="text-dark" [innerHTML]="item.note"></div>
            </td>
            <td class="text-center">
              <div class="text-dark ">{{item.calendarDate | fmDT:'dmy' }}</div>
            </td>
            <td class="text-center">
              <span
                class="pic-color h-20 w-20"
                [style.background-color]="
                  item.dayOffColor ? item.dayOffColor : '#0078FF'
                "
              ></span>
            </td>
            <td class="text-center">
              <span class="{{ item.symbol }}"></span>
            </td>
            <td class="text-center">
              <div class="d-flex align-items-center">
                <div class="dropdown ml-2">
                  <button
                    class="btn btn-icon btn-xs"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <span class="icon-more_vert icon-18"></span>
                  </button>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a class="dropdown-item" (click)="openCalendarDate(item)">
                      <div class="d-flex align-items-center">
                        <span class="icon-edit icon-16"></span>
                        <span class="ml-3">Chỉnh sửa</span>
                      </div>
                    </a>
                    <a
                      class="dropdown-item"
                      (click)="removeCalendateDate(item)"
                    >
                      <div class="d-flex align-items-center">
                        <span class="icon-delete icon-16"></span>
                        <span class="ml-3">Xóa</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<!-- add or edit dayoff -->
<ng-template #editEvent let-modal>
  <div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title">{{'Thêm Lễ/Tết/Sự kiện' |
            lang:'Calendar':'lblTitle':'grvCalendar' | async}}
        </h4> -->
    <button
      type="button"
      class="close"
      aria-label="Close"
      #editEventClose
      (click)="modal.dismiss('Cross click')"
    >
      <i
        class="icon-close icon-20 text-dark text-hover-primary"
        (click)="modal.dismiss('Cross click')"
      ></i>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group row">
        <!-- <label class="col-2 col-form-label">{{'Loại ngày' |
                    lang:'Calendar':'lblShiftType':'grvCalendar' | async}}</label> -->
        <div class="col-4">
          <!-- <lvInput type="select" name="select" class="cotrol-vll" placeholder="" ngDefaultControl
                        refValue="L1461" field="calendar" [value]="evtData?.calendar"
                        (valueChange)="valueChange($event,'dayoff',null)">
                    </lvInput> -->
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <!-- <label class="col-form-label">{{'Tháng' |
                        lang:'Calendar':'lblMonth':'grvCalendar':vll:"L1481" | async}}</label> -->
          <div>
            <!-- <lvInput class="" datatype="text" field="month" (valueChange)="valueChange($event,'dayoff')"
                            [value]="evtData.month"></lvInput> -->
          </div>
        </div>
        <div class="form-group col-6">
          <!-- <label class=" col-form-label">{{'Ngày' |
                        lang:'Calendar':'lblDay':'grvCalendar' | async}}</label> -->
          <div>
            <!-- <lvInput class="" datatype="text" field="day" (valueChange)="valueChange($event,'dayoff')"
                            [value]="evtData.day"></lvInput> -->
          </div>
        </div>
      </div>
      <div class="form-group row">
        <!-- <label class="col-2 col-form-label">{{'Tháng' |
                    lang:'Calendar':'lblMonth':'grvCalendar' | async}}</label> -->
        <div class="col-4">
          <!-- <lvInput class="" datatype="text" field="month" (valueChange)="valueChange($event,'dayoff')"
                        [value]="evtData.month"></lvInput> -->
        </div>
      </div>
      <div #group class="form-group row">
        <!-- <label class="col-2 col-form-label">{{'Màu' |
                    lang:'Calendar':'lblColor':'grvCalendar' | async}}</label> -->
        <div class="col-4">
          <!-- <lvInput #elm [ele]="group" datatype="colorpicker" class="form-control text-white color-large"
                        field="color" (valueChange)="valueChange($event,'dayoff', elm)" [value]="evtData.color"
                        dataformat="hex">
                    </lvInput> -->
        </div>
      </div>
      <div class="form-group row">
        <!-- <label class="col-2 col-form-label">{{'Symbol' |
                    lang:'Calendar':'lblSymbol':'grvCalendar' | async}}</label> -->
        <div class="col-2 input-symbol">
          <!-- <lvInput datatype="vllicon" refValue="L1470" field="symbolDayOff"
                        (valueChange)="valueChange($event,'dayoff')"></lvInput> -->
        </div>
      </div>
      <div class="form-group row">
        <!-- <label class="col-2 col-form-label">{{'Diễn giải' |
                    lang:'Calendar':'lblNote':'grvCalendar' | async}}</label> -->
        <div class="col-10">
          <!-- <lvInput field="note1" class="" dataformat="ed2" [value]="evtData.note" ngDefaultControl
                        (valueChange)="valueChange($event,'dayoff')" placeholder="Diễn giải"></lvInput> -->
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <!-- <lvInput type="checkbox" name="checkbox" class="text-dark"
                        label="Thêm vào bộ ngày nghỉ chuẩn của hệ thống" [disabled]="evtData.recID ? true :false"
                        ngDefaultControl field="set" [checked]="set" (valueChange)="valueChange($event,'dayoff')">
                    </lvInput> -->
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="savaDayOff()">
      Save
    </button>
  </div>
</ng-template>

<!-- add or edit calendardate -->
<ng-template #editCalendarDate let-modal>
  <div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title">{{'Thêm ngày nghỉ' | lang:'Calendar':'lblTitle':'grvCalendar' |
            async}}
        </h4> -->
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i
        class="icon-close icon-20 text-dark text-hover-primary"
        (click)="modal.dismiss('Cross click')"
      ></i>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group row">
        <!-- <label class="col-2 col-form-label">{{'Ngày nghỉ' |
                    lang:'Calendar':'lblCalendarDate':'grvCalendar' | async}}</label> -->
        <div class="col-4">
          <!-- <lvInput class="" datatype="datetime" dataformat="d" field="calendarDate"
                        (valueChange)="changeTime($event,'calendarDate')" [value]="evtCDDate?.calendarDate"></lvInput> -->
        </div>
      </div>
      <div class="form-group row">
        <!-- <label class="col-2 col-form-label">{{'Màu' |
                    lang:'Calendar':'lblColor':'grvCalendar' | async}}</label> -->
        <div class="col-4" #group1>
          <!-- <lvInput #elm [ele]="group1" datatype="colorpicker" class="form-control text-white color-large"
                        field="dayoffColor" (valueChange)="valueChange($event,'calendarDate', elm)"
                        [value]="evtCDDate.dayoffColor" dataformat="hex">
                    </lvInput> -->
        </div>
      </div>
      <div class="form-group row">
        <!-- <label class="col-2 col-form-label">{{'Symbol' |
                    lang:'Calendar':'lblSymbol':'grvCalendar' | async}}</label> -->
        <div class="col-2 input-symbol">
          <!-- <lvInput datatype="vllicon" refValue="L1470" field="symbolCld"
                        (valueChange)="valueChange($event,'calendarDate')" [value]="evtCDDate.symbol"></lvInput> -->
        </div>
      </div>
      <div class="form-group row">
        <!-- <label class="col-2 col-form-label">{{'Diễn giải' |
                    lang:'Calendar':'lblNote':'grvCalendar' | async}}</label> -->
        <div class="col-10">
          <!-- <lvInput field="note2" class="" dataformat="ed2" [value]="evtCDDate.note" ngDefaultControl
                        (valueChange)="valueChange($event,'calendarDate')" placeholder="Diễn giải">
                    </lvInput> -->
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="savaCalendarDate()">
      Save
    </button>
  </div>
</ng-template>
>
