<codx-views #view funcID="WPT036" entityName="TM_Tasks" [views]="views" [buttons]="buttons" (buttonClick)="click($event)"
  [moreFuncs]="moreFunc"> </codx-views>
<!-- <ng-template #chart>
  <app-dashboard></app-dashboard>
</ng-template> -->

<ng-template #sidebarRight>
  <app-task-info  *ngIf="!isAssign" #taskInfo [viewBase]="viewBase"></app-task-info>
  <app-assign-info *ngIf="isAssign"  #assignInfo [viewBase]="viewBase" ></app-assign-info>
</ng-template>
<!-- <ng-template #sidebarRightToAssign>
  <app-assign-info  #assignInfo [viewBase]="viewBase" ></app-assign-info>
</ng-template> -->


<ng-template #listDetails>
  <app-view-list-details [viewBase]="viewBase" [taskInfo]="taskInfo" [assignInfo]="assignInfo" (actionIsAssign)="receiveActionAssign($event)"></app-view-list-details>
</ng-template>

