<codx-views #view funcID="TMS034" entityName="BS_RangesKanban" [views]="views" [buttons]="buttons"
  (buttonClick)="clickButton($event,true)"> </codx-views>

<ng-template #main>
  <div class="" id="kt_content">
    <div class="list-table" *ngIf="searchType == '0' || searchType == '1'">
      <codx-gridview #gridView funcId="" [columnsGrid]="columnsGrid" [pageSize]="100" service="BS"
        entityName="BS_Ranges" type="listview" assemblyName="ERM.Business.BS" className="RangesKanbanBusiness"
        method="GetListRangesKanbanAsync" [gridViewName]="'grvRangesKanban'" [predicate]="''" [dataValue]="''"
        [pageSize]="100" [formName]="formName" [height]="'520'" [headerStyle]="headerStyle" [columnStyle]="columnStyle"
        [gridViewName]="gridViewName" [data]="data">
      </codx-gridview>

    </div>
  </div>
</ng-template>

<!--<div id="canvas_nhomcongviec" #popup class="bg-body drawer drawer-end" style="display: none; width: 750px;"> -->
<ng-template #sidebarRight>
  <div class="card w-100 rounded-0 border-0">
    <div class="card-header pe-5">
      <div class="card-title">
        <h2 class="m-0">{{title}}</h2>
      </div>
      <div class="card-toolbar">
        <button type="button" class="btn btn-sm btn-icon btn-active-color-primary h-40px w-40px me-n6"
          id="kt_engage_demos_close">
          <span (click)="Close()" class="icon-close icon-18"></span>
        </button>
      </div>
    </div>
    <div class="card-body" *ngIf="isAfterRender && gridViewSetup">
      <div class="row">
        <div class="form-group">
          <div class="form-group mt-3">
            <label>
              <codx-label fiedName="RangeID" formName="RangesKanban" gridViewName="grvRangesKanban"
                default="Mã nhóm công việc">
              </codx-label>
            </label>
            <input #RangeID name="RangeID" [attr.disabled]="!isAddMode ? '' : null" type="text" class="form-control"
              [(ngModel)]="ranges.rangeID" placeholder="" style="width: 400px" />
          </div>
          <div class="form-group mt-3">
            <label>
              <codx-label fiedName="RangeName" formName="RangesKanban" gridViewName="grvRangesKanban"
                default="Nhóm công việc">
              </codx-label>
            </label>
            <input #RangeName name="RangeName" [(ngModel)]="ranges.rangeName" type="text" class="form-control"
              placeholder="Nhóm công việc" />

          </div>
          <div class="form-group mt-3">
            <codx-label fiedName="Note" formName="RangesKanban" gridViewName="grvRangesKanban" default="Ghi chú">
            </codx-label>
            <textarea #note name="Rote" [(ngModel)]="ranges.note" type="textarea" class="form-control"
              placeholder="Ghi chú"></textarea>
          </div>
          <div class="workToDo">
            <div class="d-flex align-items-center justify-content-between mt-4 mb-3">
              <div class="d-flex align-items-center">
                <span class="text-primary font-weight-bold">Chi tiết khoảng thời gian</span>
              </div>
              <div class="d-flex mt-2">
                <a class="btn btn-sm btn-outline-secondary" (click)="openPopup(null,true,null)">
                  <i class="icon-add icon-16 text-dark-75"></i>
                  <span>Thêm mới</span>
                </a>
              </div>
            </div>
          </div>
          <div class="form-group mt-3">
            <table class="table bg-header">
              <thead>
                <tr>
                  <th scope="col" class="w-50 text-left">Diễn giải</th>
                  <th scope="col" class="w-30 text-left">Số ngày</th>
                  <th scope="col" class="w-10 min-w-50px"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of lstRangeLine; let index = index">
                  <td class="text-left">
                    <label>{{item.breakName}}</label>
                  </td>
                  <td class="text-left">
                    <label>{{item.breakValue}}</label>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="Box-tools pull-right" style="vertical-align: middle;">
                        <a class="btn btn-xs btn-flat btn-info" style="margin: 10px;" (click)="openPopup2(item, false, index)">
                          <i class="fa fa-edit text-primary"></i>
                        </a>
                        <a class="btn btn-xs btn-flat btn-danger" (click)="deletePopup(index)">
                          <i class="fa fa-remove "></i>
                        </a>
                      </div>
                      <!-- <div class="dropdown ml-2">
                        <button class="btn btn-icon btn-xs" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <span class="icon-more_vert icon-18"></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" (click)="openPopup(item, false, index)">
                            <div class="d-flex align-items-center">
                              <span class="icon-create icon-16"></span>
                              <span class="ml-3">Chỉnh sửa</span>
                            </div>
                          </a>
                          <a class="dropdown-item" (click)="deletePopup(index)">
                            <div class="d-flex align-items-center">
                              <span class="icon-delete icon-16"></span>
                              <span class="ml-3">Xóa</span>
                            </div>
                          </a>
                        </div>
                      </div> -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer pt-4">
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" (click)="OnSaveForm()">Lưu</button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #add let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Khoảng thời gian</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <i class="icon-close icon-20 text-dark text-hover-primary"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row mt-3">
      <div class="form-group col-4">
        <codx-label fiedName="BreakName" default="Diễn giải" formName="RangeLines" gridViewName="grvRangeLines">
        </codx-label>
      </div>
      <div class="col-8">
        <codx-input #BreakName name="BreakName" field="BreakName" type="text" class="form-control"
          placeholder="Diễn giải" [crrValue]="rangeLines.BreakName" (valueChange)="valueName($event)"></codx-input>
        <!-- <codx-input name="BreakName" type="combobox" [refValue]="gridViewSetup.BreakName.refValue" field="BreakName"
          placeholder="" [crrValue]="rangeLines.BreakName" (valueChange)="valueName($event)">
        </codx-input> -->
      </div>
    </div>
    <div class="form-group row mt-3">
      <div class="form-group col-4">
        <codx-label fiedName="BreakValue" default="Số ngày" formName="RangeLines" gridViewName="grvRangeLines">
        </codx-label>
      </div>
      <div class="col-8 ">
        <codx-input #BreakValue name="BreakValue" field="BreakValue" type="text" class="form-control"
          placeholder="Số ngày" [crrValue]="rangeLines.BreakValue" (valueChange)="valueValue($event)"></codx-input>
        <!-- <codx-input name="BreakValue" type="combobox" [refValue]="gridViewSetup.BreakValue.refValue" field="breakValue"
          placeholder="" [crrValue]="rangeLines.BreakValue" (valueChange)="valueValue($event)">
        </codx-input> -->
      </div>
    </div>
    <div class="text-muted mt-3">Người dùng nhập số âm (-) khi thiết lập khoảng thời gian quá khứ,
      nhập số dương (+) khi thiết lập khoảng thời gian tương lai
    </div>
  </div>
  <div class="modal-footer" (click)="modal.close(lstRangeLine)">
    <button type="button" class="btn btn-primary" >Lưu</button>
  </div>
</ng-template>


<ng-template #GiftIDCell let-dataItem>
  <div class="Box-tools pull-right" style="vertical-align: middle;">
    <a class="btn btn-xs btn-flat btn-info" style="margin: 10px;" (click)="openForm(dataItem,false)">
      <i class="fa fa-edit text-primary"></i>
    </a>
    <a class="btn btn-xs btn-flat btn-danger" (click)="deleteRange(dataItem)">
      <i class="fa fa-remove "></i>
    </a>
  </div>
</ng-template>


<ng-template #itemListReadmore let-data>
  <div *ngFor="let h of data?.rangeLines; let i = index">
    <li *ngIf=" (i<3 || data.disableReadmore) ">{{h?.breakName}}</li>
  </div>
  <div *ngIf="data.rangeLines?.length > 3"> <a class="text-35-italic" style="color: blue" (click)="readMore(data)">{{
          !data.disableReadmore ? 'Read More ...': '... Read Less' }}</a></div>
</ng-template>
<ng-template #itemCreateBy let-dataItem>
  <div class="d-flex align-items-center" #itemCreateBy>
    <codx-img class="symbol symbol-24 symbol-circle mr-3" [objectId]="dataItem.createdBy" objectType="AD_Users">
    </codx-img>
    <div class="text-dark font-size-lg" placement="bottom" [ngbTooltip]="dataItem.createName">
      {{dataItem.createName}}
    </div>
  </div>
</ng-template>
<ng-template #itemCreate let-data>
  {{data.createdOn | fmDT:'dmy'}}
</ng-template>
