<h2 class="text-danger">01 - Chatting portal</h2>
<div class="row">
    <div class="col-lg-4 col-xl-4">
        <div class="card card-flush">
            <!--begin::Header-->
            <div class="card-header pe-5">
                <div class="card-title">
                    <div class="d-flex justify-content-center flex-column me-3">
                        <a
                            class="fs-4 fw-bolder text-gray-900 text-hover-primary me-1 mb-2 lh-1 cursor-pointer">Chatting</a>
                    </div>
                </div>
                <div class="card-toolbar">
                    <div class="me-2">
                        <button class="btn btn-sm btn-icon btn-active-light-primary">
                            <span class="icon-group_add icon-24 text-dark-75 text-hover-primary"></span>
                        </button>
                    </div>
                    <div class="btn btn-sm btn-icon btn-active-light-primary">
                        <span class="icon-playlist_add_check  icon-24 text-dark-75 text-hover-primary ml-3"></span>
                    </div>
                    <div class="btn btn-sm btn-icon btn-active-light-primary">
                        <span class="icon-open_in_new icon-24 text-dark-75 text-hover-primary ml-3"></span>
                    </div>
                </div>
            </div>
            <!--end::Header-->
            <div class="card-body pt-0">
                <!--begin::Form search-->
                <div class="d-flex align-content-stretch flex-wrap">
                    <form autocomplete="off" class="position-relative d-flex flex-grow-1 align-items-center">
                        <span class="icon-search position-absolute top-50 fs-2 ms-5 translate-middle-y"> </span>
                        <!----><input type="text" name="search" placeholder="Tìm kiếm..."
                            class="form-control form-control-solid form-control-search  px-15">
                    </form>
                </div>
                <!--end::Form search-->
                <div data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                    data-kt-scroll-max-height="auto"
                    data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_chat_contacts_header"
                    data-kt-scroll-wrappers="#kt_content, #kt_chat_contacts_body" data-kt-scroll-offset="0px"
                    class="scroll-y me-n5 pe-5 h-200px h-lg-auto" style="max-height: 475px;">
                    <div class="d-flex flex-stack py-2 Unread">
                        <div class="d-flex align-items-center">
                            <div class="symbol symbol-35px symbol-circle">
                                <img alt="Pic" src="../../../assets/themes/wp/default/light/img/user_F4.svg">
                            </div>
                            <div class="ms-5">
                                <a class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                    Lê Phạm Hoài Thương </a>
                                <div class="fw-bold text-primary">
                                    <span class="icon-local_offer text-success icon-16 me-2"></span>
                                    <span class="me-2">Bạn:</span><span>Dạ em cảm ơn chị ạ</span>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-column align-items-end ms-2">
                            <span class="text-muted fs-7 mb-1">1 tuần</span>
                            <span class="badge badge-primary badge-circle w-10px h-10px me-1"></span>
                        </div>
                    </div>
                    <div class="d-flex flex-stack py-2 read">
                        <div class="d-flex align-items-center">
                            <div class="symbol symbol-35px symbol-circle">
                                <img alt="Pic" src="../../../assets/themes/wp/default/light/img/user_F4.svg">
                            </div>
                            <div class="ms-5">
                                <a class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                    Lê Phạm Hoài Thương </a>
                                <div class="fw-bold text-gray-400">
                                    <span class="icon-local_offer text-success icon-16 me-2"></span>
                                    <span class=" me-2">Bạn:</span><span>Dạ em cảm ơn chị ạ</span>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-column align-items-end ms-2">
                            <span class="text-muted fs-7 mb-1">1 tuần</span>
                            <span class="badge badge-secondary badge-circle w-10px h-10px me-1"></span>
                        </div>
                    </div>
                    <div class="d-flex flex-stack py-2 read">
                        <div class="d-flex align-items-center">
                            <div class="symbol symbol-35px symbol-circle">
                                <img alt="Pic" src="../../../assets/themes/wp/default/light/img/user_F1.svg">
                            </div>
                            <div class="ms-5">
                                <a class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                    Lê Phạm Hoài Thương </a>
                                <div class="fw-bold text-gray-400">
                                    <span class="me-2">Bạn:</span><span>Dạ em cảm ơn chị ạ</span>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-column align-items-end ms-2">
                            <span class="text-muted fs-7 mb-1">1 tuần</span>
                            <span class="badge badge-secondary badge-circle w-10px h-10px me-1"></span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-4 col-xl-4">
        <div class="card card-flush">
            <!--begin::Header-->
            <div class="card-header pe-5">
                <div class="card-title">
                    <div class="d-flex justify-content-center flex-column me-3">
                        <a
                            class="fs-4 fw-bolder text-gray-900 text-hover-primary me-1 mb-2 lh-1 cursor-pointer">Chatting</a>
                    </div>
                </div>
                <div class="card-toolbar">
                    <div class="me-2">
                        <button class="btn btn-sm btn-icon btn-active-light-primary">
                            <span class="icon-group_add icon-24 text-dark-75 text-hover-primary"></span>
                        </button>
                    </div>
                    <div class="btn btn-sm btn-icon btn-active-light-primary">
                        <span class="icon-playlist_add_check  icon-24 text-dark-75 text-hover-primary ml-3"></span>
                    </div>
                    <div class="btn btn-sm btn-icon btn-active-light-primary">
                        <span class="icon-open_in_new icon-24 text-dark-75 text-hover-primary ml-3"></span>
                    </div>
                </div>
            </div>
            <!--end::Header-->
            <div class="card-body pt-0">
                <!--begin::Form search-->
                <div class="d-flex align-content-stretch flex-wrap">
                    <span class=" icon-arrow_back fs-2 me-5 d-flex align-items-center"></span>
                    <form autocomplete="off" class="position-relative d-flex flex-grow-1 align-items-center">
                        <span class="icon-search position-absolute top-50 fs-2 ms-5 translate-middle-y"> </span>
                        <!----><input type="text" name="search" placeholder="Tìm kiếm..."
                            class="form-control form-control-solid form-control-search  px-15">
                    </form>
                </div>
                <!--end::Form search-->
                <div data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                    data-kt-scroll-max-height="auto"
                    data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_chat_contacts_header"
                    data-kt-scroll-wrappers="#kt_content, #kt_chat_contacts_body" data-kt-scroll-offset="0px"
                    class="scroll-y me-n5 pe-5 h-200px h-lg-auto" style="max-height: 475px;">
                    <!--begin::Empty search-->
                    <div data-kt-search-element="empty" class="text-center">
                        <img src="../../../assets/themes/sys/default/light/img/Search-engines-amico.svg"
                            style="max-width: 200px;">
                    </div>
                    <!--end::Empty search-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-xl-4">
        <div class="card card-flush">
            <!--begin::Header-->
            <div class="card-header pe-5">
                <div class="card-title">
                    <div class="d-flex justify-content-center flex-column me-3">
                        <a
                            class="fs-4 fw-bolder text-gray-900 text-hover-primary me-1 mb-2 lh-1 cursor-pointer">Chatting</a>
                    </div>
                </div>
                <div class="card-toolbar">
                    <div class="me-2">
                        <button class="btn btn-sm btn-icon btn-active-light-primary">
                            <span class="icon-group_add icon-24 text-dark-75 text-hover-primary"></span>
                        </button>
                    </div>
                    <div class="btn btn-sm btn-icon btn-active-light-primary">
                        <span class="icon-playlist_add_check  icon-24 text-dark-75 text-hover-primary ml-3"></span>
                    </div>
                    <div class="btn btn-sm btn-icon btn-active-light-primary">
                        <span class="icon-open_in_new icon-24 text-dark-75 text-hover-primary ml-3"></span>
                    </div>
                </div>
            </div>
            <!--end::Header-->
            <div class="card-body pt-0">
                <!--begin::Form search-->
                <div class="d-flex align-content-stretch flex-wrap">
                    <span class=" icon-arrow_back fs-2 me-5 d-flex align-items-center"></span>
                    <form autocomplete="off" class="position-relative d-flex flex-grow-1 align-items-center">
                        <span class="icon-search position-absolute top-50 fs-2 ms-5 translate-middle-y"> </span>
                        <!----><input type="text" name="search" placeholder="Tìm kiếm..."
                            class="form-control form-control-solid form-control-search  px-15">
                    </form>

                </div>
                <!--end::Form search-->
                <div data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                    data-kt-scroll-max-height="auto"
                    data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_chat_contacts_header"
                    data-kt-scroll-wrappers="#kt_content, #kt_chat_contacts_body" data-kt-scroll-offset="0px"
                    class="scroll-y me-n5 pe-5 h-200px h-lg-auto" style="max-height: 475px;">
                    <!--begin::Search results-->
                    <div data-kt-search-element="results" class=" pt-5">
                        <!--begin::Heading-->
                        <h2><span class="text-muted fs-6 me-2">User:</span></h2>
                        <!--end::Heading-->
                        <!--begin::User item-->
                        <div class="d-flex flex-stack py-2">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <img alt="Pic" src="../../../assets/themes/wp/default/light/img/user_F4.svg">
                                </div>
                                <div class="ms-5">
                                    <a class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Lê Phạm Hoài Thương </a>
                                </div>
                            </div>
                        </div>
                        <!--begin::User item-->
                        <!--begin::User item-->
                        <div class="d-flex flex-stack py-2">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <img alt="Pic" src="../../../assets/themes/wp/default/light/img/user_F4.svg">
                                </div>
                                <div class="ms-5">
                                    <a class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Lê Phạm Hoài Thương </a>
                                </div>
                            </div>
                        </div>
                        <!--begin::User item-->
                        <!--begin::User item-->
                        <div class="d-flex flex-stack py-2">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <img alt="Pic" src="../../../assets/themes/wp/default/light/img/user_F4.svg">
                                </div>
                                <div class="ms-5">
                                    <a class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Lê Phạm Hoài Thương </a>
                                </div>
                            </div>
                        </div>
                        <!--begin::User item-->
                        <!--begin::Heading-->
                        <h2><span class="text-muted fs-6 me-2">Chat group:</span></h2>
                        <!--end::Heading-->
                        <div class="d-flex flex-stack py-2">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <img alt="Pic" src="../../../assets/themes/wp/default/light/img/user_F4.svg">
                                </div>
                                <div class="ms-5">
                                    <a class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Lê Phạm Hoài Thương </a>
                                    <div class="fw-bold text-gray-400">
                                        <span>You and 12 others</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-stack py-2">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <img alt="Pic" src="../../../assets/themes/wp/default/light/img/user_F4.svg">
                                </div>
                                <div class="ms-5">
                                    <a class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Hội chờ lương mua trà sữa </a>
                                    <div class="fw-bold text-gray-400">
                                        <span>You and 12 others</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Search results-->
                </div>

            </div>
        </div>
    </div>
</div>
<h2 class="text-danger">A.1.3 Khung chat</h2>

<div class="row">
    <div class="col-lg-4 col-xl-4">
        <!--begin::Card-->
        <div class="card ">
            <!--begin::Header-->
            <div class="card-header align-items-center">
                <div class="text-left flex-grow-1">
                    <div class="d-flex align-items-center">
                        <div class="symbol symbol-circle symbol-35 mr-3">
                            <img alt="Pic" src="../../../assets/themes/wp/default/light/img/user_F3.svg">
                            <i class="symbol-badge symbol-badge-bottom bg-success"></i>
                        </div>
                        <div class="d-flex flex-column flex-grow-1">
                            <div class="text-dark font-weight-bold">Lê Phạm Hoài
                                Thương</div>
                            <div class="d-flex align-items-center mt-1">
                                <div class="label label-xxs label-pill label-inline label-light-danger">
                                    Boss
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="text-right flex-grow-1">
                    <span class="icon-open_in_new icon-24 text-dark-75 text-hover-primary ml-3"></span>
                    <span class="icon-horizontal_rule  icon-24 text-dark-75 text-hover-primary ml-3"></span>
                    <span class=" icon-close icon-24 text-dark-75 text-hover-primary ml-3"></span>
                </div>
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body">
                <!--begin::Scroll-->
                <div class="scroll scroll-pull ps ps--active-y" style="height: 375px; overflow-y: auto;">
                    <!--begin::Messages-->
                    <div class="messages">
                        <!--begin::Message Out-->
                        <div class="d-flex flex-column mb-5 align-items-end">
                            <div
                                class="mt-2 mess-rounded p-2 bg-light-primary text-dark-50 font-weight-bold font-size-lg text-right max-w-400px">
                                Chiều nay tầm 1h30 e build web, @dev + @design check code lên giúp e</div>
                        </div>
                        <!--end::Message Out-->
                        <!--begin::Message In-->
                        <div class="d-flex align-items-start user-card py-2">
                            <div class="symbol symbol-40 symbol-circle mr-4">
                                <img alt="Pic" src="../../../assets/themes/wp/default/light/img/user_F3.svg">
                            </div>
                            <div class="d-flex ">
                                <div class="mt-2 mess-rounded p-2 bg-light-info text-dark  max-w-400px">
                                    Ok e, chiều nay tầm 1h30 e build web, @dev + @design check code lên giúp e
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap gap-2">
                                <div class="d-flex">
                                    <!--begin::Star-->
                                    <a href="#" class="btn btn-sm btn-icon btn-clear btn-active-light-primary me-3">
                                        <span class=" icon-redo icon-18 ml-3 mr-2 text-dark-25"></span>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-icon btn-clear btn-active-light-primary me-3">
                                        <span class=" icon-tag_faces icon-18 text-dark-25 ml-3 mr-2"></span>
                                    </a>
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-icon btn-clear btn-active-light-primary me-3"
                                            type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            <span class="icon-more_vert icon-20 text-dark-25"></span>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item">
                                                <div class="d-flex align-items-center">
                                                    <span class="icon-attach icon-18"></span>
                                                    <span class="ml-3">Đính kèm</span>
                                                </div>
                                            </a>
                                            <a class="dropdown-item">
                                                <div class="d-flex align-items-center">
                                                    <span class="icon-share icon-18 text-warning"></span>
                                                    <span class="ml-3">Gửi mail</span>
                                                </div>
                                            </a>
                                            <a class="dropdown-item">
                                                <div class="d-flex align-items-center">
                                                    <span class="icon-share icon-18"></span>
                                                    <span class="ml-3">Chia sẻ</span>
                                                </div>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item">
                                                <div class="d-flex align-items-center">
                                                    <span class="icon-list_alt icon-18"></span>
                                                    <span class="ml-3">Chức năng mở rộng</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Message In-->
                        <!--begin::Message Out-->
                        <div class="d-flex flex-column mb-5 align-items-end">
                            <div
                                class="mt-2 mess-rounded p-2 bg-light-primary text-dark-50 font-weight-bold font-size-lg text-right max-w-400px">
                                Em build xong rồi nha mọi người</div>
                        </div>
                        <!--end::Message Out-->
                        <div class="separator separator-content my-15">Separator</div>
                        <div class="d-flex flex-column align-items-center  justify-content-between line-date">

                            <h6 class="label-date font-size-md text-dark-50">14/10/2021 2:54 PM </h6>

                        </div>
                        <!--begin::Message In-->
                        <div class="d-flex align-items-start user-card py-2">
                            <div class="symbol symbol-40 symbol-circle mr-4">
                                <img alt="Pic" src="../../../assets/themes/wp/default/light/img/user_F3.svg">
                            </div>
                            <div class="align-items-center">
                                <div class="mt-2 mess-rounded p-2 bg-light-info text-dark  max-w-400px"
                                    data-bs-toggle="tooltip" title="hiển thị giờ">
                                    số tiền TotalAmt mặc dù đã update vào data nhưng trên lưới load rồi k refesh
                                    lại
                                </div>
                                <div class="mt-2 mess-rounded p-2 bg-light-info text-dark  max-w-400px">
                                    số tiền TotalAmt mặc dù đã update vào data nhưng trên lưới load rồi k refesh
                                    lại
                                </div>
                            </div>
                        </div>
                        <!--end::Message In-->

                    </div>
                    <!--end::Messages-->
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps__rail-y" style="top: 0px; right: -2px; height: 375px;">
                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 133px;"></div>
                    </div>
                </div>
                <!--end::Scroll-->
            </div>
            <!--end::Body-->
            <!--begin::Footer-->
            <div class="card-footer align-items-center">
                <div class="d-flex flex-stack  justify-content-between">
                    <!--begin::Actions-->
                    <div class="d-flex align-items-center  justify-content-between">
                        <button class="btn btn-sm btn-icon btn-active-light-primary me-1" type="button"
                            data-bs-toggle="tooltip" title="" data-bs-original-title="Biểu cảm">
                            <i class=" icon-tag_faces icon-24 text-primary "></i>
                        </button>
                        <button class="btn btn-sm btn-icon btn-active-light-primary me-1" type="button"
                            data-bs-toggle="tooltip" title="" data-bs-original-title="đính kèm">
                            <i class="icon-broken_image icon-24 text-primary"></i>
                        </button>
                    </div>
                    <input class="form-control form-control-flush form-message" data-kt-element="input"
                        placeholder="Type a message" />
                    <!--end::Actions-->
                    <!--begin::Send-->
                    <div class="d-flex align-items-center justify-content-between">
                        <button class="btn btn-sm btn-icon btn-active-light-primary me-1" type="button"
                            data-bs-toggle="tooltip" title="" data-bs-original-title="send" data-kt-element="send">
                            <i class="  icon-send icon-24 text-primary "></i>
                        </button>
                    </div>
                    <!--end::Send-->
                </div>
            </div>
            <!--end::Footer-->
        </div>
        <!--end::Card-->
    </div>
</div>





<div class="d-flex align-items-center gap-2 gap-lg-3">
    <!--begin::Filter menu-->
    <div class="m-0">
        <!--begin::Menu toggle-->
        <div class="d-flex align-items-center ms-1 ms-lg-3">
            <!--begin::Menu wrapper-->
            <div class="btn btn-icon btn-icon-muted btn-active-light btn-active-color-primary w-30px h-30px w-md-40px h-md-40px position-relative"
                id="kt_drawer_chat_toggle">
                <!--begin::Svg Icon | path: icons/duotune/communication/com012.svg-->
                <span class="icon-chat_bubble_outline fs-2 text-primary"> </span>
                <!--end::Svg Icon-->
                <span
                    class="bullet-badge badge badge-circle bg-danger h-6px w-6px start-100  position-absolute translate-middle top-0 animation-blink ">3</span>
            </div>
            <!--end::Menu wrapper-->
        </div>
        <a href="#"
            class="btn btn-icon btn-icon-muted btn-active-light btn-active-color-primary w-30px h-30px w-md-40px h-md-40px show menu-dropdown"
            data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
            <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
            <span class="icon-chat_bubble_outline icon-22 text-primary"> </span>
            <!--end::Svg Icon-->
            <span class="symbol-badge badge badge-circle bg-danger start-100">3</span>
        </a>
        <!--end::Menu toggle-->
        <!--begin::Menu 1-->
        <div class="menu menu-sub menu-sub-dropdown w-350px w-md-400px show" data-kt-menu="true" id="kt_chat_messenger"
            style="z-index: 105; position: fixed; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-115px, 110px, 0px);"
            data-popper-placement="bottom-end">
            <div class="card card-flush">
                <!--begin::Header-->
                <div class="card-header pe-5">
                    <div class="card-title">
                        <div class="d-flex justify-content-center flex-column me-3">
                            <a
                                class="fs-4 fw-bolder text-gray-900 text-hover-primary me-1 mb-2 lh-1 cursor-pointer">Chatting</a>
                        </div>
                    </div>
                    <div class="card-toolbar">
                        <div class="me-2">
                            <button class="btn btn-sm btn-icon btn-active-light-primary">
                                <span class="icon-group_add icon-24 text-dark-75 text-hover-primary"></span>
                            </button>
                        </div>
                        <div class="btn btn-sm btn-icon btn-active-light-primary">
                            <span class="icon-playlist_add_check  icon-24 text-dark-75 text-hover-primary ml-3"></span>
                        </div>
                        <div class="btn btn-sm btn-icon btn-active-light-primary">
                            <span class="icon-open_in_new icon-24 text-dark-75 text-hover-primary ml-3"></span>
                        </div>
                    </div>
                </div>
                <!--end::Header-->
                <div class="card-body pt-0">
                    <!--begin::Form search-->
                    <div class="d-flex align-content-stretch flex-wrap">
                        <form autocomplete="off" class="position-relative d-flex flex-grow-1 align-items-center">
                            <span class="icon-search position-absolute top-50 fs-2 ms-5 translate-middle-y"> </span>
                            <!----><input type="text" name="search" placeholder="Tìm kiếm..."
                                class="form-control form-control-solid rounded  px-15">
                        </form>
                        <span class="icon-group_add fs-2 ms-5 d-flex align-items-center"></span>
                    </div>
                    <!--end::Form search-->
                    <div data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                        data-kt-scroll-max-height="auto"
                        data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_chat_contacts_header"
                        data-kt-scroll-wrappers="#kt_content, #kt_chat_contacts_body" data-kt-scroll-offset="0px"
                        class="scroll-y me-n5 pe-5 h-200px h-lg-auto" style="max-height: 475px;">
                        <div class="d-flex flex-stack py-2 Unread">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <img alt="Pic" src="../../../assets/themes/wp/default/light/img/user_F4.svg">
                                </div>
                                <div class="ms-5">
                                    <a class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Lê Phạm Hoài Thương </a>
                                    <div class="fw-bold text-primary">
                                        <span class="icon-local_offer text-success icon-16 me-2"></span>
                                        <span class="me-2">Bạn:</span><span>Dạ em cảm ơn chị ạ</span>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-column align-items-end ms-2">
                                <span class="text-muted fs-7 mb-1">1 tuần</span>
                                <span class="badge badge-primary badge-circle w-10px h-10px me-1"></span>
                            </div>
                        </div>
                        <div class="d-flex flex-stack py-2 read">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <img alt="Pic" src="../../../assets/themes/wp/default/light/img/user_F4.svg">
                                </div>
                                <div class="ms-5">
                                    <a class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Lê Phạm Hoài Thương </a>
                                    <div class="fw-bold text-gray-400">
                                        <span class="icon-local_offer text-success icon-16 me-2"></span>
                                        <span class=" me-2">Bạn:</span><span>Dạ em cảm ơn chị ạ</span>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-column align-items-end ms-2">
                                <span class="text-muted fs-7 mb-1">1 tuần</span>
                                <span class="badge badge-secondary badge-circle w-10px h-10px me-1"></span>
                            </div>
                        </div>
                        <div class="d-flex flex-stack py-2 read">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                    <img alt="Pic" src="../../../assets/themes/wp/default/light/img/user_F1.svg">
                                </div>
                                <div class="ms-5">
                                    <a class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Lê Phạm Hoài Thương </a>
                                    <div class="fw-bold text-gray-400">
                                        <span class="me-2">Bạn:</span><span>Dạ em cảm ơn chị ạ</span>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-column align-items-end ms-2">
                                <span class="text-muted fs-7 mb-1">1 tuần</span>
                                <span class="badge badge-secondary badge-circle w-10px h-10px me-1"></span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!--end::Menu 1-->
    </div>
    <!--end::Filter menu-->

</div>



<div ng-app-chat="">
    <div ng-app-private-chat="" class="d-flex flex-column flex-lg-row">
        <div class="flex-column flex-lg-row-auto w-100 w-lg-300px w-xl-400px mb-10 mb-lg-0">
            <div class="card card-flush">
                <div id="kt_chat_contacts_header" class="card-header pt-7">

                    <form autocomplete="off" class="position-relative d-flex flex-grow-1 align-items-center">
                        <span
                            class="svg-icon svg-icon-2 svg-icon-lg-1 svg-icon-gray-500 position-absolute top-50 ms-5 translate-middle-y">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
                                    transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
                                <path
                                    d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                    fill="currentColor"></path>
                            </svg>
                        </span>
                        <!----><input type="text" name="search" placeholder="Tìm kiếm..."
                            class="form-control form-control-solid rounded  px-15">
                    </form>
                    <span class="svg-icon svg-icon-1  icon-group_add icon-18 d-flex align-items-center">
                        <svg xmlns=" http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path
                                d="M20 14H18V10H20C20.6 10 21 10.4 21 11V13C21 13.6 20.6 14 20 14ZM21 19V17C21 16.4 20.6 16 20 16H18V20H20C20.6 20 21 19.6 21 19ZM21 7V5C21 4.4 20.6 4 20 4H18V8H20C20.6 8 21 7.6 21 7Z"
                                fill="currentColor"></path>
                            <path opacity="0.3"
                                d="M17 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H17C17.6 2 18 2.4 18 3V21C18 21.6 17.6 22 17 22ZM10 7C8.9 7 8 7.9 8 9C8 10.1 8.9 11 10 11C11.1 11 12 10.1 12 9C12 7.9 11.1 7 10 7ZM13.3 16C14 16 14.5 15.3 14.3 14.7C13.7 13.2 12 12 10.1 12C8.10001 12 6.49999 13.1 5.89999 14.7C5.59999 15.3 6.19999 16 7.39999 16H13.3Z"
                                fill="currentColor"></path>
                        </svg>
                    </span>

                </div>
                <div id="kt_chat_contacts_body" class="card-body pt-5">
                    <div data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                        data-kt-scroll-max-height="auto"
                        data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_chat_contacts_header"
                        data-kt-scroll-wrappers="#kt_content, #kt_chat_contacts_body" data-kt-scroll-offset="0px"
                        class="scroll-y me-n5 pe-5 h-200px h-lg-auto" style="max-height: 475px;">
                        <div class="d-flex flex-stack py-2">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle"><span
                                        class="symbol-label bg-light-danger text-danger fs-6 fw-bolder"> M </span></div>
                                <div class="ms-5">
                                    <a class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Melody Macy </a>
                                    <div class="fw-bold text-gray-400">melody@altbox.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2"><span class="text-muted fs-7 mb-1">5
                                    hrs</span></div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                        <div class="d-flex flex-stack py-2">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle"><img alt="Pic"
                                        src="./Angular - Demo1_files/300-1.jpg"></div>
                                <div class="ms-5">
                                    <a class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer"> Max
                                        Smith </a>
                                    <div class="fw-bold text-gray-400">max@kt.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2"><span class="text-muted fs-7 mb-1">20
                                    hrs</span></div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                        <div class="d-flex flex-stack py-2">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle"><img alt="Pic"
                                        src="./assets/themes/sys/default/light/img/NoAvatar.svg"></div>
                                <div class="ms-5">
                                    <a class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Sean Bean </a>
                                    <div class="fw-bold text-gray-400">sean@dellito.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2"><span class="text-muted fs-7 mb-1">20
                                    hrs</span><span class="badge badge-sm badge-circle badge-light-success">6</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                        <div class="d-flex flex-stack py-2">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle"><img alt="Pic"
                                        src="./Angular - Demo1_files/300-25.jpg"></div>
                                <div class="ms-5">
                                    <a class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Brian Cox </a>
                                    <div class="fw-bold text-gray-400">brian@exchange.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2"><span class="text-muted fs-7 mb-1">20
                                    hrs</span></div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                        <div class="d-flex flex-stack py-2">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle"><span
                                        class="symbol-label bg-light-warning text-warning fs-6 fw-bolder"> M </span>
                                </div>
                                <div class="ms-5">
                                    <a class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Mikaela Collins </a>
                                    <div class="fw-bold text-gray-400">mikaela@pexcom.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2"><span class="text-muted fs-7 mb-1">1
                                    day</span></div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                        <div class="d-flex flex-stack py-2">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle"><img alt="Pic"
                                        src="./Angular - Demo1_files/300-9.jpg"></div>
                                <div class="ms-5">
                                    <a class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Francis Mitcham </a>
                                    <div class="fw-bold text-gray-400">f.mitcham@kpmg.com.au</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2"><span class="text-muted fs-7 mb-1">5
                                    hrs</span><span class="badge badge-sm badge-circle badge-light-success">6</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                        <div class="d-flex flex-stack py-2">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder"> O </span>
                                    <div
                                        class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2">
                                    </div>
                                </div>
                                <div class="ms-5">
                                    <a class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Olivia Wild </a>
                                    <div class="fw-bold text-gray-400">olivia@corpmail.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2"><span class="text-muted fs-7 mb-1">1
                                    week</span></div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                        <div class="d-flex flex-stack py-2">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle"><span
                                        class="symbol-label bg-light-primary text-primary fs-6 fw-bolder"> N </span>
                                </div>
                                <div class="ms-5">
                                    <a class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Neil Owen </a>
                                    <div class="fw-bold text-gray-400">owen.neil@gmail.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2"><span class="text-muted fs-7 mb-1">20
                                    hrs</span><span class="badge badge-sm badge-circle badge-light-success">6</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                        <div class="d-flex flex-stack py-2">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle"><img alt="Pic"
                                        src="./Angular - Demo1_files/300-23.jpg"></div>
                                <div class="ms-5">
                                    <a class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer"> Dan
                                        Wilson </a>
                                    <div class="fw-bold text-gray-400">dam@consilting.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2"><span class="text-muted fs-7 mb-1">2
                                    weeks</span><span class="badge badge-sm badge-circle badge-light-warning">9</span>
                            </div>
                        </div>
                        <div class="separator separator-dashed d-none"></div>
                        <div class="d-flex flex-stack py-2">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-45px symbol-circle">
                                    <span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder"> E </span>
                                    <div
                                        class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2">
                                    </div>
                                </div>
                                <div class="ms-5">
                                    <a class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Emma Bold </a>
                                    <div class="fw-bold text-gray-400">emma@intenso.com</div>
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-end ms-2"><span class="text-muted fs-7 mb-1">1
                                    day</span></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>
<div class="symbol-floating">
    <div class="symbol-group symbol-hover flex-column  w-100px">
        <div class="symbol symbol-circle symbol-50px menu-item" data-bs-toggle="tooltip" data-bs-placement="left"
            title="Nguyễn Văn A">
            <img src="./assets/themes/sys/default/light/img/avatar_default.svg" alt="" />
            <div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2">
            </div>
        </div>

        <div class="symbol symbol-circle symbol-50px menu-item">
            <img src="./assets/themes/wp/default/light/img/user_M2.svg" alt="" />
        </div>

        <div class="symbol symbol-circle symbol-50px menu-item">
            <img src="./assets/themes/wp/default/light/img/user_F1.svg" alt="" />
        </div>

        <div class="symbol symbol-circle symbol-50px menu-item">
            <img src="./assets/themes/wp/default/light/img/user_F2.svg" alt="" />
        </div>

        <div class="symbol symbol-circle symbol-50px menu-item">
            <img src="./assets/themes/wp/default/light/img/user_F3.svg" alt="" />
        </div>

        <div class="symbol symbol-circle symbol-50px">
            <img src="./assets/themes/wp/default/light/img/user_M1.svg" alt="" />
        </div>
        <div class="symbol symbol-50 symbol-circle symbol-light symbol-more"><span
                class="symbol-label font-weight-bold">5+</span></div>

    </div>
</div>


<div class="card rounded" style="width: 380px;">
    <div class="card-header pe-5">
        <div class="card-title">
            <div class="d-flex justify-content-center flex-column me-3">
                <a class="fs-4 fw-bolder text-gray-900 text-hover-primary
          me-1 mb-2 lh-1 cursor-pointer">Chatting</a>
                <div class="mb-0 lh-1">
                    <span class="badge badge-success badge-circle w-10px h-10px me-1"></span><span
                        class="fs-7 fw-bold text-gray-400">Active</span>
                </div>
            </div>
        </div>
        <div class="card-toolbar">
            <div class="me-2">
                <button class="btn btn-sm btn-icon btn-active-light-primary">
                    <span class="icon-group_add icon-24 text-dark-75 text-hover-primary"></span>
                </button>
            </div>
            <div class="btn btn-sm btn-icon btn-active-light-primary">
                <span class="icon-playlist_add_check  icon-24 text-dark-75 text-hover-primary ml-3"></span>

            </div>
            <div class="btn btn-sm btn-icon btn-active-light-primary">
                <span class="icon-open_in_new icon-24 text-dark-75 text-hover-primary ml-3"></span>

            </div>
        </div>
    </div>
</div>