<div class="d-flex flex-row ">
    <div class="d-flex flex-column flex-row-auto w-100px">
        <div class="d-flex flex-column-fluid bg-success flex-center">
            <span class="text-white">Fluid Height</span>
        </div>
    </div>

    <div class="d-flex flex-column flex-row-fluid">

        <div class="d-flex flex-row flex-column-fluid">
            <div class="d-flex flex-row-fluid bg-light-danger flex-center">
                <span class="text-white">Fluid Width</span>
            </div>

            <div class="d-flex flex-row-auto w-300px bg-warning flex-center">
                <span class="text-white">Fixed Width</span>
            </div>
        </div>
    </div>
</div>
<div ng-app-chat="">
    <div ng-app-private-chat="" class="d-flex flex-column flex-lg-row">
        <div class="flex-column flex-lg-row-auto w-100 w-lg-300px w-xl-400px mb-10 mb-lg-0">
            <div class="card card-flush">
                <div id="kt_chat_contacts_header" class="card-header pt-7">

                    <form autocomplete="off" class="position-relative d-flex flex-grow-1 align-items-center">
                        <span
                            class="svg-icon svg-icon-2 svg-icon-lg-1 svg-icon-gray-500 position-absolute top-50 ms-5 translate-middle-y">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
                                    transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
                                <path
                                    d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                    fill="currentColor"></path>
                            </svg>
                        </span>
                        <!----><input type="text" name="search" placeholder="Tìm kiếm..."
                            class="form-control form-control-solid rounded  px-15">
                    </form>
                    <span class="svg-icon svg-icon-1  icon-group_add icon-18 d-flex align-items-center">
                        <svg xmlns=" http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path
                                d="M20 14H18V10H20C20.6 10 21 10.4 21 11V13C21 13.6 20.6 14 20 14ZM21 19V17C21 16.4 20.6 16 20 16H18V20H20C20.6 20 21 19.6 21 19ZM21 7V5C21 4.4 20.6 4 20 4H18V8H20C20.6 8 21 7.6 21 7Z"
                                fill="currentColor"></path>
                            <path opacity="0.3"
                                d="M17 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H17C17.6 2 18 2.4 18 3V21C18 21.6 17.6 22 17 22ZM10 7C8.9 7 8 7.9 8 9C8 10.1 8.9 11 10 11C11.1 11 12 10.1 12 9C12 7.9 11.1 7 10 7ZM13.3 16C14 16 14.5 15.3 14.3 14.7C13.7 13.2 12 12 10.1 12C8.10001 12 6.49999 13.1 5.89999 14.7C5.59999 15.3 6.19999 16 7.39999 16H13.3Z"
                                fill="currentColor"></path>
                        </svg>
                    </span>

                </div>
                <div _ngcontent-vmh-c85="" id="kt_chat_contacts_body" class="card-body pt-5">
                    <div _ngcontent-vmh-c85="" data-kt-scroll="true"
                        data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto"
                        data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_chat_contacts_header"
                        data-kt-scroll-wrappers="#kt_content, #kt_chat_contacts_body" data-kt-scroll-offset="0px"
                        class="scroll-y me-n5 pe-5 h-200px h-lg-auto" style="max-height: 475px;">
                        <div _ngcontent-vmh-c85="" class="d-flex flex-stack py-4">
                            <div _ngcontent-vmh-c85="" class="d-flex align-items-center">
                                <div _ngcontent-vmh-c85="" class="symbol symbol-45px symbol-circle"><span
                                        _ngcontent-vmh-c85=""
                                        class="symbol-label bg-light-danger text-danger fs-6 fw-bolder"> M </span></div>
                                <div _ngcontent-vmh-c85="" class="ms-5">
                                    <a _ngcontent-vmh-c85=""
                                        class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Melody Macy </a>
                                    <div _ngcontent-vmh-c85="" class="fw-bold text-gray-400">melody@altbox.com</div>
                                </div>
                            </div>
                            <div _ngcontent-vmh-c85="" class="d-flex flex-column align-items-end ms-2"><span
                                    _ngcontent-vmh-c85="" class="text-muted fs-7 mb-1">5 hrs</span></div>
                        </div>
                        <div _ngcontent-vmh-c85="" class="separator separator-dashed d-none"></div>
                        <div _ngcontent-vmh-c85="" class="d-flex flex-stack py-4">
                            <div _ngcontent-vmh-c85="" class="d-flex align-items-center">
                                <div _ngcontent-vmh-c85="" class="symbol symbol-45px symbol-circle"><img
                                        _ngcontent-vmh-c85="" alt="Pic" src="./Angular - Demo1_files/300-1.jpg"></div>
                                <div _ngcontent-vmh-c85="" class="ms-5">
                                    <a _ngcontent-vmh-c85=""
                                        class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer"> Max
                                        Smith </a>
                                    <div _ngcontent-vmh-c85="" class="fw-bold text-gray-400">max@kt.com</div>
                                </div>
                            </div>
                            <div _ngcontent-vmh-c85="" class="d-flex flex-column align-items-end ms-2"><span
                                    _ngcontent-vmh-c85="" class="text-muted fs-7 mb-1">20 hrs</span></div>
                        </div>
                        <div _ngcontent-vmh-c85="" class="separator separator-dashed d-none"></div>
                        <div _ngcontent-vmh-c85="" class="d-flex flex-stack py-4">
                            <div _ngcontent-vmh-c85="" class="d-flex align-items-center">
                                <div _ngcontent-vmh-c85="" class="symbol symbol-45px symbol-circle"><img
                                        _ngcontent-vmh-c85="" alt="Pic"
                                        src="./assets/themes/sys/default/light/img/NoAvatar.svg"></div>
                                <div _ngcontent-vmh-c85="" class="ms-5">
                                    <a _ngcontent-vmh-c85=""
                                        class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Sean Bean </a>
                                    <div _ngcontent-vmh-c85="" class="fw-bold text-gray-400">sean@dellito.com</div>
                                </div>
                            </div>
                            <div _ngcontent-vmh-c85="" class="d-flex flex-column align-items-end ms-2"><span
                                    _ngcontent-vmh-c85="" class="text-muted fs-7 mb-1">20 hrs</span><span
                                    _ngcontent-vmh-c85=""
                                    class="badge badge-sm badge-circle badge-light-success">6</span></div>
                        </div>
                        <div _ngcontent-vmh-c85="" class="separator separator-dashed d-none"></div>
                        <div _ngcontent-vmh-c85="" class="d-flex flex-stack py-4">
                            <div _ngcontent-vmh-c85="" class="d-flex align-items-center">
                                <div _ngcontent-vmh-c85="" class="symbol symbol-45px symbol-circle"><img
                                        _ngcontent-vmh-c85="" alt="Pic" src="./Angular - Demo1_files/300-25.jpg"></div>
                                <div _ngcontent-vmh-c85="" class="ms-5">
                                    <a _ngcontent-vmh-c85=""
                                        class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Brian Cox </a>
                                    <div _ngcontent-vmh-c85="" class="fw-bold text-gray-400">brian@exchange.com</div>
                                </div>
                            </div>
                            <div _ngcontent-vmh-c85="" class="d-flex flex-column align-items-end ms-2"><span
                                    _ngcontent-vmh-c85="" class="text-muted fs-7 mb-1">20 hrs</span></div>
                        </div>
                        <div _ngcontent-vmh-c85="" class="separator separator-dashed d-none"></div>
                        <div _ngcontent-vmh-c85="" class="d-flex flex-stack py-4">
                            <div _ngcontent-vmh-c85="" class="d-flex align-items-center">
                                <div _ngcontent-vmh-c85="" class="symbol symbol-45px symbol-circle"><span
                                        _ngcontent-vmh-c85=""
                                        class="symbol-label bg-light-warning text-warning fs-6 fw-bolder"> M </span>
                                </div>
                                <div _ngcontent-vmh-c85="" class="ms-5">
                                    <a _ngcontent-vmh-c85=""
                                        class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Mikaela Collins </a>
                                    <div _ngcontent-vmh-c85="" class="fw-bold text-gray-400">mikaela@pexcom.com</div>
                                </div>
                            </div>
                            <div _ngcontent-vmh-c85="" class="d-flex flex-column align-items-end ms-2"><span
                                    _ngcontent-vmh-c85="" class="text-muted fs-7 mb-1">1 day</span></div>
                        </div>
                        <div _ngcontent-vmh-c85="" class="separator separator-dashed d-none"></div>
                        <div _ngcontent-vmh-c85="" class="d-flex flex-stack py-4">
                            <div _ngcontent-vmh-c85="" class="d-flex align-items-center">
                                <div _ngcontent-vmh-c85="" class="symbol symbol-45px symbol-circle"><img
                                        _ngcontent-vmh-c85="" alt="Pic" src="./Angular - Demo1_files/300-9.jpg"></div>
                                <div _ngcontent-vmh-c85="" class="ms-5">
                                    <a _ngcontent-vmh-c85=""
                                        class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Francis Mitcham </a>
                                    <div _ngcontent-vmh-c85="" class="fw-bold text-gray-400">f.mitcham@kpmg.com.au</div>
                                </div>
                            </div>
                            <div _ngcontent-vmh-c85="" class="d-flex flex-column align-items-end ms-2"><span
                                    _ngcontent-vmh-c85="" class="text-muted fs-7 mb-1">5 hrs</span><span
                                    _ngcontent-vmh-c85=""
                                    class="badge badge-sm badge-circle badge-light-success">6</span></div>
                        </div>
                        <div _ngcontent-vmh-c85="" class="separator separator-dashed d-none"></div>
                        <div _ngcontent-vmh-c85="" class="d-flex flex-stack py-4">
                            <div _ngcontent-vmh-c85="" class="d-flex align-items-center">
                                <div _ngcontent-vmh-c85="" class="symbol symbol-45px symbol-circle">
                                    <span _ngcontent-vmh-c85=""
                                        class="symbol-label bg-light-danger text-danger fs-6 fw-bolder"> O </span>
                                    <div _ngcontent-vmh-c85=""
                                        class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2">
                                    </div>
                                </div>
                                <div _ngcontent-vmh-c85="" class="ms-5">
                                    <a _ngcontent-vmh-c85=""
                                        class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Olivia Wild </a>
                                    <div _ngcontent-vmh-c85="" class="fw-bold text-gray-400">olivia@corpmail.com</div>
                                </div>
                            </div>
                            <div _ngcontent-vmh-c85="" class="d-flex flex-column align-items-end ms-2"><span
                                    _ngcontent-vmh-c85="" class="text-muted fs-7 mb-1">1 week</span></div>
                        </div>
                        <div _ngcontent-vmh-c85="" class="separator separator-dashed d-none"></div>
                        <div _ngcontent-vmh-c85="" class="d-flex flex-stack py-4">
                            <div _ngcontent-vmh-c85="" class="d-flex align-items-center">
                                <div _ngcontent-vmh-c85="" class="symbol symbol-45px symbol-circle"><span
                                        _ngcontent-vmh-c85=""
                                        class="symbol-label bg-light-primary text-primary fs-6 fw-bolder"> N </span>
                                </div>
                                <div _ngcontent-vmh-c85="" class="ms-5">
                                    <a _ngcontent-vmh-c85=""
                                        class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Neil Owen </a>
                                    <div _ngcontent-vmh-c85="" class="fw-bold text-gray-400">owen.neil@gmail.com</div>
                                </div>
                            </div>
                            <div _ngcontent-vmh-c85="" class="d-flex flex-column align-items-end ms-2"><span
                                    _ngcontent-vmh-c85="" class="text-muted fs-7 mb-1">20 hrs</span><span
                                    _ngcontent-vmh-c85=""
                                    class="badge badge-sm badge-circle badge-light-success">6</span></div>
                        </div>
                        <div _ngcontent-vmh-c85="" class="separator separator-dashed d-none"></div>
                        <div _ngcontent-vmh-c85="" class="d-flex flex-stack py-4">
                            <div _ngcontent-vmh-c85="" class="d-flex align-items-center">
                                <div _ngcontent-vmh-c85="" class="symbol symbol-45px symbol-circle"><img
                                        _ngcontent-vmh-c85="" alt="Pic" src="./Angular - Demo1_files/300-23.jpg"></div>
                                <div _ngcontent-vmh-c85="" class="ms-5">
                                    <a _ngcontent-vmh-c85=""
                                        class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer"> Dan
                                        Wilson </a>
                                    <div _ngcontent-vmh-c85="" class="fw-bold text-gray-400">dam@consilting.com</div>
                                </div>
                            </div>
                            <div _ngcontent-vmh-c85="" class="d-flex flex-column align-items-end ms-2"><span
                                    _ngcontent-vmh-c85="" class="text-muted fs-7 mb-1">2 weeks</span><span
                                    _ngcontent-vmh-c85=""
                                    class="badge badge-sm badge-circle badge-light-warning">9</span></div>
                        </div>
                        <div _ngcontent-vmh-c85="" class="separator separator-dashed d-none"></div>
                        <div _ngcontent-vmh-c85="" class="d-flex flex-stack py-4">
                            <div _ngcontent-vmh-c85="" class="d-flex align-items-center">
                                <div _ngcontent-vmh-c85="" class="symbol symbol-45px symbol-circle">
                                    <span _ngcontent-vmh-c85=""
                                        class="symbol-label bg-light-danger text-danger fs-6 fw-bolder"> E </span>
                                    <div _ngcontent-vmh-c85=""
                                        class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2">
                                    </div>
                                </div>
                                <div _ngcontent-vmh-c85="" class="ms-5">
                                    <a _ngcontent-vmh-c85=""
                                        class="fs-5 fw-bolder text-gray-900 text-hover-primary mb-2 cursor-pointer">
                                        Emma Bold </a>
                                    <div _ngcontent-vmh-c85="" class="fw-bold text-gray-400">emma@intenso.com</div>
                                </div>
                            </div>
                            <div _ngcontent-vmh-c85="" class="d-flex flex-column align-items-end ms-2"><span
                                    _ngcontent-vmh-c85="" class="text-muted fs-7 mb-1">1 day</span></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>
<div class="symbol-floating">
    <div class="symbol-group symbol-hover flex-column  w-100px">
        <div class="symbol symbol-circle symbol-50px menu-item" data-bs-toggle="tooltip" data-bs-placement="left"
            title="Nguyễn Văn A">
            <img src="./assets/themes/sys/default/light/img/avatar_default.svg" alt="" />
            <div class="symbol-badge bg-success start-100 top-100 border-4 h-15px w-15px ms-n2 mt-n2">
            </div>
        </div>

        <div class="symbol symbol-circle symbol-50px menu-item">
            <img src="./assets/themes/wp/default/light/img/user_M2.svg" alt="" />
        </div>

        <div class="symbol symbol-circle symbol-50px menu-item">
            <img src="./assets/themes/wp/default/light/img/user_F1.svg" alt="" />
        </div>

        <div class="symbol symbol-circle symbol-50px menu-item">
            <img src="./assets/themes/wp/default/light/img/user_F2.svg" alt="" />
        </div>

        <div class="symbol symbol-circle symbol-50px menu-item">
            <img src="./assets/themes/wp/default/light/img/user_F3.svg" alt="" />
        </div>

        <div class="symbol symbol-circle symbol-50px">
            <img src="./assets/themes/wp/default/light/img/user_M1.svg" alt="" />
        </div>
        <div class="symbol symbol-50 symbol-circle symbol-light symbol-more"><span
                class="symbol-label font-weight-bold">5+</span></div>

    </div>
</div>
<div class="row">
    <div class="col-xl- col-lg-4 col-md-6 col-sm-6">
        <h2>Chatting_Alert</h2>
        <div style="width: 400px;" class="card chat-box card card-custom">

            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-5 mt-2">
                    <div class="font-size-h4 text-dark font-weight-bold">Chatting</div>
                    <div class="d-flex">
                        <span class="icon-group_add icon-24 text-dark-75 text-hover-primary ml-3"></span>
                        <span class="icon-playlist_add_check  icon-24 text-dark-75 text-hover-primary ml-3"></span>
                        <span class="icon-open_in_new icon-24 text-dark-75 text-hover-primary ml-3"></span>
                    </div>
                </div>
                <div class="mb-5">
                    <div class="input-icon ">
                        <input type="text" placeholder="Tìm kiếm..." class="form-control form-control-search">
                        <span><i class="icon-search icon-20"></i></span>
                    </div>
                </div>
                <div class="chat-list m-1" style="max-height:445px; overflow-y: auto;">
                    <div class="d-flex align-items-center user-card pb-4">
                        <div class="symbol symbol-50 symbol-circle mr-4"><img alt="Pic"
                                src="../../../assets/themes/wp/default/light/img/user_F2.svg"></div>
                        <div class="d-flex flex-column flex-grow-1">
                            <div class="d-flex align-items-center justify-content-between">you
                                <div class="text-dark font-weight-bold"> Lê Phạm Hoài Thương </div>
                                <div class="text-dark-50">1 day</div>
                            </div>
                            <div class="d-flex align-items-center"><span
                                    class="icon-local_offer text-success icon-16 mr-2"></span><span
                                    class="text-dark-50">Cám ơn
                                    Hảo nha!</span></div>
                        </div>
                        <div class="ml-3"><span class="status-circle"></span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center user-card pb-4">
                        <div class="symbol symbol-50 symbol-circle mr-4"><img alt="Pic"
                                src="../../../assets/themes/wp/default/light/img/user_F2.svg"></div>
                        <div class="d-flex flex-column flex-grow-1">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="text-dark font-weight-bold"> Lê Phạm Hoài Thương </div>
                                <div class="text-dark-50">1 day</div>
                            </div>
                            <div class="d-flex align-items-center"><span
                                    class="icon-local_offer text-danger icon-16 mr-2"></span><span
                                    class="text-primary">Phác
                                    thảo
                                    lại userprofile</span></div>
                        </div>
                        <div class="ml-3"><span class="status-circle online"></span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center user-card pb-4">
                        <div class="symbol symbol-50 symbol-circle mr-4"><img alt="Pic"
                                src="../../../assets/themes/wp/default/light/img/user_F2.svg"></div>
                        <div class="d-flex flex-column flex-grow-1">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="text-dark font-weight-bold">Nguyễn Thị Thu Hà </div>
                                <div class="text-dark-50">3 tuần</div>
                            </div>
                            <div class="d-flex align-items-center"><span class="text-dark-50 mr-2"> Bạn:</span><span
                                    class="text-dark-50">Dạ em cảm ơn chị ạ</span></div>
                        </div>
                        <div class="ml-3"><span class="status-circle"></span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center user-card pb-4">
                        <div class="symbol symbol-50 symbol-circle mr-4"><img alt="Pic"
                                src="../../../assets/themes/wp/default/light/img/user_F2.svg"></div>
                        <div class="d-flex flex-column flex-grow-1">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="text-dark font-weight-bold">Trẩn Quốc Hoàn</div>
                                <div class="text-dark-50">5 Th 7</div>
                            </div>
                            <div class="d-flex align-items-center"><span class="text-dark-50 mr-2"> Bạn:</span><span
                                    class="text-dark-50"> Mua ly rau má</span></div>
                        </div>
                        <div class="ml-3"><span class="status-circle"></span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center user-card pb-4">
                        <div class="symbol symbol-50 symbol-circle mr-4"><img alt="Pic"
                                src="../../../assets/themes/wp/default/light/img/user_F2.svg"></div>
                        <div class="d-flex flex-column flex-grow-1">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="text-dark font-weight-bold">Nguyễn Thị Bích Vân</div>
                                <div class="text-dark-50">5 Th 7</div>
                            </div>
                            <div class="d-flex align-items-center"><span class="text-primary"> Phác thảo lại
                                    userprofile</span>
                            </div>
                        </div>
                        <div class="ml-3"><span class="status-circle online"></span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center user-card pb-4">
                        <div class="symbol symbol-50 symbol-circle mr-4"><img alt="Pic"
                                src="../../../assets/themes/wp/default/light/img/user_F2.svg"></div>
                        <div class="d-flex flex-column flex-grow-1">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="text-dark font-weight-bold">Nguyễn Thị Lợi</div>
                                <div class="text-dark-50">1 năm</div>
                            </div>
                            <div class="d-flex align-items-center"><span class="text-dark-50 mr-2"> Bạn:</span><span
                                    class="text-dark-50">Em gửi chị</span></div>
                        </div>
                        <div class="ml-3"><span class="status-circle"></span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="col-xl- col-lg-4 col-md-6 col-sm-6">
        <h2>Chatting_Search</h2>
        <div style="width: 400px;" class="card chat-box card card-custom">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-5 mt-2">
                    <div class="font-size-h4 text-dark font-weight-bold">Chatting</div>
                    <div class="d-flex">
                        <span class="icon-group_add icon-24 text-dark-75 text-hover-primary ml-3"></span>
                        <span class="icon-playlist_add_check  icon-24 text-dark-75 text-hover-primary ml-3"></span>
                        <span class="icon-open_in_new icon-24 text-dark-75 text-hover-primary ml-3"></span>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex">
                        <span class="icon-arrow_back icon-24 text-dark-75 text-hover-primary mr-3"></span>
                    </div>
                    <div class="input-icon w-100 ">
                        <input type="text" placeholder="Tìm kiếm..." class="form-control form-control-search">
                        <span><i class="icon-search icon-20"></i></span>
                    </div>
                </div>
                <div class="chat-list m-1" style="max-height:445px; overflow-y: auto;">
                    <div class="text-center"><img
                            src="../../../assets/themes/sys/default/light/img/Search-engines-amico.svg"
                            style="max-width: 200px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl- col-lg-4 col-md-6 col-sm-6">
        <h2>Chatting_SearchResult</h2>
        <div style="width: 400px;" class="card chat-box card card-custom">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-5 mt-2">
                    <div class="font-size-h4 text-dark font-weight-bold">Chatting</div>
                    <div class="d-flex">
                        <span class="icon-group_add icon-24 text-dark-75 text-hover-primary ml-3"></span>
                        <span class="icon-playlist_add_check  icon-24 text-dark-75 text-hover-primary ml-3"></span>
                        <span class="icon-open_in_new icon-24 text-dark-75 text-hover-primary ml-3"></span>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-5">
                    <div class="d-flex">
                        <span class="icon-arrow_back icon-24 text-dark-75 text-hover-primary mr-3"></span>
                    </div>
                    <div class="input-icon w-100 ">
                        <input type="text" placeholder="Hà" class="form-control form-control-search">
                        <span><i class="icon-search icon-20"></i></span>
                    </div>
                </div>
                <div class="chat-list m-1" style="max-height:445px; overflow-y: auto;">
                    <h6 class="text-dark-50 mt-6">User</h6>
                    <div class="d-flex align-items-center user-card py-2">
                        <div class="symbol symbol-40 symbol-circle mr-4">
                            <img alt="Pic" src="../../../assets/themes/wp/default/light/img/user_F4.svg">
                        </div>
                        <div class="d-flex flex-column flex-grow-1">
                            <div class="text-dark font-weight-bold">Lê Phạm Hoài
                                Thương</div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center user-card py-2">
                        <div class="symbol symbol-40 symbol-circle mr-4">
                            <img alt="Pic" src="../../../assets/themes/wp/default/light/img/user_F3.svg">
                        </div>
                        <div class="d-flex flex-column flex-grow-1">
                            <div class="text-dark font-weight-bold">Lê Phạm Hoài
                                Thương</div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center user-card py-2">
                        <div class="symbol symbol-40 symbol-circle mr-4">
                            <img alt="Pic" src="../../../assets/themes/wp/default/light/img/user_F2.svg">
                        </div>
                        <div class="d-flex flex-column flex-grow-1">
                            <div class="text-dark font-weight-bold">Lê Phạm Hoài
                                Thương</div>
                        </div>
                    </div>
                    <h6 class="text-dark-50 mt-6">Chat group</h6>
                    <div class="chat-group">
                        <div class="d-flex align-items-start user-card py-2">
                            <div class="symbol symbol-40 symbol-circle mr-4">

                                <img alt="Pic" src="../../../assets/themes/wp/default/light/img/user_F1.svg">
                            </div>
                            <div class="d-flex flex-column flex-grow-1">
                                <div class="text-dark font-weight-bold">ERM team</div>
                                <div class="text-dark-50">You and 12 others</div>
                            </div>
                        </div>
                        <div class="d-flex align-items-start user-card py-2">
                            <div class="symbol symbol-40 symbol-circle mr-4">
                                <img alt="Pic" src="../../../assets/themes/wp/default/light/img/user_N1.svg">
                            </div>
                            <div class="d-flex flex-column flex-grow-1">
                                <div class="text-dark font-weight-bold">Hội chờ lương mua trà sữa</div>
                                <div class="text-dark-50">You and 5 others</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card rounded" style="width: 380px;">
    <div class="card-header pe-5">
        <div class="card-title">
            <div class="d-flex justify-content-center flex-column me-3">
                <a class="fs-4 fw-bolder text-gray-900 text-hover-primary
          me-1 mb-2 lh-1 cursor-pointer">Chatting</a>
                <div class="mb-0 lh-1">
                    <span class="badge badge-success badge-circle w-10px h-10px me-1"></span><span
                        class="fs-7 fw-bold text-gray-400">Active</span>
                </div>
            </div>
        </div>
        <div class="card-toolbar">
            <div class="me-2">
                <button class="btn btn-sm btn-icon btn-active-light-primary">
                    <span class="icon-group_add icon-24 text-dark-75 text-hover-primary"></span>
                </button>
            </div>
            <div class="btn btn-sm btn-icon btn-active-light-primary">
                <span class="icon-playlist_add_check  icon-24 text-dark-75 text-hover-primary ml-3"></span>

            </div>
            <div class="btn btn-sm btn-icon btn-active-light-primary">
                <span class="icon-open_in_new icon-24 text-dark-75 text-hover-primary ml-3"></span>

            </div>
        </div>
    </div>
</div>