.page-content .dashboard-left {
    background-color: white;
    border-radius: 8px;
    margin-right: 15px;
}


.taskbox-left .card-body {
    padding: 1rem;
}

.taskbox-user {
    background-color: #eee;
    border-radius: 10px !important;
}

.taskbox-list {
    overflow: auto;
    height: 400px;
    background-color: #f3f3f5;
    border-top: 1px #dbd7d7 solid;
}

.taskbox-list .task-item {
    border-bottom: 1px #e4e4e4 dashed;
}