.page-content {
    background-color: white;
}

.taskbox-left .card-body {
    padding: 1rem;
}

.taskbox-user {
    background-color: #eee;
    border-radius: 10px !important;
}

.taskbox-list {
    overflow: auto;
    height: 400px;
}
