.h-100vh {
    border: 1px aqua solid;
    height: calc(100vh - 40px);
}

.icon-with-number {
    position: relative;
    min-width: 30px;
    width: 30px;
    height: 30px;
    border: 1px aqua solid;
}

.icon-with-number .number {
    background-color: var(--primary);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 10px;
    color: var(--primary-inverse);
    display: flex;
    align-items: center;
    justify-content: center;
}

.kr-process {
    position: relative;
}

.process-per {
    margin-left: -40px;
    color: var(--primary-inverse);
}

.pic-face,
.pic-local {
    position: absolute;
    top: -3px;
}