<div class="d-flex flex-column-fluid h-100 p-6">
  <div class="bg-body rounded-3 p-6 w-100 h-100vh card-body scroll-y">
    <div class="d-flex mb-3">
      <span class="icon-adjust icon-20 me-3"></span>
      <h4 class="text-dark">Mục tiêu</h4>
    </div>
    <div class="d-flex align-items-center justify-content-between mb-3">
      <div class="d-flex align-items-center w-100 pe-9">
        <button class="btn btn-icon btn-sm btn-light rounded rounded-circle me-3">
          <span class="icon-keyboard_arrow_right icon-16"></span></button>
        <img class="symbol symbol-25px symbol-circle me-3" src="../../../assets/demos/svg/Ranking_card.png">
        <div class="text-dark fs-6 fw-bold">Gia tăng lượng khách hàng tiềm năng</div>
      </div>
      <div class="w-450px min-w-450px d-flex align-items-center justify-content-end">
        <img class="symbol symbol-30px symbol-circle" src="../../../assets/demos/svg/Ranking_card.png">
        <div class="d-flex align-items-center kr-process w-200px min-w-200px ms-3">
          <div class="h-15px w-100 bg-gray-200 rounded-4">
            <div class="bg-primary rounded-4 h-15px" role="progressbar" style="width: 72%;" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="process-per position-absolute top-0 fs-8" style="left:72%">72%</div>
          <div class="pic-face" style="left:77%;">
            <img class="w-20px h-20px" src="assets/themes/wp/default/img/L1480_3.svg">
          </div>
          <div class="pic-local" style="left:90%;">
            <span class="icon-language text-primary icon-20"></span>
          </div>
        </div>
        <div class="d-flex ms-9">
          <button class="btn btn-icon btn-sm position-relative ms-4">
            <span class="icon-vpn_key icon-20 text-gray-600 text-hover-primary"></span>
            <span
              class="position-absolute top-0 start-100 translate-middle badge badge-circle badge-xs badge-primary">5</span>
          </button>
          <button class="btn btn-icon btn-sm position-relative ms-4">
            <span class="icon-link icon-20 text-gray-600 text-hover-primary"></span>
            <span
              class="position-absolute top-0 start-100 translate-middle badge badge-circle badge-xs badge-primary">5</span>
          </button>
          <button class="btn btn-icon btn-sm position-relative ms-4">
            <span class="icon-format_list_bulleted icon-20 text-gray-600 text-hover-primary"></span>
            <span
              class="position-absolute top-0 start-100 translate-middle badge badge-circle badge-xs badge-primary">5</span>
          </button>
          <button class="btn btn-icon btn-sm position-relative ms-4">
            <span class="icon-chat_bubble_outline icon-20 text-gray-600 text-hover-primary"></span>
            <span
              class="position-absolute top-0 start-100 translate-middle badge badge-circle badge-xs badge-primary">5</span>
          </button>
          <button class="btn btn-icon btn-sm position-relative ms-4">
            <span class="icon-more_vert icon-20 text-gray-600 text-hover-primary"></span>
          </button>

        </div>
      </div>
    </div>
    <hr />


    <div class="d-flex align-items-center justify-content-between mb-3">
      <div class="d-flex">
        <span class="icon-adjust icon-20 me-3"></span>
        <h4 class="text-dark">Kết quả chính</h4>
      </div>
      <div class="setting-btnright">
        <button class="btn btn-icon btn-sm position-relative ms-4">
          <span class="icon-more_vert icon-20 text-gray-600 text-hover-primary"></span>
        </button>
      </div>
    </div>
    <div class="d-flex flex-column mb-3">
      <div class="d-flex align-items-center w-100 pe-9 mb-4">
        <img class="symbol symbol-35px symbol-circle me-4" src="../../../assets/demos/svg/Ranking_card.png">
        <div class="text-dark fs-6 fw-bold w-100">Đạt 500 người đăng ký tham dự sự kiện</div>
        <div class="setting-btnright">
          <span class="icon-attach_file icon-20"></span>
        </div>
      </div>
      <div class="w-100 d-flex align-items-center justify-content-end">
        <div class="d-flex align-items-center kr-process w-100 me-5 ps-14">
          <div class="h-15px w-100 bg-gray-200 rounded-4">
            <div class="bg-primary rounded-4 h-15px" role="progressbar" style="width: 72%;" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="process-per position-absolute top-0 fs-8" style="left:72%">72%</div>
        </div>
        <div class="w-100px min-w-100px text-dark fw-bold">500 người</div>
        <div class="d-flex justify-content-end w-150px min-w-150px pe-6 ms-9">
          <button class="btn btn-icon btn-sm position-relative ms-6">
            <span class="icon-attach_file icon-20 text-gray-600 text-hover-primary"></span>
            <span
              class="position-absolute top-0 start-100 translate-middle badge badge-circle badge-xs badge-primary">5</span>
          </button>
          <button class="btn btn-icon btn-sm position-relative ms-6">
            <span class="icon-chat_bubble_outline icon-20 text-gray-600 text-hover-primary"></span>
            <span
              class="position-absolute top-0 start-100 translate-middle badge badge-circle badge-xs badge-primary">5</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="page-profile">
  <div class="d-flex">
    <div class="user-left me-7">
      <div class="d-flex flex-column mt-9">
        <div class="d-flex flex-column text-center mb-4">
          <div class="symbol symbol-60 symbol-circle mb-2 d-flex justify-content-center">
            <img alt="Pic" src="../../../assets/demos/user/user3.jpg" />
          </div>
          <div class="font-weight-bold font-size-h5 mb-2">
            Lê Phạm Hoài Thương
          </div>
          <div class="text-muted">lphthuong@lacviet.vn</div>
          <div class="text-dark-75">Busssiness Solution Center</div>
        </div>
      </div>
      <div class="d-flex flex-column mt-9 ms-5">
        <div class="d-flex align-items-center">
          <span class="icon-qr_code_scanner icon-16 text-danger me-1"></span>
          <span class="text-danger w-bold">
            <span #email>012.MPD</span>
          </span>

          <span class="icon-date_range icon-16 text-gray-800 me-1 ms-2"></span>
          <span class="text-dark fw-bold">
            <span #email>10/03/2022</span>
          </span>
        </div>
        <!-- <codx-vll></codx-vll> -->
        <div class="d-flex align-items-center">
          <span class="icon-connection-point icon-16 text-gray-800 me-1"></span>
          <span class="text-dark">
            <span #email>Đội BA - </span>
            <span #email>Nhóm Codx - </span>
            <span #email>Trung tâm DXC</span>
          </span>
        </div>
        <div class="d-flex align-items-center">
          <span class="icon-email icon-16 text-gray-800 me-1"></span>
          <span class="text-dark">
            <span #email>lphthuong@lacviet.vn</span>
          </span>
        </div>
        <div class="d-flex align-items-center">
          <span class="icon-local_phone icon-16 text-gray-800 me-1"></span>
          <span class="text-dark">
            <span #phone>Số điện thoại</span>
          </span>

          <span class="icon-phone_android icon-16 text-gray-800 me-1 ms-2"></span>
          <span class="text-dark">
            <span #street>0907323495</span>
          </span>
        </div>
      </div>
      <div class="user-menu px-9">
        <a href="/" class="d-flex align-items-start my-4">
          <span class="navi-icon me-2">
            <span class="icon-dashboard icon-18"></span>
          </span>
          <div class="text-dark">Dashboard</div>
        </a>
        <a href="/" class="d-flex align-items-start my-4">
          <span class="navi-icon me-2">
            <span class="icon-perm_contact_calendar icon-18"></span>
          </span>
          <div class="text-dark">Hồ sơ nhân viên</div>
        </a>
        <a href="/" class="d-flex align-items-start my-4">
          <span class="navi-icon me-2">
            <span class="icon-account_balance_wallet icon-18"></span>
          </span>
          <div class="text-dark">Ví của tôi</div>
        </a>
        <a href="/" class="d-flex align-items-start my-4">
          <span class="navi-icon me-2">
            <span class="icon-check_box icon-18"></span>
          </span>
          <div class="text-dark">Công việc cá nhân</div>
        </a>
        <a href="/" class="d-flex align-items-start my-4">
          <span class="navi-icon me-2">
            <span class="icon-near_me icon-18"></span>
          </span>
          <div class="text-dark">Thông điệp phản hồi</div>
        </a>
        <a href="/" class="d-flex align-items-start my-4">
          <span class="navi-icon me-2">
            <span class="icon-playlist_add icon-18"></span>
          </span>
          <div class="text-dark">Đăng ký</div>
        </a>
        <a href="/" class="d-flex align-items-start my-4">
          <span class="navi-icon me-2">
            <span class="icon-playlist_add_check icon-18"></span>
          </span>
          <div class="text-dark">Xét duyệt</div>
        </a>
        <a href="/" class="d-flex align-items-start my-4">
          <span class="navi-icon me-2">
            <span class="icon-article icon-18"></span>
          </span>
          <div class="text-dark">Mục tiêu của tôi</div>
        </a>
        <a href="/" class="d-flex align-items-start my-4">
          <span class="navi-icon me-2">
            <span class="icon-insert_chart icon-18"></span>
          </span>
          <div class="text-dark">Báo cáo của tôi</div>
        </a>
        <a href="/" class="d-flex align-items-start my-4">
          <span class="navi-icon me-2">
            <span class="icon-person icon-18"></span>
          </span>
          <div class="text-dark">Trang cá nhân</div>
        </a>
      </div>
    </div>
    <div class="d-flex flex-column-fluid">
      <div class="container p-0">
        <div class="bg-profile d-flex justify-content-between">
          <div class="w-100 user-pic d-flex flex-column text-center mb-4">
            <div class="symbol symbol-90 symbol-circle mb-2 d-flex justify-content-center">
              <img alt="Pic" src="../../../assets/demos/user/user3.jpg" />
            </div>
            <div class="font-weight-bold font-size-h4 text-dark mb-2">
              Lê Phạm Hoài Thương
            </div>
          </div>
        </div>
        <div class="w-100 user-right pt-3">111</div>
      </div>
    </div>
  </div>
</div>

<br />