<div class="bg-white scroll-y card-body">
    <div class="p-9 aqua h-100">
        <div class="d-flex">
            <div class="user-card reporting-item">
                <div class="d-flex flex-column flex-center">
                    <div class="reporting-users mb-2">
                        <div class="symbol-group">
                            <div class="symbol symbol-50 symbol-circle">
                                <img alt="Pic" src="../../../assets/demos/user/user4.jpg">
                            </div>
                        </div>
                        <div class="reporting-card-btn">
                            <span class="icon-more_vert icon-18"></span>
                        </div>
                    </div>
                    <div class="fw-bold text-dark pt-2">Phạm Lê Hoài Thương</div>
                    <div class="text-gray-700">Giám đốc</div>
                    <div class="text-gray-500 fs-7">Trụ sở Hồ Chí Minh</div>
                </div>
            </div>
            <div class="user-card reporting-item active">
                <div class="d-flex flex-column flex-center">
                    <div class="reporting-users mb-2">
                        <div class="symbol-group">
                            <div class="symbol symbol-50 symbol-circle">
                                <img alt="Pic" src="../../../assets/demos/user/user4.jpg">
                            </div>
                            <div class="symbol symbol-50 symbol-circle">
                                <img alt="Pic" src="../../../assets/demos/user/user2.jpg">
                            </div>
                        </div>
                        <div class="reporting-card-btn">
                            <span class="icon-more_vert icon-18"></span>
                        </div>
                    </div>
                    <div class="fw-bold text-dark pt-2">Nhóm nhân viên</div>
                    <div class="text-gray-700">Giám đốc trung tâm BSC</div>
                    <div class="text-gray-500 fs-7">Trung tâm giải pháp toàn diện</div>
                </div>
            </div>
            <div class="user-card reporting-item">
                <div class="d-flex flex-column flex-center">
                    <div class="reporting-users mb-2">
                        <div class="symbol-group">
                            <div class="symbol symbol-50 symbol-circle">
                                <img alt="Pic" src="../../../assets/demos/user/user4.jpg">
                            </div>
                            <div class="symbol symbol-50 symbol-circle">
                                <span class=" symbol-label fw-bold">5+</span>
                            </div>
                        </div>
                        <div class="reporting-card-btn">
                            <span class="icon-more_vert icon-18"></span>
                        </div>
                    </div>
                    <div class="fw-bold text-dark pt-2">Nhóm nhân viên</div>
                    <div class="text-gray-700">Giám đốc trung tâm ERM</div>
                    <div class="text-gray-500 fs-7">Trung tâm giải pháp toàn diện</div>
                </div>

            </div>
        </div>

        <div class="department-card border border-gray-300 w-250px position-relative">
            <div class="d-flex align-items-center p-3 w-100" style="background-color:#03a9f4">
                <i class="fas fa-building text-white me-2"></i>
                <div class="d-flex flex-grow-1 text-white fs-5">Ban Giám Đốc</div>
            </div>
            <div class="p-3 department-card-main mb-3">
                <div class="d-flex flex-column flex-grow-1 align-items-center">
                    <div class="symbol symbol-60 symbol-circle mt-1"> S </div>
                    <h5 class="text-dark mt-4" style="opacity: 0.3">Tên nhân viên</h5>
                    <div class="text-gray-600" style="opacity: 0.3">Chức vụ</div>
                    <div class="d-flex align-items-center mt-2">
                        <div class="btn btn-sm btn-light-primary me-3 counter" style="cursor:pointer;"
                            data-toggle="tooltip" title="Định biên" data-status="" data-orgid="BGĐ"
                            data-headcounts="35">
                            <i class="icon-account_tree icon-16 me-1"></i>
                            <span class="fw-bold text-primary">35</span>
                        </div>
                        <div class="btn btn-sm btn-light-primary counter" style="cursor:pointer;" data-toggle="tooltip"
                            title="Chính thức" data-status="" data-orgid="BGĐ">
                            <i class="icon-perm_contact_calendar icon-16 me-1"></i>
                            <span class="fw-bold text-primary">26</span>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-6 px-3">
                    <div class="d-flex flex-column align-items-center counter" data-status="50" data-orgid="BGĐ">
                        <h3 class="text-primary">15</h3>
                        <span class="text-gray-700 mt-1">Chính thức</span>
                    </div>
                    <div class="d-flex flex-column align-items-center counter" data-status="30" data-orgid="BGĐ">
                        <h3 class="text-success">11</h3>
                        <span class="text-gray-700 mt-1">Onboard</span>
                    </div>
                    <div class="d-flex flex-column align-items-center counter" data-status="70" data-orgid="BGĐ">
                        <h3 class="text-danger">0</h3>
                        <span class="text-gray-700 mt-1">Offboard</span>
                    </div>
                </div>
            </div>
            <div class="department-card-info ec" style="position: absolute;left: 50%;bottom: -14px;margin-left: -8px;
        background-color: white;">
                <span class="icon-20 icon-do_disturb_on"></span>
            </div>

        </div>
        <!-- end card -->
        <br />
        <div class="row">
            <div class="col-8">
                <h2 class="text-danger">Danh sách ghi chú **Nguyên</h2>
                <div class="d-flex flex-column flex-grow-1">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                        <div class="text-dark fs-6 fw-bold">Checklist làm việc khách hàng Laboco</div>
                        <div class="d-flex align-items-center ms-6">
                            <span class="text-dark">3</span>
                            <span class="icon-attach_file icon-16 ml-1 text-gray-600"></span>
                        </div>
                    </div>
                    <div class="text-dark">
                        CRM_DVSC Digipro_Cập nhật tình trạng case. Cho phép hiển thị
                        nhiều dòng, cho phép cập nhật tình trạng
                    </div>
                    <div class="d-flex align-items-center mt-2">
                        <div class="d-flex align-items-center me-6">
                            <span class="icon-access_alarm icon-16 me-1 text-gray-600"></span>
                            <span class="text-dark">3/8/2022</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="icon-edit icon-16 me-1 text-gray-600"></span>
                            <span class="text-dark">3/8/2022</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
        <hr />

        <div class="row">
            <div class="col-3">
                <div class="search-tool">
                    <!-- <codx-searchbar></codx-searchbar> -->
                </div>
                <div class="tab-item d-flex align-items-start p-2 w-100">
                    <span class="d-flex flex-column align-items-start">
                        <span class="fw-bold line-clamp line-clamp-1">
                            Template trống
                        </span>
                        <span class="text-gray-600 fs-7 line-clamp line-clamp-2">
                            Template trống
                        </span>
                    </span>
                </div>
                <div class="tab-item d-flex align-items-start p-2 w-100">
                    <span class="d-flex flex-column align-items-start">
                        <span class="fw-bold line-clamp line-clamp-1">
                            Template trống
                        </span>
                        <span class="text-gray-600 fs-7 line-clamp line-clamp-2">
                            Template trống
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-9">
                <div class="fw-bold text-dark fs-5 mb-2">Review công việc dự </div>
                <div class="fs-7 text-gray-500">Offering an asynchronous check-in allows your team to share updates
                    without
                    disrupting their workflow. A daily stand up can promote accountability and collaboration through
                    daily
                    communication. All team members should provide their priorities, progress, and problems each day in
                    this
                    report.</div>
                <div class="border border-1 p-4 mt-6">
                    <div class="fs-5 fw-bold text-dark">Đã thực hiện</div>
                    <div class="my-2">Review tất cả những công việc đã chuyển sang tình trạng ‘Hoàn tất’</div>
                    <div class="text-gray-500">
                        <!-- <codx-input></codx-input> -->
                        Mô tả chi tiết
                    </div>
                    <div class="d-flex align-items-bottom mb-2 mt-6">
                        <span class="icon-access_alarm text-danger icon-18 me-1"></span>
                        <div class="fw-bold text-dark fs-5">Trể tiến độ</div>
                    </div>
                    <div class="my-2">Review tất cả những công việc đã chuyển sang tình trạng ‘Hoàn tất’</div>
                    <div class="text-gray-500">
                        <!-- <codx-input></codx-input> -->
                        Mô tả chi tiết
                    </div>
                    <div class="d-flex align-items-bottom mb-2 mt-6">
                        <span class="icon-do_disturb text-danger icon-18 me-1"></span>
                        <div class="fw-bold text-dark fs-5">Ngừng thực hiện</div>
                    </div>
                    <div class="my-2">Review tất cả những công việc đã chuyển sang tình trạng ‘Hoàn tất’</div>
                    <div class="text-gray-500">
                        <!-- <codx-input></codx-input> -->
                        Mô tả chi tiết
                    </div>
                </div>



            </div>
        </div>
        <hr />
        <hr />

    </div>

</div>