<div class="p-9 bg-white scroll-y card-body h-100">
    <h1 class="text-danger">SOS page</h1>
    <span class="badge badge-light-primary">Badge primary</span>
    <br /><br />
    <div class="row">
        <div class="col-8">
            <h2 class="text-danger">Danh sách ghi chú **Nguyên</h2>
            <div class="d-flex flex-column flex-grow-1">
                <div class="d-flex align-items-center justify-content-between mb-1">
                    <div class="text-dark fs-6 fw-bold">Checklist làm việc khách hàng Laboco</div>
                    <div class="d-flex align-items-center ms-6">
                        <span class="text-dark">3</span>
                        <span class="icon-attach_file icon-16 ml-1 text-gray-600"></span>
                    </div>
                </div>
                <div class="text-dark">
                    CRM_DVSC Digipro_Cập nhật tình trạng case. Cho phép hiển thị
                    nhiều dòng, cho phép cập nhật tình trạng
                </div>
                <div class="d-flex align-items-center mt-2">
                    <div class="d-flex align-items-center me-6">
                        <span class="icon-access_alarm icon-16 me-1 text-gray-600"></span>
                        <span class="text-dark">3/8/2022</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="icon-edit icon-16 me-1 text-gray-600"></span>
                        <span class="text-dark">3/8/2022</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>


    <hr />
    <hr />

    <div class="row">
        <div class="col-3">
            <div class="search-tool">
                <!-- <codx-searchbar></codx-searchbar> -->
            </div>
            <div class="tab-item d-flex align-items-start p-2 w-100">
                <span class="d-flex flex-column align-items-start">
                    <span class="fw-bold line-clamp line-clamp-1">
                        Template trống
                    </span>
                    <span class="text-gray-600 fs-7 line-clamp line-clamp-2">
                        Template trống
                    </span>
                </span>
            </div>
            <div class="tab-item d-flex align-items-start p-2 w-100">
                <span class="d-flex flex-column align-items-start">
                    <span class="fw-bold line-clamp line-clamp-1">
                        Template trống
                    </span>
                    <span class="text-gray-600 fs-7 line-clamp line-clamp-2">
                        Template trống
                    </span>
                </span>
            </div>
        </div>
        <div class="col-9">
            <div class="fw-bold text-dark fs-5 mb-2">Review công việc dự </div>
            <div class="fs-7 text-gray-500">Offering an asynchronous check-in allows your team to share updates without
                disrupting their workflow. A daily stand up can promote accountability and collaboration through daily
                communication. All team members should provide their priorities, progress, and problems each day in this
                report.</div>
            <div class="border border-1 p-4 mt-6">
                <div class="fs-5 fw-bold text-dark">Đã thực hiện</div>
                <div class="my-2">Review tất cả những công việc đã chuyển sang tình trạng ‘Hoàn tất’</div>
                <div class="text-gray-500">
                    <!-- <codx-input></codx-input> -->
                    Mô tả chi tiết
                </div>
                <div class="d-flex align-items-bottom mb-2 mt-6">
                    <span class="icon-access_alarm text-danger icon-18 me-1"></span>
                    <div class="fw-bold text-dark fs-5">Trể tiến độ</div>
                </div>
                <div class="my-2">Review tất cả những công việc đã chuyển sang tình trạng ‘Hoàn tất’</div>
                <div class="text-gray-500">
                    <!-- <codx-input></codx-input> -->
                    Mô tả chi tiết
                </div>
                <div class="d-flex align-items-bottom mb-2 mt-6">
                    <span class="icon-do_disturb text-danger icon-18 me-1"></span>
                    <div class="fw-bold text-dark fs-5">Ngừng thực hiện</div>
                </div>
                <div class="my-2">Review tất cả những công việc đã chuyển sang tình trạng ‘Hoàn tất’</div>
                <div class="text-gray-500">
                    <!-- <codx-input></codx-input> -->
                    Mô tả chi tiết
                </div>
            </div>



        </div>
    </div>

</div>