 <codx-views #view funcID="TMR02" entityName="TM_Tasks" [views]="views"> </codx-views>

<ng-template #main>
  <div class="" id="kt_content">
    <div class="list-table">
      <codx-gridview #gridView funcId="" [columnsGrid]="columnsGrid" [pageSize]="100" service="TM" entityName="TM_Tasks"
        type="listview" assemblyName="ERM.Business.TM" className="ReportBusiness" method="ListReportProjectAsync"
        [gridViewName]="'grvTasks'" [predicate]="''" [dataValue]="''" [pageSize]="100" [formName]="formName"
        [height]="'520'" [headerStyle]="headerStyle" [columnStyle]="columnStyle" [gridViewName]="gridViewName">
      </codx-gridview>

    </div>
  </div>
</ng-template> 
<!-- <codx-listview #listview [itemTemplate]="templateItem" [selectFirst]="true" [pageSize]="100"
service="TM" assemblyName="ERM.Business.TM" className="ReportBusiness" method="ListReportProjectAsync"
[predicate]="" [dataValue]="" type="listView" [gridViewName]="'grvTasks'" autoLoad="false"
entityName="TM_Tasks" [data]="data">
</codx-listview>
<ng-template #templateItem let-data>
  <div class="e-gridheader e-lib e-droppable" style="padding-right: 4px;">
    <div class="e-headercontent" style="border-right-width: 1px;">
      <table class="e-table " style="border-collapse: collapse; ">
        <thead style="height: 30px;">
          <tr class="e-columnheader" style="border-bottom: 2px solid rgb(7, 7, 7); height: 100%;">
            <th class="e-headercell e-focus w-300px" >
              <div>
                <span class="e-headertext ">Danh sách dự án</span>
              </div>
            </th>
            <th class="e-headercell e-focus w-300px">
              <div>
                <span class="e-headertext">Nguồn lực</span>
              </div>
            </th>
            <th class="e-headercell e-focus w-300px">
              <div>
                <span class="e-headertext">Tổng số công việc</span>
              </div>
            </th>
            <th class="e-headercell e-focus w-300px">
              <div>
                <span class="e-headertext">Đã hoàn tất</span>
              </div>
            </th>
            <th class="e-headercell e-focus w-300px">
              <div>
                <span class="e-headertext">Chưa thực hiện</span>
              </div>
            </th>
            <th class="e-headercell e-focus w-300px">
              <div>
                <span class="e-headertext ">Tỉ lệ hoàn thành</span>
              </div>
            </th>
            <th class="e-headercell e-focus w-250px">
              <div>
                <span class="e-headertext ">Tỉ lệ hoàn thành đúng hạn</span>
              </div>
            </th>
          </tr>
        </thead>
        <tbody class="e-hide" >
          <tr>
            <td style="height: 40px;">{{data?.projectName}}</td>
            <td style="height: 40px;">{{data?.Owner}}</td>
            <td style="height: 40px;">c</td>
            <td style="height: 40px;">d</td>
            <td style="height: 40px;">e</td>
            <td style="height: 40px;">f</td>
            <td style="height: 40px;">g</td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</ng-template> -->
