<codx-views #view funcID="TMS" [views]="views" [showToolBar]=false> </codx-views>
<ng-template #main>
  <div class="d-flex flex-row flex-column-fluid page page-detail">
    <div class="d-flex w-100 mb-3 mt-2">
      <div class="aside-detail flex-row-auto w-300px">
        <div class="aside-menu mr-6">
          <ul class="menu-nav">
            <li class="menu-item">
              <a class="menu-link d-flex align-items-center">
                <i class="icon-near_me icon-20 mr-2"></i>
                Thông điệp phản hồi
              </a>
            </li>
            <li class="menu-item">
              <a class="menu-link d-flex align-items-center">
                <i class="icon-format_list_bulleted icon-20 mr-2"></i>
                Danh mục
              </a>
            </li>
            <li class="menu-item">
              <a class="menu-link d-flex align-items-center">
                <i class="icon-account_balance_wallet icon-20 mr-2"></i>
                Ví nhân viên
              </a>
            </li>
            <li class="menu-item">
              <a class="menu-link d-flex align-items-center">
                <i class="icon-credit_card icon-20 mr-2"></i>
                Hạng cống hiến
              </a>
            </li>
            <li class="menu-item">
              <a class="menu-link d-flex align-items-center">
                <i class="icon-bar_chart icon-20 mr-2"></i>
                Thống kê
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-detail d-flex flex-column flex-grow-1 data-scroll">
        <div class="list-group" id="notificationFedback">
          <h3 class=" list-header">
            aaaaaaaaaaaaa
          </h3>
          <!-- <h3 class=" list-header">
                                <lang name="lblFeedbackMessage" default="Thông điệp phản hồi" [modelPage]="modelPage">
                                </lang>
                            </h3> -->
          <div class="list-content">
            <div class="d-flex justify-content-between list-item" style="cursor: pointer;">
              <div class="d-flex flex-column">
                <div class="font-weight-bold text-dark mb-2">
                  1</div>
                <div class="text-dark-50">1111111111111</div>
              </div>
              <a><span class="icon-keyboard_arrow_right icon-20 ml-6"></span></a>
            </div>
            <hr />
          </div>
        </div>

        <div class="list-group" id="itemCategory" [attr.data-index]=2 #itemCategory>
          <h3 class="list-header">
            Danh mục
          </h3>
          <div class="list-content">
            <div class="d-flex align-items-top list-item" style="cursor: pointer;">
              <span class="icon-settings icon-20 mr-3"></span>
              <div class="d-flex flex-column flex-grow-1">

                <div class="font-weight-bold text-dark mb-2">
                  2</div>
                <div class="text-dark-50">222222</div>
              </div>
              <span class="icon-keyboard_arrow_right icon-20 ml-6"></span>

            </div>
            <hr />
          </div>
        </div>

        <div class="list-group" id="itemWallet" [attr.data-index]=3 #itemWallet>
          <h3 class="list-header">
            Ví nhân viên
          </h3>
          <div class="list-content">
            <div class="d-flex justify-content-between list-item" style="cursor: pointer;">
              <div class="d-flex align-items-center mb-2">
                <span class=" icon-settings icon-20 mr-3"></span>
                <div class="font-weight-bold text-dark"> 333
                </div>
              </div>
              <span class="icon-keyboard_arrow_right icon-20 ml-6"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
