<div class="mr-1 header-combo" *ngIf="param">
  <codx-input
    #comboboxStd
    type="combobox"
    placeholder="Lịch làm việc"
    [crrValue]="param?.fieldValue"
    service="BS"
    [refValue]="param?.referedValue"
    [field]="'groupID'"
    (valueChange)="changeCombobox($event)"
  >
  </codx-input>
</div>

<div class="nav-item header-btn mr-1">
  <button class="btn btn-sm btn-primary" (click)="openCalendarSettings()">
    <span class="icon-settings icon-18"></span>
  </button>
</div>

<button class="btn btn-primary" (click)="addCalendar()">
  <span>Thêm</span>
</button>

<div class="row">
  <codx-schedule
    height="100%"
    #schedule
    [eventTemplate]="eventTemplate"
    service="TM"
    assemblyName="TM"
    [templateResourceHeader]="resourceHeader"
    className="TaskBusiness"
    method="GetListDetailTasksAsync"
    methodResource="GetUserByTasksAsync"
    [cellFooterTemplate]="cellFooter"
    [fields]="fields"
    [selectedDate]="selectedDate"
    [StartDate]="startDate"
    [EndDate]="endDate"
    [options]="model"
    [optionsResource]="model"
    entityName="TM_Tasks"
    funcId=""
    (onViewChange)="viewChange($event)"
    [viewPreset]="viewPreset"
    [minHeight]="minHeight"
    eventStyle="colored"
    [resourceTooltipTemplate]="resourceTootip"
    (onEventClick)="onCellDblClickScheduler($event)"
    (onAddNew)="addNew($event)"
    (onEdit)="edit($event)"
    (onDelete)="deleteTask($event)"
    [statusColor]="status"
    [eventEditFeature]="false"
    [readOnly]="true"
    [resourceField]="resourceField"
    [templateCell]="cellTemplate"
  >
  </codx-schedule>
  <app-setting-calendar></app-setting-calendar>
  <ng-template #cellTemplate let-data>
    <div [innerHtml]="getCellContent(data.date)"></div>
  </ng-template>
  <ng-template #eventTemplate let-data>
    <div class="symbol symbol-40px symbol-circle me-4">
      <codx-img
        [objectId]="data?.resourceData.assignTo"
        objectName="AD_Users"
      ></codx-img>
    </div>
  </ng-template>
  <ng-template #resourceTootip let-data>
    <div class="template-wrap symbol symbol-40px symbol-circle me-4">
      <codx-img
        [objectId]="data?.resourceData.assignTo"
        objectName="AD_Users"
      ></codx-img>
      <div class="res-text">Tên: {{ data.resourceData.userName }}</div>
      <div class="res-text">Vị trí: {{ data.resourceData.positionName }}</div>
    </div>
  </ng-template>
  <ng-template #resourceHeader let-data>
    <div class="">
      <div class="type">{{ data.resourceData.userName }}</div>
      <div class="type">{{ data.resourceData.positionName }}</div>
    </div>
  </ng-template>
  <ng-template #cellFooter let-data>
    <div class="row border">
      <button
        ejs-button
        id="more-details"
        cssClass="e-flat"
        (click)="edit(data)"
      >
        sửa
      </button>
      <button
        ejs-button
        id="delete"
        cssClass="e-flat"
        [isPrimary]="true"
        (click)="deleteTask(data)"
      >
        xóa
      </button>
    </div>
  </ng-template>
</div>

<!-- modal add calendars -->
<ng-template #add let-modal>
  <div class="modal-body">
    <form>
      <div class="form-group row">
        <label class="col-4 col-form-label">{{
          "Tên lịch làm việc"
            | lang: "Calendar":"lblCalendarName":"grvCalendar"
            | async
        }}</label>
        <div class="col-4">
          <codx-input
            type="text"
            field="calendarName"
            placeholder="Lịch làm việc"
            (valueChange)="valueChange($event, 'calendar')"
          >
          </codx-input>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-4 col-form-label">{{
          "Diễn giải" | lang: "Calendar":"lblCalendarName":"grvCalendar" | async
        }}</label>
        <div class="col-8">
          <codx-input
            type="text"
            dataformat="ed3"
            field="description"
            placeholder="Diễn giải"
            (valueChange)="valueChange($event, 'calendar')"
          >
          </codx-input>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close()"
    >
      Save
    </button>
  </div>
</ng-template>

<!-- modal setting calendar -->
<ng-template #editCalendar let-modal>
  <div class="modal-body">
    <div class="list-week">
      <table class="table bg-header">
        <thead>
          <tr>
            <th scope="col" class="w-20 min-w-200px"></th>
            <th scope="col" class="w-10 text-center" *ngFor="let item of vlls">
              {{ item.text }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <span
                  class="icon-brightness_5 icon-18 mr-2 text-warning"
                ></span>
                <div class="text-dark-75">
                  {{ stShift?.startTime }} - {{ stShift?.endTime }}
                </div>
                <div class="dropdown ml-2 dropdown-customv2">
                  <button
                    class="btn btn-icon btn-xs"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <span class="icon-more_vert icon-18 hoverIcon"></span>
                  </button>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a class="dropdown-item">
                      <div class="d-flex align-items-center">
                        <span class="icon-edit icon-16"></span>
                        <span class="ml-3">Chỉnh sửa</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-center" *ngFor="let item of stShift?.data">
              <codx-input
                class="test-check"
                type="checkbox"
                field="stweekday"
                [checked]="item.checked"
                (valueChange)="weekdayChange($event, item)"
              >
              </codx-input>
              <p>{{ item.checked }}</p>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <span class="icon-brightness_6 icon-18 mr-2 text-info"></span>
                <div class="text-dark-75">
                  {{ ndShift?.startTime }} - {{ ndShift.endTime }}
                </div>
                <div class="dropdown ml-2 dropdown-customv2">
                  <button
                    class="btn btn-icon btn-xs"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <span class="icon-more_vert icon-18 hoverIcon"></span>
                  </button>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a class="dropdown-item">
                      <div class="d-flex align-items-center">
                        <span class="icon-edit icon-16"></span>
                        <span class="ml-3">Chỉnh sửa</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-center" *ngFor="let item of ndShift?.data">
              <codx-input
                class="text-check"
                type="checkbox"
                field="ndweekday"
                [checked]="item.checked"
                (valueChange)="weekdayChange($event, item)"
              >
              </codx-input>
              <p>{{ item.checked }}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
      <h5 class="text-dark">Lễ/Tết/Sự kiện</h5>
      <a (click)="openDayOffs()" class="btn btn-icon btn-xs btn-primary">
        <i class="icon-add icon-16"></i>
      </a>
    </div>
    <div class="list-calendar">
      <table class="table bg-header">
        <thead>
          <tr>
            <th scope="col" class="w-30 min-w-350px">Lễ/Tết/Sự kiện</th>
            <th scope="col" class="w-10 text-center">Dương lịch</th>
            <th scope="col" class="w-10 text-center">Âm lịch</th>
            <th scope="col" class="w-10 text-center">Ngày/Tháng</th>
            <th scope="col" class="w-10 text-center">Màu</th>
            <th scope="col" class="w-10 text-center">Icon</th>
            <th scope="col" class="w-10 text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dayOff">
            <td>
              <div class="text-dark" [innerHTML]="item.note"></div>
            </td>
            <td class="text-center">
              <codx-input
                class="text-check"
                type="checkbox"
                name="checkbox"
                [disable]="true"
                filed="dayOff"
                [checked]="item.calendar == '1'"
              >
              </codx-input>
            </td>
            <td class="text-center">
              <codx-input
                class="text-check"
                type="checkbox"
                name="checkbox"
                [disable]="true"
                filed="dayOff"
                [checked]="item.calendar == '2' ? true : false"
              >
              </codx-input>
            </td>
            <td class="text-center">{{ item.day }}/{{ item.month }}</td>

            <td class="text-center">
              <codx-colorpicker [value]="item.color ? item.color : '#0078FF'">
              </codx-colorpicker>
            </td>
            <td class="text-center">
              <span class="{{ item.symbol }}"></span>
            </td>
            <td class="text-center">
              <div class="d-flex align-items-center">
                <div class="dropdown ml-2">
                  <button
                    class="btn btn-icon btn-xs"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <span class="icon-more_vert icon-18"></span>
                  </button>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a class="dropdown-item" (click)="openDayOffs(item)">
                      <div class="d-flex align-items-center">
                        <span class="icon-edit icon-16"></span>
                        <span class="ml-3">Chỉnh sửa</span>
                      </div>
                    </a>
                    <a class="dropdown-item" (click)="removeDayOff(item)">
                      <div class="d-flex align-items-center">
                        <span class="icon-delete icon-16"></span>
                        <span class="ml-3">Xóa</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
      <h5 class="text-dark">Ngày nghỉ trong năm</h5>
      <a (click)="openCalendarDate()" class="btn btn-icon btn-xs btn-primary">
        <i class="icon-add icon-16"></i>
      </a>
    </div>
    <div class="list-calendar">
      <table class="table bg-header">
        <thead>
          <tr>
            <th scope="col" class="w-60 min-w-350px">Diễn giải</th>
            <th scope="col" class="w-10 text-center">Ngày</th>
            <th scope="col" class="w-10 text-center">Màu</th>
            <th scope="col" class="w-10 text-center">Icon</th>
            <th scope="col" class="w-10 text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of calendateDate">
            <td>
              <div class="text-dark" [innerHTML]="item.note"></div>
            </td>
            <td class="text-center">
              <div class="text-dark">{{ item.calendarDate | fmDT: "dmy" }}</div>
            </td>
            <td class="text-center">
              <span
                class="pic-color h-20 w-20"
                [style.background-color]="
                  item.dayOffColor ? item.dayOffColor : '#0078FF'
                "
              ></span>
            </td>
            <td class="text-center">
              <span class="{{ item.symbol }}"></span>
            </td>
            <td class="text-center">
              <div class="d-flex align-items-center">
                <div class="dropdown ml-2">
                  <button
                    class="btn btn-icon btn-xs"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <span class="icon-more_vert icon-18"></span>
                  </button>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a class="dropdown-item" (click)="openCalendarDate(item)">
                      <div class="d-flex align-items-center">
                        <span class="icon-edit icon-16"></span>
                        <span class="ml-3">Chỉnh sửa</span>
                      </div>
                    </a>
                    <a class="dropdown-item" (click)="removeCalendarDate(item)">
                      <div class="d-flex align-items-center">
                        <span class="icon-delete icon-16"></span>
                        <span class="ml-3">Xóa</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<!-- add or edit dayoff -->
<ng-template #editEvent let-modal>
  <div class="modal-body">
    <form>
      <div class="form-group row">
        <label class="col-2 col-form-label">{{
          "Loại ngày" | lang: "Calendar":"lblShiftType":"grvCalendar" | async
        }}</label>
        <div class="col-4">
          <codx-input
            class="cotrol-vll"
            type="valuelist"
            field="calendar"
            refValue="L1461"
            placeholder=""
            [crrValue]="evtData?.calendar"
            (valueChange)="valueChange($event, 'dayoff', null)"
          >
          </codx-input>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">{{
          "Tháng" | lang: "Calendar":"lblMonth":"grvCalendar" | async
        }}</label>
        <div class="col-4">
          <codx-input
            type="text"
            field="month"
            placeholder=""
            [value]="evtData.month"
            (valueChange)="valueChange($event, 'dayoff')"
          >
          </codx-input>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">{{
          "Ngày" | lang: "Calendar":"lblDay":"grvCalendar" | async
        }}</label>
        <div class="col-4">
          <codx-input
            type="text"
            field="day"
            placeholder=""
            [value]="evtData.day"
            (valueChange)="valueChange($event, 'dayoff')"
          >
          </codx-input>
        </div>
      </div>
      <div #group class="form-group row">
        <label class="col-2 col-form-label">{{
          "Màu" | lang: "Calendar":"lblColor":"grvCalendar" | async
        }}</label>
        <div class="col-4">
          <codx-colorpicker
            #elm
            class="form-control text-white color-large"
            field="color"
            dataformat="hex"
            [value]="evtData.color"
            (valueChange)="valueChange($event, 'dayoff', elm)"
          >
          </codx-colorpicker>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">{{
          "Symbol" | lang: "Calendar":"lblSymbol":"grvCalendar" | async
        }}</label>
        <div class="col-2 input-symbol">
          <codx-input
            type="valuelist"
            refValue="L1470"
            field="symbolDayOff"
            (valueChange)="valueChange($event, 'dayoff')"
          >
          </codx-input>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">{{
          "Diễn giải" | lang: "Calendar":"lblNote":"grvCalendar" | async
        }}</label>
        <div class="col-10">
          <codx-input
            type="textarea"
            field="note1"
            dataformat="ed2"
            [crrValue]="evtData.note1"
            ngDefaultControl
            (valueChange)="valueChange($event, 'dayoff')"
            placeholder="Diễn giải"
          >
          </codx-input>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <codx-input
            type="checkbox"
            name="checkbox"
            class="text-dark"
            label="Thêm vào bộ ngày nghỉ chuẩn của hệ thống"
            [disabled]="evtData.recID ? true : false"
            field="set"
            [checked]="set"
            (valueChange)="valueChange($event, 'dayoff')"
          >
          </codx-input>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="savaDayOff()">
      Save
    </button>
  </div>
</ng-template>

<!-- add or edit calendardate -->
<ng-template #editCalendarDate let-modal>
  <div class="modal-body">
    <form>
      <div class="form-group row">
        <label class="col-2 col-form-label">{{
          "Ngày nghỉ" | lang: "Calendar":"lblCalendarDate":"grvCalendar" | async
        }}</label>
        <div class="col-4">
          <!-- <lvInput class="" datatype="datetime" dataformat="d" field="calendarDate"
                        (valueChange)="changeTime($event,'calendarDate')" [value]="evtCDDate?.calendarDate"></lvInput> -->
          <codx-input
            type="datetime"
            dataformat="d"
            field="calendarDate"
            [value]="evtCDDate?.calendarDate"
            (valueChange)="changeTime($event, 'calendarDate')"
          >
          </codx-input>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">{{
          "Màu" | lang: "Calendar":"lblColor":"grvCalendar" | async
        }}</label>
        <div class="col-4" #group1>
          <codx-colorpicker
            class="form-control text-white color-large"
            field="dayoffColor"
            dataformat="hex"
            [value]="evtCDDate.dayoffColor"
          >
          </codx-colorpicker>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">{{
          "Symbol" | lang: "Calendar":"lblSymbol":"grvCalendar" | async
        }}</label>
        <div class="col-2 input-symbol">
          <codx-input
            type="valuelist"
            refValue="L1470"
            field="symbolCld"
            [value]="evtCDDate.symbol"
            (valueChange)="valueChange($event, 'calendarDate')"
          >
          </codx-input>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">{{
          "Diễn giải" | lang: "Calendar":"lblNote":"grvCalendar" | async
        }}</label>
        <div class="col-10">
          <codx-input
            type="textarea"
            field="note2"
            dataformat="ed2"
            ngDefaultControl
            [crrValue]="evtCDDate.note2"
            (valueChange)="valueChange($event, 'calendarDate')"
            placeholder="Diễn giải"
          >
          </codx-input>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="savaCalendarDate()">
      Save
    </button>
  </div>
</ng-template>
