:host {
	width: 100%;
	.form-control {
		background: #e8f0fe !important;
		border-radius: 10px !important;
		border: 0;
		height: calc(1.5em + 1.65rem + 2px);
		padding: 0.825rem 1.42rem;
		// font-size: 1.08rem;
		line-height: 1.5;
	}
	.btn {
		border-radius: 10px !important;
		height: 40px !important;
		font-size: 14px;
		line-height: 1.5 !important;
	}
	.mb-5,
	.my-5 {
		margin-bottom: 1.25rem !important;
	}
	.p-6 {
		padding: 1.5rem !important;
	}

	.pt-6,
	.py-6 {
		padding-top: 1.5rem !important;
	}

	.pe-6,
	.px-6 {
		padding-right: 1.5rem !important;
	}

	.pb-6,
	.py-6 {
		padding-bottom: 1.5rem !important;
	}

	.ps-6,
	.px-6 {
		padding-left: 1.5rem !important;
	}
	.mb-5px {
		margin-bottom: 5px;
	}
}
.form .form-group {
	padding-top: 0px;
	padding-bottom: 0px;
}
.text-end {
	text-align: right;
}
/* .img24{ */
/* width:24px; */
/* height:auto; */
/* } */
/*******/
.login .login-forgot {
	display: none;
}

.login.login-forgot-on .login-forgot {
	display: block;
}

.login .login-form {
	width: 100%;
	max-width: 300px;
	min-width: 300px;
}
@media (max-width: 575.98px) {
	.login .login-form {
		width: 100%;
		max-width: 100%;
	}
}

/**Custom*/

.login {
	background-size: cover;
	background-position: center center;
	position: relative;
	height: 100%;
	width: 100%;
}
.bg-linear-gradient-blue {
	background: linear-gradient(290.8deg, #005ac0 -10.9%, #0077ff 17.77%, #00f0ff 84.01%) !important;
	box-sizing: border-box;
	height: 100%;
}
a,
a:focus,
a:hover {
	text-decoration: underline;
}
.login .login-image {
	width: 100%;
	max-width: 350px;
}
.login-container {
	width: 100%;
	max-width: 900px;
	overflow: hidden;
}
@media (max-width: 575.98px) {
	.login .login-image {
		width: 100%;
		max-width: 100%;
	}
}
.form-control {
	background: #f9f9f9 !important;
	border-radius: 10px !important;
	border: 0;
}
.form-control-lg:before {
	content: "";
	width: 4px;
	height: 26px;
	background: #005dc7;
	border-radius: 10px;
	margin-left: -4px;
}
