<ng-container>
  <div class="d-flex align-items-center justify-content-between h-100">
    <div class="d-flex bg-white rounded-3 px-6 py-12 login-content">
      <div class="login-left w-100 ps-9 pe-6">
        <div class="d-flex flex-row-fluid flex-column justify-content-between">
          <div class="text-start py-6">
            <div class="fw-bolder fs-title ms-5" style="width: 85%">
              <div>CỔNG THÔNG TIN QUẢN LÝ ĐIỀU HÀNH</div>
              <div>KHU CÔNG VIÊN PHẦN MỀM QUANG TRUNG</div>
            </div>
          </div>
          <div class="d-flex w-100 my-3">
            <img class="w-100" src="/assets/cz/qtsc/bg/bgloginQTSC.png" alt="" />
          </div>
          <div class="company-info ms-5">
            <div class="company-name fw-bold fs-5 text-danger">
              CÔNG TY TNHH MỘT THÀNH VIÊN PHÁT TRIỂN CÔNG VIÊN PHẦN MỀM QUANG
              TRUNG
            </div>
            <div class="my-1 fw-bold">Phòng Hành chính Quản trị</div>
            <div class="company-address">
              <i class="fa fa-circle fs-10 text-danger me-2"></i> Tòa nhà QTSC
              Building 1, Khu Công viên phần mềm Quang Trung, P.Tân Chánh Hiệp,
              Q.12, TP.HCM, Việt Nam
            </div>
            <div class="company-tel text-gray-600">
              <span><i class="fa fa-circle fs-10 text-danger me-2"></i><span class="fs-7 fw-bold text-danger">T:
                </span>(84-28) 3715
                8888<span class="splitter">|</span></span>
              <span><i class="fa fa-circle fs-10 text-danger me-2"></i><span class="fs-7 fw-bold text-danger">F:
                </span>(84-28) 3715
                5985<span class="splitter">|</span></span>
              <span><i class="fa fa-circle fs-10 text-danger me-2"></i><span class="fs-7 fw-bold text-danger">E:
                </span><a href="mailto:qtsc@qtsc.com.vn">qtsc@qtsc.com.vn</a><span class="splitter">|</span></span>
              <span><i class="fa fa-circle fs-10 text-danger me-2"></i><span class="fs-7 fw-bold text-danger">W:
                </span><a href="www.qtsc.com.vn"
                  title="Công ty TNHH Một Thành Viên Phát Triển Công Viên Phần Mềm Quang Trung">www.qtsc.com.vn</a></span>
            </div>
          </div>
        </div>
      </div>
      <div class="login-right">
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center justify-content-center">
            <img src="/assets/cz/qtsc/bg/logoQTSC.PNG" class="my-9" alt="" />
          </div>
          <div class="login-signin text-dark">
            <form method="post" class="form fv-plugins-bootstrap fv-plugins-framework" (ngSubmit)="submit()"
              [formGroup]="formGroup">
              <div class="form-group">
                <div class="input-icon">
                  <input
                    class="form-control placeholder-no-fix ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched"
                    type="text" field="email" placeholder="Email" formControlName="email" style="width: 100%" />
                </div>
              </div>
              <div class="mb-5 d-flex justify-content-center">
                <button type="submit" class="btn-login px-6 py-3">
                  {{ "Gửi " | lang : "Login" : "btnLogin" | async }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>