<codx-form [headerText]="header" [subHeader]="subheader" [body]="body" [dialog]="dialog">
    <ng-template popup add #body>
        <div class="card w-100 rounded-0" id="kt_drawer_note_messenger">
            <div class="d-flex flex-column">
                <div class="notes">
                    <codx-listview [itemTemplate]="template" #listview [funcId]="'WPT08'" entityName="WP_Notes"
                        service="WP" type="listView" [predicate]="predicate" [dataValue]="dataValue">
                    </codx-listview>
                </div>
            </div>

            <div class="card-toolbar">
                <div class="me-2">
                    <div class="btn-add">
                        <span
                            class="icon-edit-one icon-16 icon-add btn btn-icon btn-active-light-primary position-relative"
                            (click)="openFormAddNote()"></span>
                    </div>
                </div>
                <div class="btn btn-sm btn-icon btn-active-light-primary" id="kt_drawer_note_close">
                    <span class="svg-icon svg-icon-2"></span>
                    <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"
                        class="svg-icon svg-icon-2"></span>
                </div>
            </div>
        </div>
        <br>
        <div class="d-flex flex-column">
            <br>
            <div class="notes">
                <codx-listview [itemTemplate]="template" #listview [funcId]="''" entityName="WP_Notes"
                    gridViewName="'grvNotes'" service="WP" type="listView">
                </codx-listview>
            </div>
            <ng-template #template let-item>
                <div class="pd-note">
                    <div class="p-3 note-content mb-3">
                        <div class="checkbox-list">
                            <div *ngIf="item.isPin == true">
                                <div *ngIf="item.memo != null">
                                    <div class="action-menu d-flex">
                                        <div class="d-flex align-items-center">
                                            <a class="action-item">
                                                <div class="d-flex align-items-center btn-tooltip icon-18">
                                                    <span [class]="editMF?.largeIcon"></span>
                                                </div>
                                            </a>
                                            <a class="action-item">
                                                <div class="d-flex align-items-center btn-tooltip icon-18">
                                                    <span [class]="deleteMF?.largeIcon"></span>
                                                </div>
                                            </a>
                                            <a class="action-item" placement="bottom" [ngbPopover]="popMoreFunc"
                                                [autoClose]="'outside'">
                                                <div class="d-flex align-items-center btn-tooltip icon-18">
                                                    <span class="icon-more_vert icon-20 text-dark-75"></span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div *ngIf="item.isPin == true || item.isPin == '1'" class="active">
                                        <span class="icon-push_pin icon-16" type="button"></span>
                                    </div>
                                    <div class="note-date d-flex justify-content-end align-items-center format-date">
                                        <span class=" text-primary">{{item.createdOn | date:'dd-MM-yyy'}}</span>
                                    </div>
                                    <br>
                                    <div class="d-flex flex-column note-option ms-3">
                                        <span [innerHTML]="item.memo"></span>
                                    </div>
                                </div>
                                <div *ngIf="item.memo == null">
                                    <!-- <div class="has-action-menu">
                                        <codx-mfunc type="hover" [formModel]="view?.formModel"
                                            (clickMF)="clickMF($event,item)" [dataItem]="item">
                                        </codx-mfunc>
                                    </div> -->
                                    <div *ngIf="item.isPin == true || item.isPin == '1'" class="active">
                                        <span class="icon-push_pin icon-16" type="button"></span>
                                    </div>
                                    <div class="note-date d-flex justify-content-end align-items-center format-date">
                                        <span class=" text-primary">{{item.createdOn | date:'dd-MM-yyy'}}</span>
                                    </div>
                                    <br>
                                    <div class="d-flex flex-column note-option ms-3">
                                        <div *ngFor="let itemList of item.checkList">
                                            <div *ngIf="itemList.status == null">
                                                <div class="my-1 note-list">
                                                    <ul>
                                                        <li>{{itemList.listNote}}</li>
                                                    </ul>
                                                </div>
                                                <div *ngIf="itemList.status != null">
                                                    <div class="my-1 note-list">
                                                        <codx-input #checkBoxNote id="checkBoxNote" type="checkbox"
                                                            label="{{itemList.listNote}}"
                                                            [checked]="itemList?.status == 'true' || itemList?.status == '1'"
                                                            labelPosition="After" [disabled]="false" class="test-check"
                                                            (valueChange)="valueChange($event)"></codx-input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="item.isPin == false">
                                <div *ngIf="item.memo != null">
                                    <!-- <div class="has-action-menu">
                                        <codx-mfunc type="hover" [formModel]="view?.formModel"
                                            (clickMF)="clickMF($event,item)" [dataItem]="item">
                                        </codx-mfunc>
                                    </div> -->
                                    <div *ngIf="item.isPin == true || item.isPin == '1'" class="active">
                                        <span class="icon-push_pin1 icon-16" type="button"></span>
                                    </div>
                                    <div class="note-date d-flex justify-content-end align-items-center format-date">
                                        <span class=" text-primary">{{item.createdOn | date:'dd-MM-yyy'}}</span>
                                    </div>
                                    <br>
                                    <div class="d-flex flex-column note-option ms-3">
                                        <span [innerHTML]="item.memo"></span>
                                    </div>
                                </div>
                                <div *ngIf="item.memo == null">
                                    <!-- <div class="has-action-menu">
                                        <codx-mfunc type="hover" [formModel]="view?.formModel"
                                            (clickMF)="clickMF($event,item)" [dataItem]="item">
                                        </codx-mfunc>
                                    </div> -->
                                    <div *ngIf="item.isPin == true || item.isPin == '1'" class="active">
                                        <span class="icon-push_pin1 icon-16" type="button"></span>
                                    </div>
                                    <div class="note-date d-flex justify-content-end align-items-center format-date">
                                        <span class=" text-primary">{{item.createdOn | date:'dd-MM-yyy'}}</span>
                                    </div>
                                    <br>
                                    <div class="d-flex flex-column note-option ms-3">
                                        <div *ngFor="let itemList of item.checkList">
                                            <div *ngIf="itemList.status == null">
                                                <div class="my-1 note-list">
                                                    <ul>
                                                        <li>{{itemList.listNote}}</li>
                                                    </ul>
                                                </div>
                                                <div *ngIf="itemList.status != null">
                                                    <div class="my-1 note-list">
                                                        <codx-input #checkBoxNote id="checkBoxNote" type="checkbox"
                                                            label="{{itemList.listNote}}"
                                                            [checked]="itemList?.status == 'true' || itemList?.status == '1'"
                                                            labelPosition="After" [disabled]="false" class="test-check"
                                                            (valueChange)="valueChange($event)"></codx-input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </ng-template>
    <ng-template #subheader>
        <span class="icon-edit-one icon-18 icon-add btn btn-icon btn-active-light-primary position-relative"
            (click)="openFormAddNote()">
        </span>
    </ng-template>

    <ng-template #popMoreFunc let-modal>
        <div class="flex">
            <div class="">
                <span [class]="pinMF?.largeIcon"></span>
            </div>
            <div class="show-customName">
                <span>{{pinMF?.customName}}</span>
            </div>\
        </div>
        <div class="flex">
            <div class="">
                <span [class]="saveMF?.largeIcon"></span>
            </div>
            <div class="show-customName">
                <span>{{saveMF?.customName}}</span>
            </div>
        </div>
    </ng-template>
</codx-form>