<codx-views #view funcID="TMT02" entityName="TM_Tasks" [views]="views" [buttons]="buttons" (buttonClick)="click($event)"
  [moreFuncs]="moreFunc"> </codx-views>

<ng-template #dashboard>
  <owner-task-dashboard [viewBase]="viewBase"></owner-task-dashboard>
</ng-template>  

<ng-template #sidebarRight>
  <app-task-info #taskInfo [viewBase]="viewBase"></app-task-info>
</ng-template>

<!-- <ng-template #itemTemplate let-data> <app-list-tasks></app-list-tasks> </ng-template> -->

<ng-template #kanban>
  <onwer-task-kanban [viewBase]="viewBase" (taskInfo)="click($event)"></onwer-task-kanban>
</ng-template>

<ng-template #settingPanel>
  <!-- <app-setting [viewBase]="viewBase"></app-setting> -->
</ng-template>

<!-- list-task-detail -->
<ng-template #listDetails>
  <owner-task-details [funcID]="funcID" [viewBase]="viewBase" [taskInfo]="taskInfo"></owner-task-details>
</ng-template>
<!-- end list-task-detail -->
<!-- list-task -->
<ng-template #listTasks>
  <owner-list-tasks [viewBase]="viewBase" [taskInfo]="taskInfo"></owner-list-tasks>
</ng-template>
<!-- end list-task -->
<!-- canlendar -->
<ng-template #schedule let-data>
  <onwer-task-calendar [viewBase]="viewBase" [taskInfo]="taskInfo"></onwer-task-calendar>
</ng-template>
<!--End canlendar -->

<ng-template #calendar let-data>
  <setting-calendar [viewBase]="viewBase"></setting-calendar>
</ng-template>

<ng-template #rangesKanban let-data>
  <app-ranges-kanban [viewBase]="viewBase"></app-ranges-kanban>
</ng-template>
