<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
  <!--begin::Content-->
  <div class="content d-flex flex-column flex-column-fluid py-0" id="kt_content">
    <div class="d-flex flex-column-fluid" id="erm_content">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 pl-0 pr-2">
            <!-- <router-outlet></router-outlet> -->
          </div>
          <div class="col-xl-4" style="margin-top: -60px;">
            <div class="card card-custom gutter-b sp-my-task">
              <!--begin::Header-->
              <div class="card-header border-0">
                <h3 class="card-title">
                  <codx-label name="lblCalendar" formName="Notes" default="Lịch" fieldName="" gridViewName="">
                  </codx-label>
                </h3>

                <div class="card-toolbar">
                  <div class="dropdown dropdown-inline" data-toggle="tooltip" title="" data-placement="left">
                    <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-h"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                      <ul class="navi navi-hover">
                        <li class="navi-item">
                          <a href="#" class="navi-link">
                            <span class="navi-text">Đang thực hiện</span>
                          </a>
                        </li>
                        <li class="navi-item">
                          <a href="#" class="navi-link">
                            <span class="navi-text">Sắp đến hạn</span>
                          </a>
                        </li>
                        <li class="navi-item">
                          <a href="#" class="navi-link">
                            <span class="navi-text">Tất cả</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body pt-0">
                <!-- <app-notes-home></app-notes-home> -->
              </div>
              <!--end::Body-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>