.ut-item .symbol {
    border: 2px solid #e5e5e5;
}

.user-online .symbol {
    border-color: #1bc5bd;
}

.e-calendar .e-content.e-month td.e-today span.e-day {
    line-height: 32px;
}

.form-myTeam {
    margin-bottom: 15px;
}

.calendar {
    height: 75% !important;
}

.note {
    padding-top: 5px !important;
    padding-bottom: 10px !important;
}

#kt_aside_menu {
    margin-top: 25px;
}

.e-richtexteditor .e-rte-content .e-content {
    border: 1px #eee solid !important;
    margin-bottom: 10px;
}

.sp-my-task {
    height: calc(100vh - 155px);
}