<codx-listview #listview [itemTemplate]="templateTreeView" funcId="" [pageSize]="10" service="TM"
  assemblyName="ERM.Business.TM" className="TaskBusiness" method="GetListDetailTasksAsync" [gridViewName]="'grvTasks'"
  entityName="TM_Tasks" groupBy="fieldGroup">
</codx-listview>
<codx-treeview id="tree" #tree [itemTemplate]="templateTreeView" [data]="listNode" [enableCheck]=false idField="recID"
  parentIdField="parentID" [autoLoad]="false" [isOutput]="true" [isLoadChild]="false">
</codx-treeview>
<ng-template #templateTreeView let-data>
  <div class="task-row py-3 px-6 ">
    <table class="table w-100 table-action-menu">
      <tbody>
        <td class="w-200px">
          <div class="priority mb-1 max-h-70px" [class]="data?.priority|vll:'L0186':'icon'|async"
            [style.color]="(data?.priority|vll:'L0186':'color'|async)">{{ data?.priority }}</div>
        </td>
        <td class="w-400px">
          <div class="task-name mb-1 max-h-300px ">
            {{ data?.taskName }}</div>
        </td>
        <td class="w-400px">
          <div>
            <div *ngIf="data?.category == '3' || data?.category == '4'">
              <codx-img class="symbol symbol-30px symbol-circle ms-1 symbol-icon symbol-icon-check-bottom"
                [objectId]="data?.assignTo" objectName="AD_Users" [numberImages]="4">
              </codx-img>
            </div>
            <div *ngIf="data?.category == '1' || data?.category == '2'">
              <codx-img class="symbol symbol-30px symbol-circle ms-1 symbol-icon symbol-icon-check-bottom"
                [objectId]="data?.owner" objectName="AD_Users" [numberImages]="4">
              </codx-img>
            </div>
          </div>
        </td>
        <td class="w-350px">
          <div class="d-flex align-items-center w-100px">
            <div class="d-flex align-items-center mr-3 {{data.comments  ? 'text-success' : 'text-dark-50'}}">
              <span class="text-hover-primary icon-chat_bubble_outline icon-16"></span>
              <span class="ml-1"> {{data.comments}}</span>
            </div>
            <div class="d-flex align-items-center mr-3 {{data.todo ? 'text-success' : 'text-dark-50'}}">
              <span class="text-hover-primary icon-check-correct icon-16"></span>
              <span class="ml-1">
                {{data.todo}}</span>
            </div>
            <div class="d-flex align-items-center {{data.attachments ? 'text-success' : 'text-dark-50'}}">
              <span class="text-hover-primary icon-attach_file icon-16"></span>
              <span>
                {{data.attachments}}
              </span>
            </div>
          </div>
        </td>
        <td class="w-0px">
          <div class="status mb-1 ">{{ data?.status }}</div>
        </td>
      </tbody>
    </table>
  </div>
</ng-template>
