<div
  class="lstTenant rounded-3 p-6 bg-white"
  *ngIf="lstTenant && lstTenant.length; else els"
>
  <div
    class="tenant d-flex justify-content-between pb-3 mb-3 border-bottom"
    *ngFor="let tn of lstTenant"
  >
    <codx-temp-full
      [title]="tn.tenantName"
      [subTitle]="tn.web"
      [imageObjType]="'AD_Users'"
      [imageId]="'ADMIN'"
    >
    </codx-temp-full>
    <button
      type="button"
      class="btn btn-sm btn-primary"
      [routerLink]="['/' + tn.tenantID]"
    >
      <codx-label
        name="lblConnectTN"
        default="Kết nối"
        [formModel]=""
      ></codx-label>
    </button>
  </div>
</div>

<ng-template #els>
  <div class="container h-100">
    <div class="list-empty card card-flush h-100">
      <div class="d-flex flex-column flex-center justify-content-center">
        <img
          src="assets/themes/sys/default/img/DataEmpty.svg"
          class="w-200px"
        />
        <div class="fw-bold mt-1 text-center">
          {{ "SYS011" | mssg | async }}
        </div>
      </div>
    </div>
  </div>
</ng-template>
