<codx-views #view funcID="TMS033" entityName="TM_ProjectGroups" [views]="views" [buttons]="buttons"
(buttonClick)="clickButton($event, true)"> </codx-views>

<ng-template #main>
  <div class="" id="kt_content">
    <div class="list-table">
      <codx-gridview #gridView funcId="" [columnsGrid]="columnsGrid" [pageSize]="100" service="TM"
        entityName="TM_ProjectGroups" type="listview" assemblyName="ERM.Business.TM" className="ProjectGroupsBusiness"
        method="GetListProjectGroupsAsync" [gridViewName]="'grvProjectGroups'" [predicate]="''" [dataValue]="''"
        [pageSize]="100" [formName]="formName" [height]="'520'" [headerStyle]="headerStyle" [columnStyle]="columnStyle"
        [gridViewName]="gridViewName">
      </codx-gridview>

    </div>
  </div>
</ng-template>

<ng-template #itemCreateBy let-dataItem>
  <div class="d-flex align-items-center" #itemCreateBy>
    <codx-img class="symbol symbol-24 symbol-circle mr-3" [objectId]="dataItem.createdBy" objectType="AD_Users">
    </codx-img>
    <div class="text-dark font-size-lg" placement="bottom" [ngbTooltip]="dataItem.createName">
      {{dataItem.createName}}
    </div>
  </div>
</ng-template>
<ng-template #itemCreate let-data>
  {{data.createdOn | fmDT:'dmy'}}
</ng-template>
<ng-template #itemApprovalControlVll let-data>
    <div class="label label-xxs label-inline label-pill" [style.color]="data?.projectCategory|vll:'L0607':'color'|async"
        [style.background-color]="(data?.projectCategory|vll:'L0607':'color'|async)+'30'">
        {{data?.projectCategory|vll:"L0607":"text"|async}}</div>
</ng-template>
