<div class="row">
  <codx-schedule height="100%" #schedule [templateEvent]="eventTemplate" service="TM" assemblyName="TM"
    [templateResourceHeader]="resourceHeader" className="TaskBusiness" method="GetListDetailTasksAsync" 
    methodResource="GetUserByTasksAsync"  [fields]="fields"
    [selectedDate]="selectedDate" [StartDate]="startDate" [EndDate]="endDate" [options]="model"
    [optionsResource]="model" entityName="TM_Tasks" [funcId]="funcID" [dataObj]="model.dataObj" (onViewChange)="viewChange($event)"
    [viewPreset]="viewPreset" [minHeight]="minHeight" eventStyle='colored' [resourceTooltipTemplate]="resourceTootip"
    (onEventClick)="onCellDblClickScheduler($event)"
    [eventEditFeature]="false" [readOnly]="true" [resourceField]="resourceField"
    [templateCell]="cellTemplate">
    <!-- [cellFooterTemplate]="cellFooter"  (onAddNew)="addNew($event)" (onEdit)="edit($event)"  (onDelete)="deleteTask($event)"-->
  </codx-schedule>

  <ng-template #cellTemplate let-data>
    <div [innerHtml]="getCellContent(data.date)"></div>
  </ng-template>
  <ng-template #eventTemplate let-data>
    <div class="task-name mb-1 max-h-300px" styte="background-color: #ddd">{{ data?.taskName }}</div>
    <div class="task-status d-flex">
      <div class="badge badge-danger me-2" [style.border-color]="
    (data?.status | vll: 'L0614':'color' | async) + '30'
  " [style.background-color]="
    (data?.status | vll: 'L0614':'color' | async) + '30'
  " [style.color]="data?.status | vll: 'L0614':'color' | async" style="border: none">
        {{ data?.status | vll: "L0614":"text" | async }}
      </div>
    </div>
    <div class="symbol symbol-40px symbol-circle me-4">
      <codx-img [objectId]="data?.assignTo" objectName="AD_Users"></codx-img>
    </div>
  </ng-template>
  <ng-template #resourceTootip let-data>
    <div class='template-wrap symbol symbol-40px symbol-circle me-4'>
      <codx-img [objectId]="data?.resourceData.assignTo" objectName="AD_Users"></codx-img>
      <div class="res-text">Tên: {{data.resourceData.userName}} </div>
      <div class="res-text">Vị trí: {{data.resourceData.positionName}} </div>
    </div>
  </ng-template>
  <ng-template #resourceHeader let-data>
    <div class="">
      <div class="type">{{ data.resourceData.userName }}</div>
      <div class="type">{{ data.resourceData.positionName }}</div>
    </div>
  </ng-template>
  <ng-template #cellFooter let-data>
    <!-- <div class="row border">

      <button ejs-button id="more-details" cssClass="e-flat" (click)="edit(data)">
        sửa
      </button>
      <button ejs-button id="delete" cssClass="e-flat" [isPrimary]="true" (click)="deleteTask(data)">
        xóa
      </button>
    </div> -->
  </ng-template>
</div>
