<div class="control-section">
    <div id="control_wrapper">
        <div id="container" style="overflow:auto">
            <div *ngIf="isCalendar">
                <ejs-calendar (renderDayCell)="onLoad($event)" (change)="onValueChange($event)" class='e-customStyle'>
                </ejs-calendar>
            </div>
            <span id="selected">Selected Value: </span>
            <a (click)="openFormAddNote(popContentAddNote)" style="margin-left: 250px;"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                </svg>
            </a>
            <codx-listview [itemTemplate]="template" #listview title="Ghi chú của tôi" [funcId]="''"
                entityName="WP_Notes" gridViewName="'grvNotes'" service="WP"
                ></codx-listview>

            <ng-template #template let-item>
                <div [attr.data]="onGetListNote(item)">
                    <div *ngIf="item.memo != null">
                        <br>
                        <div class="flex" style="margin-left: 120px;">
                            <div class="">
                                <span style="color: tomato;margin-right: 10px;">
                                    {{item.createdOn | date:'dd-MM-yyyHH:mm:ss'}}
                                </span>
                            </div>
                            <div class="">
                                <a (click)="onDeleteNote(item.recID)"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                        height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <span style="color: blueviolet;" [innerHTML]="item.memo"></span>
                        <hr style="background-color: orangered;height: 5px;">
                    </div>
                    <div *ngIf="item.memo == null">
                        <br>
                        <div class="flex" style="margin-left: 120px;">
                            <div class="">
                                <span style="color: tomato;margin-right: 10px;">
                                    {{item.createdOn | date:'dd-MM-yyyHH:mm:ss'}}
                                </span>
                            </div>
                            <div class="">
                                <a (click)="onDeleteNote(item.recID)"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                        height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div *ngFor="let itemList of item.checkList">
                            <br>
                            <div *ngIf="itemList.status == null">
                                <li><span style="color: blueviolet;">{{itemList.listNote}}</span></li>
                            </div>
                            <div *ngIf="itemList.status != null">
                                <div class="flex">
                                    <div class="">
                                        <codx-input #checkBoxNote id="checkBoxNote" type="checkbox"
                                            [checked]="itemList?.status == 'true' || itemList?.status == '1'"
                                            labelPosition="Before" [disabled]="false" class="test-check"
                                            (valueChange)="valueChange($event)"></codx-input>
                                    </div>
                                    <div class="" style="margin-left: 5px;">
                                        <span style="color: blueviolet;">{{itemList.listNote}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr style="background-color: orangered;height: 5px;">
                    </div>
                </div>      
            </ng-template>
        </div>
    </div>
</div>
<ng-template #popContentAddNote let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Thêm mới ghi chú</h4>
        <button _ngcontent-enr-c968="" type="button" aria-label="Close" class="close"
            (click)="modal.dismiss('Cross click')"><i _ngcontent-enr-c968=""
                class="icon-close icon-20 text-dark text-hover-primary"></i></button>
    </div>
    <div class="modal-body">
        <div class="flex">
            <div class="">
                <input (click)="onType('text')" type="text" placeholder="Tạo ghi chú..."
                    style="width: 400px;outline: none;border: thin;">
            </div>
            <div class="">
                <a (click)="onType('list')"><img src="../../../../assets/themes/wp/default/light/img/list.png"
                        style="width: 25px; margin-right: 5px;"></a>
            </div>
            <div class="">
                <a (click)="onType('check')"><img src="../../../../assets/themes/wp/default/light/img/checkbox.png"
                        style="width: 25px"></a>
            </div>
        </div>
        <br>
        <div *ngIf="type == 'text'">
            <codx-input type="textarea" class="test-textarea" field="textarea" placeholder="textarea"
                (valueChange)="valueChange($event)">
            </codx-input>
        </div>
        <br>
        <div *ngIf="type == 'check' || type =='list'">
            <ng-container *ngFor="let item of listNote; index as i">
                <div class="flex">
                    <div class="" style="margin-top: 20px;">
                        <ng-container *ngIf="type == 'check'; else list">
                            <codx-input #noteAddText type="checkbox" [crrValue]="item?.status" field="status"
                                labelPosition="Before" class="test-check" (valueChange)="valueChange($event, item)">
                            </codx-input>
                        </ng-container>
                        <ng-template #list>
                            <li></li>
                        </ng-template>
                    </div>
                    <div class="" #txtNoteEdit name="txtTodoEdit" (keydown.enter)="onUpdateNote(item)">
                        <codx-input #txtNoteEdit type="text" name="txtTodoEdit"
                            style="margin-left: 10px;margin-top: 20px;width: 400px;" class="test-textbox"
                            [crrValue]="item?.listNote" field="listNote" (valueChange)="valueChange($event, item)">
                        </codx-input>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="onCreateNote()">Lưu</button>
    </div>
</ng-template>