<codx-views #view funcID="TM001" entityName="AD_Users" [views]="views" [buttons]="buttons" (buttonClick)="click($event)"
  [moreFuncs]="moreFunc"> </codx-views>

<ejs-sidebar id="default-sidebar" #sidebar (created)="onCreated($event)" style="visibility: hidden;position: right;"
  [width]="width" [showBackdrop]="showBackdrop" >
  <app-task-info [sidebar] = "sidebar" ></app-task-info>
</ejs-sidebar>

<ng-template #panelLeftRef>
  <div class="p-2 container">
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  </div>


</ng-template>

<ng-template #asideLeft>
  <div class="p-2 container">
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
</ng-template>

<!-- <ng-template #itemTemplate let-data> <app-list-tasks></app-list-tasks> </ng-template> -->

<ng-template #kanban>
  <app-kanban [viewBase]="viewBase"></app-kanban>
</ng-template>

<ng-template #listDetails>
  <app-view-list-details [viewBase]="viewBase"></app-view-list-details>
</ng-template>

<ng-template #listTasks let-data>
  <app-list-tasks [viewBase]="viewBase"></app-list-tasks>
</ng-template>

<ng-template #schedule let-data>
  <app-schedule [viewBase]="viewBase"></app-schedule>
</ng-template>
