<codx-form [headerText]="title" [body]="body" [footer]="footer" [dialog]="dialogRef">
    <ng-template #body>
        <div class="body">
            <div class="my-3 d-flex">
                <div class="body-user-img me-3">
                    <codx-img [objectId]="user.userID" objectType="AD_Users" [width]="40">
                    </codx-img>
                </div>
                <div class="ms-2">
                    <div class="user-name fw-bold">{{user.userName}}</div>
                    <ng-container *ngIf="lstRecevier.length > 0">
                        <ng-container *ngIf="shareControl == 'U'">
                            <ng-container *ngIf="lstRecevier.length == 1; else shareWith">
                                <div class="fw-bold fs-6">
                                    <codx-label [formName]="dialogRef.formModel.formName" name="lblShareWith"
                                        default="cùng với "></codx-label>
                                    <span class="me-2 ">{{recevierName}}</span>
                                </div>
                            </ng-container>
                            <ng-template #shareWith>
                                <div class="fw-bold fs-6">
                                    <codx-label [formName]="dialogRef.formModel.formName" name="lblShareWith"
                                        default="cùng với "></codx-label>
                                    <span class="ms-2 me-2">{{lstRecevier.length}}</span>
                                    <codx-label [formName]="dialogRef.formModel.formName" name="lblShareWith"
                                        default=" người khác "></codx-label>
                                </div>
                            </ng-template>
                        </ng-container>
                    </ng-container>
                      

                    <div class="d-flex align-items-center justify-content-start user-square">
                        <!-- <div class="me-2">
                            <codx-input
                                type="Share"
                                refValue="L1901"
                                [showInput]="false"
                                [multiple]="true"
                                (valueChange)="eventApply($event)">
                            </codx-input>
                        </div> -->
                        <button (click)="openFormShare(controlShare)">click</button>
                        <ng-template #controlShare let-dialog>
                            <codx-share
                                [dialog]="dialog"
                                [multiple]="false"
                                (eventApply)="eventApply($event)">
                            </codx-share>
                        </ng-template>
                    </div>
                </div>

            </div>
            <div class="my-3">
                <codx-input format="ed2" [class]="'border-0'" type="textarea" class="test-textarea" [crrValue]="message"
                    placeholder="{{user.userName + ' bạn đang nghĩ gì?'}}" (valueChange)="valueChange($event)"
                    ngDefaultControl>
                </codx-input>
                <div class="" style="display:none;">
                    <codx-attachment  
                        #attachment  
                        objectType="WP_Comments"   
                        hideFolder="1"  
                        hideUploadBtn="1"   
                        hideDes="1" 
                        type="inline"
                        allowExtensions=".jpg,.png" 
                        allowMultiFile="1" 
                        (fileCount)="getfileCount($event)"
                        [functionID]="dialogRef.formModel.funcID" 
                        > 
                    </codx-attachment>
                </div>
                <ng-container *ngIf="isUploadFile">
                    <codx-image-grid [images]="listImgUpload"></codx-image-grid>
                </ng-container>
            </div>
            <ng-container *ngIf="dataEdit?.recID">
                <div class="border ndchiase p-4 mt-3">
                    <div class="d-flex mb-3 card-border">
                        <codx-img [width]="30" [objectId]="dataEdit?.createdBy" bjectType="AD_Users">
                        </codx-img>
                        <div class="d-flex flex-column flex-grow-1 ms-2">
                            <div class="d-flex align-items-center">
                                <span class="text-gray-800 fw-bold">{{dataEdit?.createdName}}</span>
                            </div>
                            <div class="text-info-date">
                                <span class="text-gray-400 me-2">{{dataEdit?.createdOn | timefrom}}</span>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngTemplateOutlet="containTemplate;context: { $implicit: dataEdit }">
                    </ng-container>
                </div>
            </ng-container>
            <ng-container *ngIf="dataShare?.recID">
                <div class="border ndchiase p-4 mt-3">
                    <div class="d-flex mb-3 card-border">
                        <codx-img [width]="30" [objectId]="dataShare?.createdBy" bjectType="AD_Users">
                        </codx-img>
                        <div class="d-flex flex-column flex-grow-1 ms-2">
                            <div class="d-flex align-items-center">
                                <span class="text-gray-800 fw-bold">{{dataShare?.createdName}}</span>
                            </div>
                            <div class="text-info-date">
                                <span class="text-gray-500 me-2">{{dataShare?.createdOn | timefrom}}</span>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngTemplateOutlet="containTemplate;context: { $implicit: dataShare }">
                    </ng-container>
                </div>
            </ng-container>
            <!-- <div class="my-3 d-flex justify-content-between align-items-center body-function">
                <div class="text-dark-50 fw-bold">
                    <codx-label formName="" name="lblInsertPost" default="Thêm vào bài viết"></codx-label>
                </div>
                <div>
                    <button (click)="toggleEmojiPicker()" type="button" data-toggle="tooltip" title="Icon"
                        class="btn btn-icon btn-md ml-2 btn-emoji">
                        <i class="icon-tag_faces icon-30 text-warning"></i>
                    </button>
                    <button type="button" data-toggle="tooltip" class="btn btn-icon btn-md ml-2">
                        <i class="icon-local_offer icon-30 text-primary"></i>
                    </button>
                    <button (click)="openFile()" type="button" data-toggle="tooltip" class="btn btn-icon btn-md ml-2 ng-star-inserted">
                        <i class="icon-photo icon-30 text-success"></i>
                    </button>
                </div>
            </div> -->
        </div>
        <ng-container *ngIf="showEmojiPicker">
            <div class="emoji">
                <emoji-mart class="emoji-mart"  
                [showSingleCategory]="true" 
                [showPreview]="false" [set]="set"
                [perLine]="7"
                (emojiSelect)="addEmoji($event)"
                ></emoji-mart>
            </div>
        </ng-container>
        <ng-template #containTemplate let-item>
            <ng-container *ngIf="!item?.isPortal;else category2">
                <div class="text-dark text-feed">
                    <read-more #readmore [content]="item?.content" [limit]="800" [completeWords]="true">
                    </read-more>
                </div>
                <!-- <div class="pic-feed">
                    <lv-image-grid #player [database]="true" [files]="item?.listImage">
                    </lv-image-grid>
                </div> -->
            </ng-container>
            <ng-template #category2>
                <div class="p-0 m-0">
                    <span class="ion-text-wrap ion-text-justify" [innerHTML]="item?.content"></span>
                </div>
                <div class="card-custom-img bgi-no-repeat"
                    [style.background]="item?.card?.background| backgroundImage:item?.card?.backgroundColor"
                    style="background-size: 100% auto;">
                    <div class="card-body card-custom-img-body ">
                        <div color="bg-transparent" class="ion-margin-vertical padding-start-0">
                            <h2 class="fw-bolder mb-6 mt-3" [ngStyle]="{'color':item?.card?.pattern?.headerColor}">
                                {{item?.card?.cardType | vll:'L1422':'text' | async}}
                            </h2>
                        </div>
                        <div class="d-flex align-items-center ion-wrap mar-auto">
                            <div *ngIf="item?.card.senderID">
                                <codx-img [width]="40" [objectId]=" item?.card?.senderID" objectType="AD_Users">
                                </codx-img>
                            </div>
                            <div style="width: 50px;" class="mar-auto text-center ion-justify-content-between">
                                <img src="../../../../assets/img/mail.png" class="icon-mail ion-margin-top-8" />
                            </div>
                            <div *ngIf="item?.card?.receiverID">
                                <codx-img [width]="40" [objectId]="item?.card?.receiverID" objectType="AD_Users">
                                </codx-img>
                            </div>
                        </div>
                        <div class="text-dark text-feed mt-6">
                            <read-more #readmore2 [content]="item?.card?.situation" [limit]="800"
                                [completeWords]="true">
                            </read-more>
                        </div>


                        <div class="d-flex align-items-center group-hasGift mt-6">

                            <div class="d-flex align-items-center ion-wrap me-2"
                                *ngIf="item?.card?.cardType=='2' || item?.card?.cardType =='3'">
                                <div class="me-2">
                                    <img class="w-30px h-30px" src="../../../../assets/demos/card/rating/{{ item?.card?.rating | vll:item?.card?.cardType=='2' ?'L1419':'L1424':'icon'
                |async}}" />
                                </div>
                            </div>
                            <div class="d-flex align-items-center ion-wrap mar-auto"
                                *ngIf="item?.card?.hasGift || item?.card?.hasPoint">
                                <img src="../../../../assets/img/feedback/gift 1.png" *ngIf="item?.card?.hasGift"
                                    class="symbol-image icon-surface1 h-30px me-1" />
                                <img src="../../../../assets/img/feedback/money-1.png" *ngIf="item?.card?.hasPoint"
                                    class="symbol-image icon-money-1 h-30px" />
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-template>
    </ng-template>
    <ng-template #footer>
        <div class="my-3 d-flex justify-content-between align-items-center body-function">
            <div class="text-dark-50 fw-bold">
                <codx-label formName="" name="lblInsertPost" default="Thêm vào bài viết"></codx-label>
            </div>
            <div>
                <button (click)="toggleEmojiPicker()" type="button" data-toggle="tooltip" title="Icon"
                    class="btn btn-icon btn-md ml-2 btn-emoji">
                    <i class="icon-tag_faces icon-30 text-warning"></i>
                </button>
                <button type="button" data-toggle="tooltip" class="btn btn-icon btn-md ml-2">
                    <i class="icon-local_offer icon-30 text-primary"></i>
                </button>
                <button (click)="openFile()" type="button" data-toggle="tooltip" class="btn btn-icon btn-md ml-2 ng-star-inserted">
                    <i class="icon-photo icon-30 text-success"></i>
                </button>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-primary btn-post" (click)="Submit()">
                <codx-label formName="WP_Comments" name="lblSubmit" default="Đăng"></codx-label>
            </button>
        </div>
    </ng-template>
</codx-form>