<<<<<<< HEAD
.max-h-18px {
    width: 16px!important;
    height: 16px!important;
=======
.aside-primary {
    .menu-item {
        .menu-title {
            display: none;
        }
    }
>>>>>>> 4fa346473b409c632a67e90c677e74257f994aa1
}