:root {
    --bs-body-line-height: 1.4;
    --fs-7: 12px;
    --white: #ffffff;
    --black: #0f0f0f;
    --text-dark: #1d1f1f;
    --bg-body: #fff;
    --bghover: #f4f8ff;
    --border-gray: #e3e7e9;

    --gray-800: #28292b;
    --gray-700: #3f4144;
    --gray-600: #6f7475;
    --gray-500: #8f9596;
    --gray-400: #a4a9ac;
    --gray-300: #c2c8ca;
    --gray-200: #cad0d3;
    --gray-100: #f5f9fa;


    ///temp//
    --link-hover-color: #ff00b3;
    --link-hover-decoration: #c700ac;
}

/*** css for theme********/
.codx-theme {
    &.dark {
        --bg-body: #28292b;
    }

    &.default {
        --primary: #3699ff;
        --primary-active: #005dc7;
        --primary-inverse: #FFFFFF;
        --primary-darkest: #032b53;
        --primary-darker: #0155aa;
        --primary-dark: #187DE4;
        --primary-light: #cae8f1;
        --primary-lighter: #ecf5fd;
        --primary-lightest: #f4f9ff;

        --text-primary: #005dc7;
        --bs-active-primary: #005dc7;
        --title-color: #005dc7;
        --icon-color: #005dc7;
        --bullet-color: #005dc7;
        --arrow-color: #005dc7;
        --bg-color: #005dc7;
        --border-light: #D3E8FF;
    }

    &.orange {
        --primary: #ff7213;
        --primary-active: #fd492a;
        --primary-inverse: #FFFFFF;
        --primary-darkest: #521e01;
        --primary-darker: #fd492a;
        --primary-dark: #ff6822;
        --primary-light: #ffdebf;
        --primary-lighter: #fffbed;
        --primary-lightest: #fffef1;

        --text-primary: #fd492a;
        --bs-active-primary: #fd492a;
        --title-color: #fd492a;
        --icon-color: #fd492a;
        --bullet-color: #fd492a;
        --arrow-color: #fd492a;
        --bg-color: #fd492a;
        --border-light: #ffdac8;
    }

    &.sapphire {
        --primary: #28e0ce;
        --primary-active: #1ead9f;
        --primary-inverse: #FFFFFF;
        --primary-darkest: #01524e;
        --primary-darker: #0b9b8d;
        --primary-dark: #23d3c1;
        --primary-light: #bef0ec;
        --primary-lighter: #f4ffff;
        --primary-lightest: #f4fcfa;

        --text-primary: #13a597;
        --bs-active-primary: #13a597;
        --title-color: #13a597;
        --icon-color: #13a597;
        --bullet-color: #13a597;
        --arrow-color: #13a597;
        --bg-color: #13a597;
        --border-light: #c8fffc;
    }

    &.green {
        --primary: #27d65c;
        --primary-active: #0f8633;
        --primary-inverse: #FFFFFF;
        --primary-darkest: #01520f;
        --primary-darker: #0f8633;
        --primary-dark: #14ad42;
        --primary-light: #b5ffbf;
        --primary-lighter: #f4fff5;
        --primary-lightest: #f4fcf5;

        --text-primary: #0f8633;
        --bs-active-primary: #0f8633;
        --title-color: #0f8633;
        --icon-color: #0f8633;
        --bullet-color: #0f8633;
        --arrow-color: #0f8633;
        --bg-color: #0f8633;
        --border-light: #c8ffcd;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #dfdfdf !important;
    }

    .aside {
        &.aside-light {
            background-color: var(--primary-darker);

            .aside-primary {
                background-color: var(--primary-darker);

                .menu-link {
                    &.active {
                        .menu-icon {
                            background-color: var(--primary);
                        }
                    }
                }
            }
        }
    }

    .menu-state-title-primary .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here) .menu-title,
    .menu-state-title-primary .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-title {
        color: var(--primary);
    }

    .e-tab-wrap:hover .e-tab-text {
        color: var(--primary-dark) !important;
    }

    .menu-state-primary {

        .menu-item .menu-link.active .menu-title,
        .menu-item.here>.menu-link .menu-title {
            color: var(--title-color) !important;
        }

        .menu-item.here>.menu-link .menu-title {
            color: var(--title-color) !important;
        }

        .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-title {
            color: var(--title-color) !important;
        }

        .menu-item .menu-link.active .menu-bullet .bullet {
            background-color: var(--title-color) !important;
        }

        .menu-item .menu-link:hover .menu-bullet .bullet {
            background-color: var(--title-color) !important;
        }

        .menu-item.show>.menu-link .menu-icon .svg-icon {
            svg {
                [fill]:not(.permanent):not(g) {
                    fill: var(--title-color) !important;
                }
            }
        }

        .menu-item:hover>.menu-link .menu-icon .svg-icon {
            svg {
                [fill]:not(.permanent):not(g) {
                    fill: var(--title-color) !important;
                }
            }
        }
    }

    .aside.aside-extended .aside-secondary {
        background-color: var(--primary-lightest);
    }

    .menu-state-title-primary .menu-item .menu-link.active .menu-title {
        color: var(--primary-light);
    }

    .btn.btn-primary {
        border-color: var(--primary-dark) !important;
        background-color: var(--primary-dark) !important;
    }

    .btn.btn-active-primary.active {
        background-color: var(--primary) !important;
    }

    .btn.btn-primary:focus {
        background-color: var(--primary) !important;
        border-color: var(--primary) !important;
    }

    .btn.btn-primary:hover {
        background-color: var(--primary-darker) !important;
        border-color: var(--primary-darker) !important;
    }

    .btn.btn-light-primary {
        color: var(--title-color);
        border-color: var(--border-light) !important;
        background-color: var(--primary-lighter) !important;

        i {
            color: var(--title-color);
        }
    }

    .btn.btn-active-primary:focus:not(.btn-active),
    .btn.btn-active-primary:hover:not(.btn-active),
    .btn.btn-light-primary:hover,
    .btn.btn-light-primary:focus:not(.btn-active) {
        border-color: var(--primary) !important;
        background-color: var(--primary) !important;


    }

    .text-primary,
    .text-hover-primary:hover,
    .text-hover-primary:hover * {
        color: var(--text-primary) !important;
    }

    .btn.btn-white:hover,
    .btn.btn-light:hover {
        color: var(--title-color) !important;

        i {
            color: var(--title-color) !important;
        }
    }

    .e-listview .e-list-item.e-active {
        background-color: var(--primary-lightest);
    }

    .e-listview .e-list-item:hover {
        background-color: var(--primary-lighter);
    }

    .nav-pills .nav-link.active {
        color: var(--primary-dark);
        background-color: var(--primary-lighter);
    }

    .menu-state-title-primary .menu-item .menu-link.active {
        color: var(--primary-light) !important;
    }

    .menu-title-light .menu-item .menu-link:hover .menu-title {
        color: var(--primary-lighter) !important;
    }

    .active [class*=icon-] {
        color: var(--primary-dark);
    }

    .dropdown-item:active {
        background-color: var(--primary-lighter);
        color: var(--gray-900);
    }

    .dropdown-item:hover {
        background-color: var(--primary-lighter);
    }

    .btn-check:checked+.btn.btn-active-light-primary,
    .btn-check:active+.btn.btn-active-light-primary,
    .btn.btn-active-light-primary:focus:not(.btn-active),
    .btn.btn-active-light-primary:hover:not(.btn-active),
    .btn.btn-active-light-primary:active:not(.btn-active),
    .btn.btn-active-light-primary.active,
    .btn.btn-active-light-primary.show,
    .show>.btn.btn-active-light-primary {
        color: var(--primary);
        border-color: var(--primary-light);
        background-color: var(--primary-lighter) !important;
    }


    .btn-outline-primary {
        color: var(--primary-dark);
        border-color: var(--primary);
    }

    .btn-outline-primary:hover {
        background-color: var(--primary-light);
    }

    .btn.btn-active-light-primary.btn-outline:not(.btn-outline-default) {
        border-color: var(--primary) !important;
    }

    .e-schedule .e-schedule-toolbar .e-active-view .e-tbar-btn-text,
    .e-schedule .e-schedule-toolbar .e-active-view .e-icons {
        color: var(--primary-dark) !important;
    }

    .e-schedule .e-timeline-view .e-date-header-wrap table td.e-current-day,
    .e-schedule .e-timeline-month-view .e-date-header-wrap table td.e-current-day {
        color: var(--primary-dark) !important;
    }

    .e-calendar .e-content td.e-today.e-selected:hover span.e-day,
    .e-calendar .e-content td.e-selected:hover span.e-day,
    .e-calendar .e-content td.e-selected.e-focused-date span.e-day,
    .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected:hover span.e-day,
    .e-bigger.e-small .e-calendar .e-content td.e-selected:hover span.e-day,
    .e-bigger.e-small .e-calendar .e-content td.e-selected.e-focused-date span.e-day {
        background-color: var(--primary-dark);
    }

    .e-calendar .e-content td.e-today span.e-day,
    .e-calendar .e-content td.e-focused-date.e-today span.e-day,
    .e-bigger.e-small .e-calendar .e-content td.e-today span.e-day,
    .e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
        border-color: var(--primary-dark) !important;
    }

    .e-date-wrapper span.e-input-group-icon.e-date-icon.e-icons.e-active {
        background: var(--primary-light);
    }

    .e-calendar .e-content td.e-selected span.e-day,
    .e-bigger.e-small .e-calendar .e-content td.e-selected span.e-day {
        background-color: var(--primary-dark);
    }

    /*** boostrap ***/
    .e-calendar .e-btn.e-today.e-flat.e-primary,
    .e-calendar .e-css.e-btn.e-today.e-flat.e-primary {
        background-color: var(--primary-dark) !important;
        border-color: var(--primary-dark) !important;
    }

    .e-switch-wrapper .e-switch-on {
        background-color: var(--primary) !important;
    }


    .e-switch-wrapper .e-switch-inner.e-switch-active {
        background-color: var(--primary) !important;
        border-color: var(--primary) !important;
    }

    .e-switch-wrapper .e-switch-on:hover {
        background-color: var(--primary-light) !important;
    }

    .e-switch-wrapper .e-switch-off,
    .e-switch-wrapper .e-switch-off {
        background-color: var(--gray-300) !important;
    }

    .e-switch-wrapper:hover .e-switch-off,
    .e-switch-wrapper .e-switch-off:hover {
        background-color: var(--primary-light) !important;
    }

    .e-checkbox-wrapper .e-frame.e-check,
    .e-css.e-checkbox-wrapper .e-frame.e-check {
        background-color: var(--primary) !important;
        border-color: var(--primary) !important;
    }

    .e-checkbox-wrapper .e-frame.e-check:focus,
    .e-css.e-checkbox-wrapper .e-frame.e-check:hover {
        background-color: var(--primary) !important;
        border-color: var(--primary) !important;
    }

    .e-checkbox-wrapper:hover .e-frame.e-check,
    .e-css.e-checkbox-wrapper:hover .e-frame.e-check {
        background-color: var(--primary) !important;
        border-color: var(--primary) !important;
    }

    .e-checkbox-wrapper .e-checkbox:focus+.e-frame,
    .e-css.e-checkbox-wrapper .e-checkbox:focus+.e-frame {
        border-color: var(--primary) !important;
        box-shadow: 0 0 0 4px var(--primary-lighter) !important;
    }

    .e-input-group:active,
    .e-input-group.e-input-focus,
    .e-input:focus,
    .e-control.e-focused,
    .codx-textarea:focus,
    textarea:focus,
    .codx-input[type=textarea] {
        border-color: var(--primary-light) !important;
    }

    .codx-search.codx-focus {
        border-color: var(--primary-light) !important;
    }

    ///////////////

    .menu-state-title-primary .menu-item .menu-link.active {
        transition: color 0.2s ease, background-color 0.2s ease;
        color: var(--primary-light) !important;
    }

    .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-text,
    .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-icon {
        color: var(--primary) !important;
    }

    /// svg
    .btn:hover .svg-icon svg [fill]:not(.permanent):not(g) {
        fill: var(--primary) !important;
    }

    .show>.btn.btn-active-light-primary .svg-icon svg [fill]:not(.permanent):not(g) {
        transition: fill 0.3s ease;
        fill: var(--primary);
    }


    .btn.btn-light-primary.btn-minimize {
        background-color: var(--primary) !important;
    }

    .btn.btn-light-primary.btn-minimize:hover {
        background-color: var(--primary-dark) !important;
    }

    .btn.btn-minimize .svg-icon svg [fill]:not(.permanent):not(g) {
        fill: var(--white) !important;
    }

    codx-header .icon-arrow_back {
        color: var(--primary) !important;
    }

    #Schedule .e-calendar .e-content td.e-today.e-selected span.e-day,
    .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected span.e-day,
    #Calendar .e-calendar .e-content td.e-today.e-selected span.e-day {
        background-color: var(--primary);
    }

    .e-schedule .e-vertical-view .e-header-cells.e-current-day {
        color: var(--primary-darker);
    }

    .list-item a .icon-edit-one,
    .setting-btnright a span {
        color: var(--primary-dark);
    }

    .list-item a:hover .icon-edit-one,
    .setting-btnright a:hover span {
        color: var(--primary);
    }

    .user-mini-nav a {
        color: var(--primary-light);
    }

    a.nav-link:hover {
        color: var(--primary-dark);
    }

    .bg-hover-light {
        &:hover {
            background-color: var(--primary-lighter) !important;
        }
    }

    a.menu-link {
        color: var(--primary-dark);
    }
}

/// end 22/12/2022