:root {
  --bs-body-line-height: 1.4;
  --fs-7: 12px;
  --fs-6: 13.475px;
  --white: #ffffff;
  --black: #0f0f0f;
  --text-dark: #1d1f1f;
  --bg-body: #fff;
  --bghover: #f4f8ff;
  --border-gray: #e3e7e9;
  --text-menu: #28292b;
  --scrollbar-thumb: #ced6da;
  --border-list: #e1e6e7;

  --gray-800: #28292b;
  --gray-700: #3f4144;
  --gray-600: #6f7475;
  --gray-500: #8f9596;
  --gray-400: #a7adb1;
  --gray-300: #c2c8ca;
  --gray-200: #cad0d3;
  --gray-150: #e1e6e7;
  --gray-100: #f5f8fa;
  --gray-50: #f7f7fe;

  --bs-border-color:#e1e6e7;
  --bs-green:rgb(22, 182, 49);

  --speeddialVertDist: 98px;

  --primary: #3699ff;

}

/*** css for theme********/
.codx-theme {
  &.default {
    --primary: #3699ff;
    --primary-active: #0052b1;
    --primary-inverse: #ffffff;
    --primary-darkest: #073563;
    --primary-darker: #005dc7;
    --primary-dark: #187de4;
    --primary-light: #cae8f1;
    --primary-lighter: #ecf5fd;
    --primary-lightest: #f1f6ff;

    --text-primary: #005dc7;
    --bs-active-primary: #005dc7;
    --title-color: #005dc7;
    --icon-color: #005dc7;
    --bullet-color: #005dc7;
    --arrow-color: #005dc7;
    --bg-color: #005dc7;
    --border-light: #d3e8ff;
    --bg-aside-dark: #041b33;
    --menu-active: #96addf;

  }


  &.orange {
    --primary: #ff7619;
    --primary-active: #e04a04;
    --primary-inverse: #ffffff;
    --primary-darkest: #722b05;
    --primary-darker: #f15711;
    --primary-dark: #ff6822;
    --primary-light: #ffdebf;
    --primary-lighter: #fffbed;
    --primary-lightest: #fdf7ec;

    --text-primary: #fd492a;
    --bs-active-primary: #fd492a;
    --title-color: #fd492a;
    --icon-color: #fd492a;
    --bullet-color: #fd492a;
    --arrow-color: #fd492a;
    --bg-color: #fd492a;
    --border-light: #ffdac8;
    --bg-aside-dark: #3f1704;
    --menu-active: #fac696;
  }

  &.sapphire {
    --primary: #08ad9d;
    --primary-active: #006e63;
    --primary-inverse: #ffffff;
    --primary-darkest: #035e59;
    --primary-darker: #027c70;
    --primary-dark: #009384;
    --primary-light: #bef0ec;
    --primary-lighter: #eafafa;
    --primary-lightest: #ecf7f4;

    --text-primary: #13a597;
    --bs-active-primary: #13a597;
    --title-color: #13a597;
    --icon-color: #13a597;
    --bullet-color: #13a597;
    --arrow-color: #13a597;
    --bg-color: #13a597;
    --border-light: #c8fffc;
    --bg-aside-dark: #032e2c;
    --menu-active: #92ece5;
  }

  &.green {
    --primary: #15ad44;
    --primary-active: #0b792c;
    --primary-inverse: #ffffff;
    --primary-darkest: #025c11;
    --primary-darker: #0f8633;
    --primary-dark: #14ad42;
    --primary-light: #b5ffbf;
    --primary-lighter: #eafaeb;
    --primary-lightest: #e5f3e7;

    --text-primary: #0f8633;
    --bs-active-primary: #0f8633;
    --title-color: #0f8633;
    --icon-color: #0f8633;
    --bullet-color: #0f8633;
    --arrow-color: #0f8633;
    --bg-color: #0f8633;
    --border-light: #c8ffcd;
    --bg-aside-dark: #032909;
    --menu-active: #a4da8b;
  }

  &.purple {
    --primary: #6d13e4;
    --primary-active: #4b08a1;
    --primary-inverse: #ffffff;
    --primary-darkest: #430791;
    --primary-darker: #5710b2;
    --primary-dark: #6011c7;
    --primary-light: #e9cefa;
    --primary-lighter: #f4eafc;
    --primary-lightest: #f7eefd;
    

    --text-primary: #5710b2;
    --bs-active-primary: #5710b2;
    --title-color: #5710b2;
    --icon-color: #5710b2;
    --bullet-color: #5710b2;
    --arrow-color: #5710b2;
    --bg-color: #5710b2;
    --border-light: #dbc5f5;
    --bg-aside-dark: #1e033f;
    --menu-active: #d29df3;
  }

  &.navy {
    --primary: #344c85;
    --primary-active: #131c33;
    --primary-inverse: #ffffff;
    --primary-darkest: #111930;
    --primary-darker: #192440;
    --primary-dark: #222f50;
    --primary-light: #cecffa;
    --primary-lighter: #f5faff;
    --primary-lightest: #eaeff3;

    --text-primary: #365294;
    --bs-active-primary: #1e2b4e;
    --title-color: #1a2644;
    --icon-color: #1b2849;
    --bullet-color: #192440;
    --arrow-color: #192440;
    --bg-color: #192440;
    --border-light: #dbc5f5;
    --bg-aside-dark: #1e033f;
    --bg-body: #f5f8fa;
    --menu-active: #a0a1ec;

    codx-wrapper {
      background-color: var(--bg-body);
    }

    .aside.aside-transparent {
      background-color: var(--bg-body);
    }

    .menu-state-title-primary .menu-item .menu-link.active .menu-title {
      color: #7f80ad;
    }

    .menu-title-light .menu-item .menu-link .menu-title {
      color: #cacbed;
    }

    .btn.btn-pill {
      border-color: #435689 !important;
      background-color: #1f2d4e !important;
    }

    .btn.btn-pill:hover {
      background-color: #435689 !important;
    }
    .chat-box{
      background-color:var(--white);
  }
  }

  &.dark {
    //--primary: #2a2b3a;
    --primary-active: #3a3c50;

    --primary-darkest: #14141d;
    //--primary-darker: #1b1b2b;
    //--primary-dark: #202131;
    --primary-light: #2a2b3a;
    --primary-lighter: #19192c;
    --primary-lightest: #181a29;

    --white: #f0f0f0;
    --black: #232425;

    //--bg-body: #151521;
    --bg-body:#0F1014;
    //--bg-card: #1e1e2d;
    --bg-card: #15171C;
    --bghover: #303236;

    //--border-gray: #2d2f42;
    --border-gray: #1E2027;
    //--border-light: #2d2f42;
    --border-light: #1f212a;
    //--border-list: #21213a;
    --border-list: #1E2027;

    //--text-dark: #a3a3c7;
    --text-dark: #9395a7;
    //--text-menu: #d4d8e4;
    --text-menu: #9193a3;
    //--text-title: #ced3e5;
    --text-title: #b5b9ca;
    //--text-body: #9a9aa8;
    --text-body: #6b6f7c;
    //--text-des: #858597;
    --text-des: #595c66;
    --menu-active: #2a2b3a;

    //--bg-input: #29293e;
    --bg-input: #15171C;
    --scrollbar-thumb: #333358;
    --bg-card-item: #2d2f42;

    --gray-100: #1b1b29;
    --gray-150: #202031;
    --gray-200: #2b2b40;
    --gray-300: #323248;
    --gray-400: #474761;
    --gray-500: #565674;
    --gray-600: #6d6d80;
    --gray-700: #92929f;
    --gray-800: #cdcdde;
    --gray-900: #ffffff;

   
    @import "theme-dark.scss";
  


    color: var(--text-body);
    --title-color: var(--primary);


    background-color: var(--bg-body);
  }

  // ::-webkit-scrollbar-thumb {
  //   background-color: var(--scrollbar-thumb) !important;
  // }

  codx-header.header.align-items-stretch {
    .btn.btn-active-light-primary {
      border-color: var(--border-light) !important;
      background-color: var(--primary-lighter) !important;
      .svg-icon svg [fill]:not(.permanent):not(g) {
        fill: var(--primary-dark) !important;
      }
    }
    .btn.btn-active-light-primary:hover {
      border-color: var(--primary) !important;
      background-color: var(--primary) !important;
    }
  }

  .aside {
    &.aside-light {
      background-color: var(--primary-darker);

      .aside-primary {
        background-color: var(--primary-darker);

        // .menu-link {
        //   &.active {
        //     .menu-icon {
        //       background-color: var(--primary);
        //     }
        //   }
        // }
      }
    }
  }

  .menu-state-title-primary
    .menu-item:not(.here)
    .menu-link:hover:not(.disabled):not(.active):not(.here) {
    color: var(--primary-light) !important;
  }

  .menu-state-title-primary
    .menu-item.hover:not(.here)
    > .menu-link:not(.disabled):not(.active):not(.here)
    .menu-title,
  .menu-state-title-primary
    .menu-item:not(.here)
    .menu-link:hover:not(.disabled):not(.active):not(.here)
    .menu-title {
    color: var(--primary);
  }

  .e-tab-wrap:hover .e-tab-text {
    color: var(--primary-dark) !important;
  }

  .menu-state-primary {
    .menu-item .menu-link.active .menu-title,
    .menu-item.here > .menu-link .menu-title {
      color: var(--title-color) !important;
     }
   
    .menu-item:not(.here)
      .menu-link:hover:not(.disabled):not(.active):not(.here)
      .menu-title {
      color: var(--title-color) !important;
    }

    .menu-item .menu-link.active .menu-bullet .bullet {
      background-color: var(--title-color) !important;
    }

    .menu-item .menu-link:hover .menu-bullet .bullet {
      background-color: var(--title-color) !important;
    }

    .menu-item.show > .menu-link .menu-icon .svg-icon {
      svg {
        [fill]:not(.permanent):not(g) {
          fill: var(--title-color) !important;
        }
      }
    }

    .menu-item:hover > .menu-link .menu-icon .svg-icon {
      svg {
        [fill]:not(.permanent):not(g) {
          fill: var(--title-color) !important;
        }
      }
    }
  }

  .aside.aside-extended .aside-secondary , .aside.aside-v2-lighter {
    background-color: var(--primary-lightest);
  }

  .menu-state-title-primary .menu-item .menu-link.active {
    transition: color 0.2s ease, background-color 0.2s ease;
  }

  .menu-state-title-primary .menu-item .menu-link.active .menu-title,
  .menu-state-title-primary .menu-item .menu-link:hover .menu-title {
    //color: var(--menu-active)!important;
    color: var(--primary-light)!important;
  }

  .menu-state-title-primary .menu-item .menu-link .menu-title:hover {
    //color: var(--menu-active)!important;
     color: var(--primary-light)!important;
  }
  .btn.btn-primary {
    border-color: var(--primary-dark) !important;
    background-color: var(--primary-dark) !important;
  }

  .btn.btn-active-primary.active {
    background-color: var(--primary) !important;
  }

  .btn.btn-primary:focus {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
  }

  .btn.btn-primary:hover {
    background-color: var(--primary-darker) !important;
    border-color: var(--primary-darker) !important;
  }

  .btn.btn-light-primary {
    color: var(--title-color);
    border-color: var(--border-light) !important;
    background-color: var(--primary-lighter) !important;

    i {
      color: var(--title-color);
    }
  }

  .btn.btn-active-primary:focus:not(.btn-active),
  .btn.btn-active-primary:hover:not(.btn-active),
  .btn.btn-light-primary:hover,
  .btn.btn-light-primary:focus:not(.btn-active) {
    border-color: var(--primary) !important;
    background-color: var(--primary) !important;
  }

  .text-primary,
  .text-hover-primary:hover,
  .text-hover-primary:hover * {
    color: var(--text-primary) !important;
  }

  .btn.btn-white:hover,
  .btn.btn-light:hover {
    color: var(--title-color) !important;

    i {
      color: var(--title-color) !important;
    }
  }
  .e-pane.e-static-pane {
    .e-listview .e-list-item.e-active {
      background-color: var(--primary-lightest);
      color: var(--text-dark);
    }
  }
  .e-listview .e-list-item:hover {
    background-color: var(--primary-lighter);
    color: var(--text-dark);
  }
  dropdown-content{
    .e-listview .e-list-item:hover {
      background-color: transparent;
    }
  }
  div#newfeed {
    ejs-listview {
      background-color: transparent;
      .e-list-item.e-active {
        background-color: var(--white);
      }
      .e-list-item:hover {
        background-color: var(--white);
      }
    }
  }

  .nav-pills .nav-link.active {
    color: var(--primary-dark)!important;
    background-color: var(--primary-lighter);
  }


  .menu-title-light .menu-item .menu-link:hover .menu-title {
    color: var(--primary-lighter) !important;
  }

  // .active [class*=icon-] {
  //     color: var(--primary-dark);
  // }

  .dropdown-item:active {
    background-color: var(--primary-lighter);
    color: var(--gray-900);
  }

  .dropdown-item:hover {
    background-color: var(--primary-lighter);
  }

  .btn-check:checked + .btn.btn-active-light-primary,
  .btn-check:active + .btn.btn-active-light-primary,
  .btn.btn-active-light-primary:focus:not(.btn-active),
  .btn.btn-active-light-primary:hover:not(.btn-active),
  .btn.btn-active-light-primary:active:not(.btn-active),
  .btn.btn-active-light-primary.active,
  .btn.btn-active-light-primary.show,
  .show > .btn.btn-active-light-primary {
    color: var(--primary);
    border-color: var(--primary-light);
    background-color: var(--primary-lighter) !important;
  }

  .btn-outline-primary {
    color: var(--primary-dark);
    border-color: var(--primary);
  }
  .btn.btn-outline-primary:focus-visible {
//    color: var(--bs-btn-hover-color);
    background-color: var(--primary-active);
  }

  .btn-outline-primary:hover {
    background-color: var(--primary-light);
    color: var(--primary-dark) !important;
  }

  .btn.btn-active-light-primary.btn-outline:not(.btn-outline-default) {
    border-color: var(--primary) !important;
  }

  .e-schedule .e-schedule-toolbar .e-active-view .e-tbar-btn-text,
  .e-schedule .e-schedule-toolbar .e-active-view .e-icons {
    color: var(--primary-dark) !important;
  }

  .e-schedule .e-timeline-view .e-date-header-wrap table td.e-current-day,
  .e-schedule
    .e-timeline-month-view
    .e-date-header-wrap
    table
    td.e-current-day {
    color: var(--primary-dark) !important;
  }

  .e-calendar .e-content td.e-today.e-selected:hover span.e-day,
  .e-calendar .e-content td.e-selected:hover span.e-day,
  .e-calendar .e-content td.e-selected.e-focused-date span.e-day,
  .e-bigger.e-small
    .e-calendar
    .e-content
    td.e-today.e-selected:hover
    span.e-day,
  .e-bigger.e-small .e-calendar .e-content td.e-selected:hover span.e-day,
  .e-bigger.e-small
    .e-calendar
    .e-content
    td.e-selected.e-focused-date
    span.e-day {
    background-color: var(--primary-dark);
  }

  .e-calendar .e-content td.e-today span.e-day,
  .e-calendar .e-content td.e-focused-date.e-today span.e-day,
  .e-bigger.e-small .e-calendar .e-content td.e-today span.e-day,
  .e-bigger.e-small
    .e-calendar
    .e-content
    td.e-focused-date.e-today
    span.e-day {
    border-color: var(--primary-dark) !important;
  }

  .e-calendar .e-content td.e-today span.e-day {
    color: var(--text-dark) !important;
  }

  .e-date-wrapper span.e-input-group-icon.e-date-icon.e-icons.e-active {
    background: var(--primary-light);
  }

  .e-calendar .e-content td.e-selected span.e-day,
  .e-bigger.e-small .e-calendar .e-content td.e-selected span.e-day {
    background-color: var(--primary-dark);
  }

  /*** boostrap ***/
  .e-calendar .e-btn.e-today.e-flat.e-primary,
  .e-calendar .e-css.e-btn.e-today.e-flat.e-primary {
    background-color: var(--primary-dark) !important;
    border-color: var(--primary-dark) !important;
  }

  .e-switch-wrapper .e-switch-on {
    background-color: var(--primary) !important;
  }

  .e-switch-wrapper .e-switch-inner.e-switch-active {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
  }

  .e-switch-wrapper .e-switch-on:hover {
    background-color: var(--primary-light) !important;
  }

  .e-switch-wrapper .e-switch-off,
  .e-switch-wrapper .e-switch-off {
    background-color: var(--gray-300) !important;
  }

  .e-switch-wrapper:hover .e-switch-off,
  .e-switch-wrapper .e-switch-off:hover {
    background-color: var(--primary-light) !important;
  }

  .e-checkbox-wrapper .e-frame.e-check,
  .e-css.e-checkbox-wrapper .e-frame.e-check {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
  }

  .e-checkbox-wrapper .e-frame.e-check:focus,
  .e-css.e-checkbox-wrapper .e-frame.e-check:hover {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
  }

  .e-checkbox-wrapper:hover .e-frame.e-check,
  .e-css.e-checkbox-wrapper:hover .e-frame.e-check {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
  }

  .e-checkbox-wrapper .e-checkbox:focus + .e-frame,
  .e-css.e-checkbox-wrapper .e-checkbox:focus + .e-frame {
    border-color: var(--primary) !important;
    box-shadow: 0 0 0 4px var(--primary-lighter) !important;
  }

  .e-input-group:active,
  .e-input-group.e-input-focus,
  .e-input:focus,
  .e-control.e-focused,
  .codx-textarea:focus,
  textarea:focus,
  .codx-input[type="textarea"] {
    border-color: var(--primary-light) !important;
  }

  // .e-radio:checked + label::before {
  //   border-color: var(--primary-dark) !important;
  //   background-color:var(--primary)!important;
  // }
  

  .codx-search.codx-focus {
    border-color: var(--primary-light) !important;
  }

  ///////////////


  .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-text,
  .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-icon {
    color: var(--primary) !important;
  }

  /// svg
  .btn:hover .svg-icon svg [fill]:not(.permanent):not(g) {
    fill: var(--primary) !important;
  }

  
  .show
    > .btn.btn-active-light-primary
    .svg-icon
    svg
    [fill]:not(.permanent):not(g) {
    transition: fill 0.3s ease;
    fill: var(--primary);
  }

  .btn.btn-light-primary.btn-minimize {
    background-color: var(--primary) !important;
  }

  .btn.btn-light-primary.btn-minimize:hover {
    background-color: var(--primary-dark) !important;
  }

  .btn.btn-minimize .svg-icon svg [fill]:not(.permanent):not(g) {
    fill: var(--white) !important;
  }

  codx-header .icon-arrow_back {
    color: var(--primary) !important;
  }

  #Schedule .e-calendar .e-content td.e-today.e-selected span.e-day,
  .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected span.e-day,
  #Calendar .e-calendar .e-content td.e-today.e-selected span.e-day {
    background-color: var(--primary);
  }

  .e-schedule .e-vertical-view .e-header-cells.e-current-day {
    color: var(--primary-darker);
  }

  .list-item a .icon-edit-one,
  .setting-btnright a span {
    color: var(--primary-dark);
  }

  .list-item a:hover .icon-edit-one,
  .setting-btnright a:hover span {
    color: var(--primary-darkest);
  }

  .user-mini-nav a {
    color: var(--gray-400);
  }

  a.nav-link:hover {
    color: var(--primary-dark);
    i, span{
      color: var(--primary-dark);
    }
  }

  .bg-hover-light {
    &:hover {
      background-color: var(--primary-lighter) !important;
    }
  }

  a.menu-link {
    color: var(--primary-darker);
  }

  a.menu-link:hover {
    color: var(--primary);
  }

  .extend-function hr {
    background-color: var(--primary);
  }

  .page-item.active .page-link {
    background-color: var(--primary);
  }

  .page-item {
    &:focus {
      .page-link {
        background-color: var(--primary-light);
        color: var(--primary-darker);
      }
    }

    &:hover {
      .page-link {
        background-color: var(--primary-light);
        color: var(--primary-darker) !important;
      }
    }
  }

  .page-item:hover .page-link i {
    color: var(--primary-darker) !important;
  }

  codx-view-kanban .e-kanban .e-kanban-table .e-header-cells {
    background-color: var(--primary-dark);
  }

  .progress-bar {
    background-color: var(--primary);
  }

  .codx-badge .badge-primary {
    background-color: var(--primary);
  }

  .e-schedule .e-month-view .e-date-header-wrap table td.e-current-day,
  .e-schedule .e-month-agenda-view .e-date-header-wrap table td.e-current-day {
    color: var(--primary-darker);
  }

  .e-schedule .e-month-view .e-current-date .e-date-header,
  .e-schedule .e-month-agenda-view .e-current-date .e-date-header {
    background-color: var(--primary-dark);
  }

  .codx-tab .tab-content {
    border-color: var(--gray-150);
  }

  codx-layout-add .lay-add-tab-footer {
    border-color: var(--border-light);
  }

  .menu-state-primary .menu-item.here > .menu-link {
    color: var(--primary-dark);
}
}

.e-toolbar-item.e-date-range.e-overflow-show .e-tbar-btn {
  background: var(--primary-light) !important;
}

.badge-primary {
  background-color: var(--primary);
}
.badge-light-primary {
  color: var(--primary);
  background-color: var(--primary-lighter);
}

.separator {
  border-bottom-color:var(--gray-150);
}

.text-green{
  color: var(--bs-green);
}
/// end 22/12/2022

