:root {

    $primary: #3699ff;
    $primary-active: #187DE4;
    $primary-inverse: #FFFFFF;
    $primary-light: #D3E8FF;
    $text-primary: #005dc7;
    $text-primary-dark: #0078FF;
    $text-primary-darker: #005dc7;
    $text-primary-light: #D3E8FF;


    --bs-body-line-height: 1.4;
    --fs-7: 12px;
    --title-color: #f5f9fa;

    --white: #ffffff;
    --black: #0f0f0f;
    --text-dark: #1d1f1f;

    --bg-body: #fff;
    --bghover: #f4f8ff;


    --gray-800: #28292b;
    --gray-700: #3f4144;
    --gray-600: #6f7475;
    --gray-500: #8f9596;
    --gray-400: #a4a9ac;
    --gray-300: #c2c8ca;
    --gray-200: #cad0d3;
    --gray-100: #f5f9fa;

    --text-primary: #005dc7;
    --border-gray: #e3e7e9;
}

/*** css for theme********/

[theme="orange-light"] {

    --bs-active-primary: #fd492a;
    --text-primary: #fd492a;

    $primary-darkest: #521e01;
    $primary-darker: #EF4023;
    $primary-dark: #ff6822;
    $primary: #ff7213;
    $primary-light: #fcc898;
    $primary-lighter: #fffbed;
    $primary-lightest: #fffef1;

    $link-hover-color: #fd492a;
    $link-hover-decoration: #fd492a;

    $title-color: #fd492a;
    $icon-color: #fd492a;
    $bullet-color: #fd492a;
    $arrow-color: #fd492a;
    $bg-color: #fd492a;
    $border-light: #ffdac8;


    ::-webkit-scrollbar-thumb {
        background-color: #dfdfdf !important;
    }

    .aside {
        &.aside-light {
            background-color: $primary-darker;

            .aside-primary {
                background-color: $primary-darker;

                .menu-link {
                    &.active {
                        .menu-icon {
                            background-color: $primary;
                        }
                    }
                }
            }
        }
    }


    .e-tab-wrap:hover .e-tab-text {
        color: $primary-dark !important;
    }

    .menu-state-primary {

        .menu-item .menu-link.active .menu-title,
        .menu-item.here>.menu-link .menu-title {
            color: $title-color !important;
        }

        .menu-item.here>.menu-link .menu-title {
            color: $title-color !important;
        }

        .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-title {
            color: $title-color !important;
        }

        .menu-item .menu-link.active .menu-bullet .bullet {
            background-color: $title-color !important;
        }

        .menu-item .menu-link:hover .menu-bullet .bullet {
            background-color: $title-color !important;
        }

        .menu-item.show>.menu-link .menu-icon .svg-icon {
            svg {
                [fill]:not(.permanent):not(g) {
                    fill: $title-color !important;
                }
            }
        }

        .menu-item:hover>.menu-link .menu-icon .svg-icon {
            svg {
                [fill]:not(.permanent):not(g) {
                    fill: $title-color !important;
                }
            }
        }
    }

    .aside.aside-extended .aside-secondary {
        background-color: $primary-lightest;
    }

    .menu-state-title-primary .menu-item .menu-link.active .menu-title {
        color: $primary-light;
    }

    .btn.btn-primary {
        border-color: $primary-dark !important;
        background-color: $primary-dark !important;
    }

    .btn.btn-active-primary.active {
        background-color: $primary !important;
    }

    .btn.btn-primary:focus {
        background-color: $primary !important;
        border-color: $primary !important;
    }

    .btn.btn-primary:hover {
        background-color: $primary-darker !important;
        border-color: $primary-darker !important;
    }

    .btn.btn-light-primary {
        color: $title-color;
        border-color: $border-light !important;
        background-color: $primary-lighter !important;

        i {
            color: $title-color;
        }
    }

    .btn.btn-active-primary:focus:not(.btn-active),
    .btn.btn-active-primary:hover:not(.btn-active),
    .btn.btn-light-primary:hover,
    .btn.btn-light-primary:focus:not(.btn-active) {
        border-color: $primary !important;
        background-color: $primary !important;


    }

    .text-primary,
    .text-hover-primary:hover,
    .text-hover-primary:hover * {
        color: var(--text-primary) !important;
    }

    .btn.btn-white:hover,
    .btn.btn-light:hover {
        color: $title-color !important;

        i {
            color: $title-color !important;
        }
    }

    .e-listview .e-list-item.e-active {
        background-color: $primary-lightest;
    }

    .e-listview .e-list-item:hover {
        background-color: $primary-lighter;
    }

    .nav-pills .nav-link.active {
        color: $primary-dark;
        background-color: $primary-lighter;
    }

    .menu-state-title-primary .menu-item .menu-link.active {
        color: $primary-light !important;
    }

    .menu-title-light .menu-item .menu-link:hover .menu-title {
        color: $primary-lighter !important;
    }

    .active [class*=icon-] {
        color: $primary-dark;
    }

    .dropdown-item:active {
        background-color: $primary-lighter;
    }

    .dropdown-item:hover {
        background-color: $primary;
    }

    .btn-check:checked+.btn.btn-active-light-primary,
    .btn-check:active+.btn.btn-active-light-primary,
    .btn.btn-active-light-primary:focus:not(.btn-active),
    .btn.btn-active-light-primary:hover:not(.btn-active),
    .btn.btn-active-light-primary:active:not(.btn-active),
    .btn.btn-active-light-primary.active,
    .btn.btn-active-light-primary.show,
    .show>.btn.btn-active-light-primary {
        color: $primary;
        border-color: $primary-light;
        background-color: $primary-lighter !important;
    }


    .btn-outline-primary {
        color: $primary-dark;
        border-color: $primary;
    }

    .btn-outline-primary:hover {
        background-color: $primary-light;
    }

    .btn.btn-active-light-primary.btn-outline:not(.btn-outline-default) {
        border-color: $primary !important;
    }

    .e-schedule .e-schedule-toolbar .e-active-view .e-tbar-btn-text,
    .e-schedule .e-schedule-toolbar .e-active-view .e-icons {
        color: $primary-dark !important;
    }

    .e-schedule .e-timeline-view .e-date-header-wrap table td.e-current-day,
    .e-schedule .e-timeline-month-view .e-date-header-wrap table td.e-current-day {
        color: $primary-dark !important;
    }

    .e-calendar .e-content td.e-today.e-selected:hover span.e-day,
    .e-calendar .e-content td.e-selected:hover span.e-day,
    .e-calendar .e-content td.e-selected.e-focused-date span.e-day,
    .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected:hover span.e-day,
    .e-bigger.e-small .e-calendar .e-content td.e-selected:hover span.e-day,
    .e-bigger.e-small .e-calendar .e-content td.e-selected.e-focused-date span.e-day {
        background-color: $primary-dark;
    }

    .e-calendar .e-content td.e-today span.e-day,
    .e-calendar .e-content td.e-focused-date.e-today span.e-day,
    .e-bigger.e-small .e-calendar .e-content td.e-today span.e-day,
    .e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
        border-color: $primary-dark !important;
    }

    .e-date-wrapper span.e-input-group-icon.e-date-icon.e-icons.e-active {
        background: $primary-light;
    }

    /*** boostrap ***/
    .e-calendar .e-btn.e-today.e-flat.e-primary,
    .e-calendar .e-css.e-btn.e-today.e-flat.e-primary {
        background-color: $primary-dark !important;
        border-color: $primary-dark !important;
    }

    .e-switch-wrapper .e-switch-on,
    .e-switch-wrapper .e-switch-on {
        background-color: $primary !important;
    }

    .e-switch-wrapper .e-switch-inner.e-switch-active,
    .e-switch-wrapper .e-switch-inner.e-switch-active {
        background-color: $primary!important ;
        border-color: $primary !important;
    }

    .e-switch-wrapper .e-switch-on:hover,
    .e-switch-wrapper .e-switch-on:hover {
        background-color: $primary-light !important;
    }

    .e-switch-wrapper .e-switch-off,
    .e-switch-wrapper .e-switch-off {
        background-color: #cbcbcb !important;
    }

    .e-switch-wrapper:hover .e-switch-off,
    .e-switch-wrapper .e-switch-off:hover {
        background-color: $primary-light !important;
    }

    .e-checkbox-wrapper .e-frame.e-check,
    .e-css.e-checkbox-wrapper .e-frame.e-check {
        background-color: $primary !important;
        border-color: $primary !important;
    }

    .e-checkbox-wrapper .e-frame.e-check:focus,
    .e-css.e-checkbox-wrapper .e-frame.e-check:hover {
        background-color: $primary !important;
        border-color: $primary !important;
    }

    .e-checkbox-wrapper:hover .e-frame.e-check,
    .e-css.e-checkbox-wrapper:hover .e-frame.e-check {
        background-color: $primary !important;
        border-color: $primary !important;
    }

    .e-checkbox-wrapper .e-checkbox:focus+.e-frame,
    .e-css.e-checkbox-wrapper .e-checkbox:focus+.e-frame {
        border-color: $primary !important;
        box-shadow: 0 0 0 4px $primary-lighter !important;
    }

    .e-input-group:active,
    .e-input-group.e-input-focus,
    .e-input:focus,
    .e-control.e-focused,
    .codx-textarea:focus,
    textarea:focus,
    .codx-input[type=textarea] {
        border-color: $primary-light !important;
    }

    .codx-search.codx-focus {
        border-color: $primary-light !important;
    }

    ///////////////

    .menu-state-title-primary .menu-item .menu-link.active {
        transition: color 0.2s ease, background-color 0.2s ease;
        color: $primary-light !important;
    }

    .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-text,
    .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-icon {
        color: $primary !important;
    }

    /// svg
    .btn:hover .svg-icon svg [fill]:not(.permanent):not(g) {
        fill: $primary !important;
    }


    .btn.btn-light-primary.btn-minimize {
        background-color: $primary !important;
    }

    .btn.btn-light-primary.btn-minimize:hover {
        background-color: $primary-dark !important;
    }

    .btn.btn-minimize .svg-icon svg [fill]:not(.permanent):not(g) {
        fill: #fff !important;
    }

    // .btn.btn-active-light-primary .svg-icon svg [fill]:not(.permanent):not(g) {
    //     fill: $primary-dark ;
    // }

    ////
    codx-header .icon-arrow_back {
        color: $primary !important;
    }

    #Schedule .e-calendar .e-content td.e-today.e-selected span.e-day,
    .e-bigger.e-small .e-calendar .e-content td.e-today.e-selected span.e-day,
    #Calendar .e-calendar .e-content td.e-today.e-selected span.e-day {
        background-color: $primary;
    }

    .e-schedule .e-vertical-view .e-header-cells.e-current-day {
        color: $primary-darker;
    }

    .list-item a .icon-edit-one,
    .setting-btnright a span {
        color: $primary-dark;
    }

    .list-item a:hover .icon-edit-one,
    .setting-btnright a:hover span {
        color: $primary;
    }

    .user-mini-nav a {
        color: $primary-light;
    }
}

/////////

[theme='green-light'] {
    $primary-darkest: #005716;
    $primary-darker: #00c73c;
    $primary-dark: #00ff15;
    $primary: #36ff72;
    $primary-light: #d3ffda;
    $primary-lighter: #eaffeb;
    $primary-lightest: #f4fff5;


}



/////////////////////////
//codx core
// $white: #ffffff;
// $black: #0f0f0f;
// $gray-100: if(isDarkMode(), #202325, #f5f9fa);
// $gray-200: if(isDarkMode(), #2c2d2e, #ebf0f1);
// $gray-300: if(isDarkMode(), #3b3f41, #c2c8ca);
// $gray-400: if(isDarkMode(), #646a6e, #a4a9ac);
// $gray-500: if(isDarkMode(), #667174, #8f9596);
// $gray-600: if(isDarkMode(), #747b81, #5d6061);
// $gray-700: if(isDarkMode(), #929a9f, #3f4144);
// $gray-800: if(isDarkMode(), #cdd9de, #28292b);
// $gray-900: if(isDarkMode(), #FFFFFF, #1d1f1f);
// $text-muted: $gray-500;

// Primary
// $primary: if(isDarkMode(), #3699fe, #3699ff);
// $primary-dark: if(isDarkMode(), #0078fe, #0078ff);
// $primary-darker: if(isDarkMode(), #005dc6, #005dc7);
// $primary-darkest: if(isDarkMode(), #063162, #063163);
// $primary-light: if(isDarkMode(), #D3E8FE, #D3E8FF);
// $primary-lighter: if(isDarkMode(), #EAF0FE, #EAF0FF);
// $primary-lightest: if(isDarkMode(), #F4F7FE, #F4F7FF);