:root {

    $primary: #3699ff;
    $primary-active: #187DE4;
    $primary-inverse: #FFFFFF;
    $primary-light: #D3E8FF;
    $text-primary: #005dc7;
    $text-primary-dark: #0078FF;
    $text-primary-darker: #005dc7;
    $text-primary-light: #D3E8FF;


    --bs-body-line-height: 1.4;
    --fs-7: 12px;
    --title-color: #f5f9fa;

    --white: #ffffff;
    --black: #0f0f0f;
    --text-dark: #1d1f1f;

    --bg-body: #fff;
    --bghover: #f4f8ff;


    --gray-800: #28292b;
    --gray-700: #3f4144;
    --gray-600: #6f7475;
    --gray-500: #8f9596;
    --gray-400: #a4a9ac;
    --gray-300: #c2c8ca;
    --gray-200: #cad0d3;
    --gray-100: #f5f9fa;

    --text-primary: #005dc7;

}

/*** css for theme********/

[theme="orange-light"] {

    --bs-active-primary: #fd492a;
    --text-primary: #fd492a;

    $primary-darkest: #521e01;
    $primary-darker: #EF4023;
    $primary-dark: #fd492a;
    $primary: #ff8533;
    $primary-light: #fcb898;
    $primary-lighter: #fffbed;
    $primary-lightest: #fffef1;

    $link-hover-color: #fd492a;
    $link-hover-decoration: #fd492a;

    $title-color: #fd492a;
    $icon-color: #fd492a;
    $bullet-color: #fd492a;
    $arrow-color: #fd492a;
    $bg-color: #fd492a;
    $border-light: #ffdac8;

    .aside {
        &.aside-light {
            background-color: $primary-darker;

            .aside-primary {
                background-color: $primary-darker;

                .menu-link {
                    &.active {
                        .menu-icon {
                            background-color: $primary;
                        }
                    }
                }
            }
        }
    }


    .e-tab-text {
        color: $title-color !important;
    }

    .menu-state-primary {

        .menu-item .menu-link.active .menu-title,
        .menu-item.here>.menu-link .menu-title {
            color: $title-color !important;
        }

        .menu-item.here>.menu-link .menu-title {
            color: $title-color !important;
        }

        .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-title {
            color: $title-color !important;
        }

        .menu-item .menu-link.active .menu-bullet .bullet {
            background-color: $title-color !important;
        }

        .menu-item .menu-link:hover .menu-bullet .bullet {
            background-color: $title-color !important;
        }

        .menu-item.show>.menu-link .menu-icon .svg-icon {
            svg {
                [fill]:not(.permanent):not(g) {
                    fill: $title-color !important;
                }
            }
        }

        .menu-item:hover>.menu-link .menu-icon .svg-icon {
            svg {
                [fill]:not(.permanent):not(g) {
                    fill: $title-color !important;
                }
            }
        }
    }

    .aside.aside-extended .aside-secondary {
        background-color: $primary-lightest;
    }

    .btn.btn-primary {
        border-color: $primary-dark !important;
        background-color: $primary-dark !important;
    }

    .btn.btn-active-primary.active {
        background-color: $primary !important;
    }

    .btn.btn-primary:hover {
        background-color: $primary-darker !important;
        border-color: $primary-darker !important;
    }

    .btn.btn-light-primary {
        color: $title-color;
        border-color: $border-light !important;
        background-color: $primary-lighter !important;

        i {
            color: $title-color;
        }
    }

    .btn.btn-active-primary:focus:not(.btn-active),
    .btn.btn-active-primary:hover:not(.btn-active),
    .btn.btn-light-primary:hover {
        border-color: $primary !important;
        background-color: $primary !important;
    }

    .text-primary,
    .text-hover-primary:hover,
    .text-hover-primary:hover * {
        color: var(--text-primary) !important;
    }

    a {
        &:hover {
            color: $link-hover-color;
            text-decoration: $link-hover-decoration;
        }
    }

    .e-listview .e-list-item.e-active {
        background-color: $primary-lightest;
    }

    .e-listview .e-list-item:hover {
        background-color: $primary-lighter;
    }
}

/////////

[theme='green-light'] {
    $primary-darkest: #005716;
    $primary-darker: #00c73c;
    $primary-dark: #00ff15;
    $primary: #36ff72;
    $primary-light: #d3ffda;
    $primary-lighter: #eaffeb;
    $primary-lightest: #f4fff5;


}



/////////////////////////
//codx core
// $white: #ffffff;
// $black: #0f0f0f;
// $gray-100: if(isDarkMode(), #202325, #f5f9fa);
// $gray-200: if(isDarkMode(), #2c2d2e, #ebf0f1);
// $gray-300: if(isDarkMode(), #3b3f41, #c2c8ca);
// $gray-400: if(isDarkMode(), #646a6e, #a4a9ac);
// $gray-500: if(isDarkMode(), #667174, #8f9596);
// $gray-600: if(isDarkMode(), #747b81, #5d6061);
// $gray-700: if(isDarkMode(), #929a9f, #3f4144);
// $gray-800: if(isDarkMode(), #cdd9de, #28292b);
// $gray-900: if(isDarkMode(), #FFFFFF, #1d1f1f);
// $text-muted: $gray-500;

// Primary
// $primary: if(isDarkMode(), #3699fe, #3699ff);
// $primary-dark: if(isDarkMode(), #0078fe, #0078ff);
// $primary-darker: if(isDarkMode(), #005dc6, #005dc7);
// $primary-darkest: if(isDarkMode(), #063162, #063163);
// $primary-light: if(isDarkMode(), #D3E8FE, #D3E8FF);
// $primary-lighter: if(isDarkMode(), #EAF0FE, #EAF0FF);
// $primary-lightest: if(isDarkMode(), #F4F7FE, #F4F7FF);