<codx-form #form [headerText]="header" [body]="body" [footer]="footer" [dialog]="dialog" [data]="note"
    [formModel]="dialog.formModel">
    <ng-template popup add #body>
        <div class="flex position-relative">
            <div [class.active]="noteType.text">
                <span (click)="onType('text')" class="icon-font_download icon-22 me-1"></span>
            </div>
            <div [class.active]="noteType.list">
                <span (click)="onType('list')" class="icon-list_alt icon-24 me-1"></span>
            </div>
            <div [class.active]="noteType.check">
                <span (click)="onType('check')" class="icon-check_box icon-24 me-1"></span>
            </div>
            <span class="icon-image icon-24" (click)="popupFile()">
            </span>
            <div class="d-flex align-items-center pw-menu">
                <div class="pw-pin ms-2" [class.active]="pin" (click)="isPin()" ngbPopover="Ghim ghi chú"
                    triggers="mouseenter:mouseleave" placement="bottom" [autoClose]="'outside'">
                    <span class="icon-push_pin1 icon-20" type="button"></span>
                </div>
                <div class="pw-save ms-2" (click)="openFormNoteBooks()" ngbPopover="Lưu ghi chú vào sổ tay"
                    triggers="mouseenter:mouseleave" placement="bottom" [autoClose]="'outside'">
                    <span class="icon-download icon-20" type="button"></span>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <codx-attachment #attachment objectType="WP_Notes" [objectId]="note?.recID" hideBtnSave="1" hideFolder="1"
                hideUploadBtn="1" functionID="WPT03941" (fileAdded)="fileAdded()" type="inline">
            </codx-attachment>
        </div>
        <div *ngIf="formType == 'add'">
            <div *ngIf="type == 'text'">
                <codx-input type="textarea" field="memo" placeholder="textarea" crrValue=""
                    (valueChange)="valueChange($event)">
                </codx-input>
            </div>
            <div *ngIf="type == 'check' || type =='list'">
                <ng-container *ngFor="let item of listNote; index as i">
                    <div class="flex align-items-center mt-6">
                        <div class="me-2">
                            <ng-container *ngIf="type == 'check'; else list">
                                <codx-input #noteAddText type="checkBox" [crrValue]="item?.status" field="status"
                                    labelPosition="Before" class="test-check" (valueChange)="valueChange($event, item)">
                                </codx-input>
                            </ng-container>
                            <ng-template #list>
                                <li></li>
                            </ng-template>
                        </div>
                        <div class="w-100" #txtNoteEdit name="txtTodoEdit">
                            <codx-input #txtNoteEdit type="text" name="txtTodoEdit" class="test-textbox border-0"
                                (keyUpEnter)="onUpdateNote($event)" [crrValue]="item?.listNote" field="listNote"
                                (valueChange)="valueChange($event, item)">
                            </codx-input>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div *ngIf="formType == 'edit'">
            <div *ngIf="note?.noteType == 'text'">
                <codx-input type="textarea" field="memo" placeholder="textarea" crrValue=""
                    (valueChange)="valueChange($event)" [crrValue]="note?.memo">
                </codx-input>
            </div>
            <div *ngIf="note?.noteType == 'check' || note?.noteType =='list'">
                <ng-container *ngFor="let item of note?.checkList; index as i">
                    <div class="flex align-items-center mt-6">
                        <div class="me-2">
                            <ng-container *ngIf="note?.noteType == 'check'; else list">
                                <codx-input #noteAddText type="checkbox"
                                    [checked]="item?.status == '1' || item?.status == 'true'" field="status"
                                    labelPosition="Before" class="test-check" (valueChange)="valueChange($event, item)">
                                </codx-input>
                            </ng-container>
                            <ng-template #list>
                                <li></li>
                            </ng-template>
                        </div>
                        <div class="w-100" #txtNoteEdit name="txtTodoEdit">
                            <codx-input #txtNoteEdit type="text" name="txtTodoEdit" class="test-textbox"
                                (keyUpEnter)="onUpdateNote($event)" [crrValue]="item?.listNote" field="listNote"
                                (valueChange)="valueChange($event, item)">
                            </codx-input>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <div class="d-flex justify-content-between">
            <div class="flex" style="margin-top: 10px;">
                <div class="">
                    <codx-label name="lblShowCalendar" formName="Notes" default="Hiển thị trên lịch"></codx-label>
                </div>
                <div class="" style="margin-left: 6px;">
                    <codx-input type="switch" field="showCalendar" labelPosition="Before" [label]="label"
                        class="test-check" (valueChange)="valueChange($event)" [crrValue]="note?.showCalendar"
                        [checked]="note?.showCalendar">
                    </codx-input>
                </div>
            </div>
            <button type="button" class="btn btn-primary ms-1" (click)="saveNote()" *ngIf="!readOnly">
                <codx-label name="Save" formName="Tasks" default="Lưu"></codx-label>
            </button>
        </div>
    </ng-template>
</codx-form>