// CSS Chung
.title{
    clear: both;
    margin-top: 38px;
    font-weight: bold;
    font-size: 20px;
    padding-bottom:8px ;
    border-bottom: 1px solid rgba(231, 229, 229, 0.863);
}
.title-item{
    font-weight: bold;
    font-size: 20px;
}

.fl-right{
    float: right;
}

// 

.news-container{

}
.news-hot{
    width: 60%;
}
.list-news{
    width: 30%;
}
.news-slider{
    text-align: center;
}
.slider-item{
    width: 30%;
    display: inline-block;

}


