<ng-container class="container">
  <div class="nav p-1">
    <div class="float-end d-flex justify-content-between w-100">
      <div>
        <button
          type="button"
          class="btn btn-icon btn-primary"
          (click)="back()"
          *ngIf="clickQueue.length > 1"
        >
          <i class="icon-arrow_back icon-18"></i>
        </button>
      </div>
      <div>
        <button type="button" class="btn btn-icon" (click)="close()">
          <i class="icon-close icon-18"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="header p-2 d-flex flex-column" style="height: fit-content">
    <div class="pt-5">
      <img src="/assets/logos/logo-1.svg" class="h-35px" alt="" />
    </div>
    <codx-label
      class="text-dark fw-bold fs-3 my-3"
      default="Xác thực bảo mật 2 lớp"
    ></codx-label>
    <codx-label
      class="text-dark fs-7 my-3"
      default="Vui lòng chọn hình thức xác thực bảo mật 2 lớp"
    ></codx-label>
  </div>
  <div class="content p-2">
    <ng-container [ngSwitch]="clickQueue[clickQueue.length - 1]">
      <div *ngSwitchCase="'1'">
        <div *ngIf="lstOptions">
          <div
            class="row"
            *ngFor="let option of lstOptions"
            (click)="changeLogin2FAType(option)"
          >
            <div [class]="'rounded-circle col-2 icon-40 ' + option.icon"></div>
            <div class="col-8">
              <div class="text justify-content-start">
                {{ option.text }}
              </div>
            </div>
            <div class="col-2 icon-arrow_forward_ios"></div>
          </div>
        </div>
      </div>

      <ng-container *ngSwitchCase="'2'" [ngTemplateOutlet]="tmpQR">
      </ng-container>
      <ng-container *ngSwitchCase="'3'" [ngTemplateOutlet]="tmpOTP">
      </ng-container>
    </ng-container>
  </div>
</ng-container>

<ng-template #tmpQR>
  <div
    class="w-100 h-100 d-flex flex-column justify-content-center align-items-center mt-3"
  >
    <div
      class="d-flex flex-column justify-content-center align-items-center p-3"
    >
      <div
        *ngIf="!isScaned; else avatar"
        class="img d-flex justify-content-center position-relative rounded-3"
      >
        <img class="w-50 h-50 ratio ratio-1x1 rounded-3" [src]="qrBase64" />
        <div
          class="w-50 bg-secondary ratio ratio-1x1 position-absolute rounded-3"
          [ngClass]="{}"
          [ngStyle]="{
            'z-index': qrTimeout > 0 ? -1 : 1,
            'opacity': qrTimeout > 0 ? 0 : 0.9,
          }"
        ></div>
        <div
          class="otp-btn w-100 h-100 d-flex justify-content-center align-items-center position-absolute"
        >
          <button
            [disabled]="qrTimeout > 0"
            [ngStyle]="{
              'z-index': qrTimeout > 0 ? -1 : 2,
              'border':'none',
              'opacity': 0.8,
              'border-radius': '50%',
            }"
            type="button"
            (click)="generateQR()"
            tabindex="-1"
            class="btn link-dark border border-0 btn-primary w-80px h-80px"
          >
            <div class="text-light icon-i-arrow-clockwise"></div>
          </button>
        </div>
      </div>
      <ng-template #avatar></ng-template>
      <!-- //nho xoa -->
      <!-- <div class="qr-codx-msg mt-3 text-center">
        <codx-label
          class="fs-7 text-gray-600"
          default="Chỉ dùng đăng nhập CoDX trên máy tính"
        ></codx-label>
        <button
          type="button"
          (click)="testQR()"
          tabindex="-1"
          class="btn link-dark text-decoration-none border border-primary btn-primary"
        >
          <codx-label
            formModel=""
            class="text-primary"
            default="Test QR"
          ></codx-label>
        </button>
      </div> -->
    </div>
    <div class="d-flex mt-3" *ngIf="qrTimeout > 0">
      <codx-label formModel="" default="Xác thực sẽ hết hạn sau "> </codx-label>
      <span class="ms-2">
        {{ qrTimeoutMinutes }}:
        {{ qrTimeout % 60 }}
      </span>
    </div>
    <div class="qr-codx-guid d-flex flex-column text-center mt-3">
      <codx-label
        class="fw-bold text-dark fs-6"
        default="Sử dụng ứng dụng CoDX trên điện thoại để quét mã QR"
      ></codx-label>
    </div>
  </div>
</ng-template>
<ng-template #tmpOTP>
  <div class="text-start mt-3 mb-3">
    <form [formGroup]="loginFG" method="post" (ngSubmit)="login2FAOTP()">
      <div class="form-group mb-5 fv-plugins-icon-container">
        <label class="fw-bold">
          <codx-label fiedName="otp" formModel="" default="OTP"></codx-label
        ></label>
        <div
          class="d-flex align-items-center form-control form-control-solid form-control-lg px-3"
        >
          <div class="row inputs" id="inputs">
            <input
              class="col-2"
              inputmode="numeric"
              type="text"
              maxlength="1"
              id="otp-0"
              (change)="changeOTP($event, 0)"
            />
            <input
              class="col-2"
              inputmode="numeric"
              type="text"
              maxlength="1"
              id="otp-1"
              (change)="changeOTP($event, 1)"
            />
            <input
              class="col-2"
              inputmode="numeric"
              type="text"
              maxlength="1"
              id="otp-2"
              (change)="changeOTP($event, 2)"
            />
            <input
              class="col-2"
              inputmode="numeric"
              type="text"
              maxlength="1"
              id="otp-3"
              (change)="changeOTP($event, 3)"
            />
            <input
              class="col-2"
              inputmode="numeric"
              type="text"
              maxlength="1"
              id="otp-4"
              (change)="changeOTP($event, 4)"
            />
            <input
              class="col-2"
              inputmode="numeric"
              type="text"
              maxlength="1"
              id="otp-5"
              (change)="changeOTP($event, 5)"
            />
          </div>
          <!-- <div class="d-flex flex-column flex-grow-1">
            <codx-input
              type="password"
              field="password"
              placeholder="OTP"
              formControlName="password"
              [class]="'border-0'"
              (valueChange)="changeOTP($event)"
            >
            </codx-input>
          </div> -->
        </div>
      </div>
      <div class="otp-btn w-100">
        <button
          [disabled]="otpTimeout > 0 || email == '' || email == null"
          type="button"
          (click)="generateOTP()"
          tabindex="-1"
          class="btn btn-full btn-outline-primary"
        >
          <codx-label
            formModel=""
            class="text-primary"
            default="Gửi mã OTP"
          ></codx-label>
        </button>
      </div>
      <div class="" *ngIf="otpTimeout > 0">
        <codx-label
          formModel=""
          default="Xác thực sẽ hết hạn sau "
        ></codx-label>
        {{ otpTimeout / 1000 }}
      </div>
      <div class="form-group d-grid gap-2 mb-5 mt-5">
        <button type="submit" class="btn btn-primary fw-bold px-6 py-3">
          {{ "Đăng nhập " | lang : "Login" : "btnLogin" | async }}
        </button>
      </div>
    </form>
  </div>
</ng-template>
